*{
	 font-family: 'HelveticaNeue';
	box-sizing: border-box;
	position: relative;
	font-size: 16px;
}
/* Headings */
.heading-h1{font-size: 32px;    color: #000;}
.heading-h2{font-size: 30px;    color: #000;}
.heading-h3{font-size: 28px;    color: #000; font-family: 'HelveticaNeue-Bold';}
.heading-h4{font-size: 22px;    color: #000;}
/* Headings  end*/

/* buttons */
	.btn-1{border-radius: 50px;font-size: 16px; border-width: 2px; border-style: solid; transition:all .3s cubic-bezier(0.66, 0, 0.28, 1.01); -webkit-transition:all .3s cubic-bezier(0.66, 0, 0.28, 1.01);}
/* buttons end*/



/*----------Display comman--------*/
.block,.header-strip .right-nav ul li a,.logo a,.increase-budg,.num-count-point img{
	display: block;
}
/*----------Display comman End--------*/

/*----------Font Family comman--------*/
.font-bold, .heading-h1,
.increase-budg{
	font-family: 'HelveticaNeue-Bold';
}

.font-thin{
	 font-family: 'HelveticaNeue-Light';
}
/*----------Font Family comman End--------*/


/*----------Color comman--------*/
.themebg,.header-strip .navbar-default{	background-color: #1aa3a3;}
.themeft{	color: #1aa3a3;}

.whitebg,.header-banner{background-color: #fff;}
.whiteft,.header-strip .right-nav ul li a{color: #fff;}
/*----------Color comman End--------*/


/*----------Float comman--------*/
.right,.header-strip .right-nav ul{float:right;}

.left,.header-strip .right-nav ul li{float:left;}
/*----------Float comman End--------*/