/* 24-7-2017 */
a { outline: none!important; }
.step-section { padding-top: 40px; width: 100%; overflow: hidden; }
.step-section ul { padding-left: 0px; list-style: none; width: 100%; text-align: center; }
.step-section li { padding-right: 120px; display: inline-block; background: url('../images/step-line.png') right 40px no-repeat; }
.step-section li.active { background: url('../images/step-line2.png') right 40px no-repeat; }
.step-section li.last.active { background: none; }
.step-section li.active h3 { color: #1aa3a3; } 
.step-section li.active .bg { background: url('../images/hexagon-bg-hover.png') center top no-repeat; }
.step-section li.active2 .bg { background: url('../images/hexagon-bg-hover-1.png') center top no-repeat; }
.step-section li.active .icon { background: url('../images/about-icon-hover.png') center center no-repeat; }
.step-section li.active .icon.icon2 { background: url('../images/vehicle-icon-hover.png') center center no-repeat; }
.step-section li.active .icon.icon3 { background: url('../images/targetting-icon-hover.png') center center no-repeat; }
.step-section li.active .icon.icon4 { background: url('../images/payment-icon-hover.png') center center no-repeat; }
.step-section li.progressIcon .bg { background: url('../images/hexagon-bg-hover-1.png') center center no-repeat; }
.step-section li.progressIcon .icon.icon4 { background: url('../images/payment-icon-hover.png') center center no-repeat; }

.step-section .bg { float: left; width: 97px; background: url('../images/hexagon-bg.png') center top no-repeat; }
.step-section .icon { position: relative; margin-bottom: 0px; width: 97px; height: 80px; float: left; background: url('../images/about-icon.png') center center no-repeat; text-indent: -9999px; }
.step-section h3 { font-size: 13px; color: #b9b9b9; line-height: 18px; padding-top: 18px; text-transform: uppercase; }
.step-section .last { padding-right: 0px; background: none; }
.step-section .icon .start { position: absolute; top: 4px; right: 13px; width: 31px; height: 31px; background: url('../images/step1-start.png') no-repeat;  }
.step-section .icon .start.completed { background: url('../images/step1-complete.png') no-repeat;  }

.step-section .icon.icon2 { background: url('../images/vehicle-icon.png') center center no-repeat; }
.step-section .icon.icon3 { background: url('../images/targetting-icon.png') center center no-repeat; }
.step-section .icon.icon4 { background: url('../images/payment-icon.png') center center no-repeat; }
.step-section .text { padding:  5px 60px 0 60px; text-align:  center; width: 100%; overflow: hidden; }
.step-section .text h2 { font-family: 'HelveticaNeue-Bold'; font-size: 40px; color: #000; line-height: 44px; font-weight: 700; }
.step-section .text p { font-size: 16px; color: #000; line-height: 20px; }

.form-section .form-shadow { padding: 30px 60px 0px 60px; margin: 0 6% 40px 6%; width: 88%; float: left; background: #fff; border-radius: 4px; }
.form-section .icon { text-indent: -9999px; border-radius: 2px 0 0 2px; width: 53px; height: 50px; border: 2px solid #cccbc9; float: left; background: url('../images/form_icon1.png') center center no-repeat; }
.form-section .icon.icon2 {background: url('../images/form_icon2.png') center center no-repeat; }
.form-section .icon.icon3 {background: url('../images/form_icon3.png') center center no-repeat; }
.form-section .icon.icon4 {background: url('../images/form_icon4.png') center center no-repeat; }
.form-section .icon.icon5 {background: url('../images/form_icon5.png') center center no-repeat; }
.form-section .icon.icon6 {background: url('../images/form_icon6.png') center center no-repeat; }
.form-section .icon.icon7 {background: url('../images/form_icon7.png') center center no-repeat; }
.form-section label {  font-size: 16px; color:  #666876; line-height: 18px; display: block; margin-bottom: 7px; }
.form-section label a { text-decoration: underline; color:  #666876; }
.form-section label a:hover,.form-section label a:focus { text-decoration: none; }
.form-section .left-one { width: 44%; float: left; }
.form-section .left-one.add { margin-left: 110px; float: right; }
.form-section .comman { width: 100%; overflow: hidden; padding-bottom: 30px; position: relative; }
.form-section { margin:  10px 0 0 0; width: 100%; }
.form-section .btn.btn2 { background: #1aa3a3; }
.form-section .btn { outline: none; margin: 0 auto; line-height: 40px; -webkit-appearance: initial; appearance: initial; display: inline-block; font-family: 'HelveticaNeue-Medium'; border:  0px; border-radius: 52px; width: 345px; height: 52px; background: #00c866; font-size: 18px; color: #fff; text-align: center; text-transform: uppercase; }
.form-section .btn:hover,.form-section .btn.next:hover { opacity: .7; }
.form-section .vehicle .btn.second:hover { opacity: .7; }
.form-section .buttons { text-align: center; }
.form-section .or { padding: 0 10px; margin:  20px 0; display: inline-block; background: url('../images/or-bg.png') center center no-repeat; font-size: 18px; color: #ababab; line-height: 20px; text-align: center; }
.form-section .form-control { transition: box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;	padding-left: 75px; box-shadow: inherit; font-size: 18px; color: #5f5f5f; width: 100%; border: 1px solid #666876; height: 48px; border-radius: 2px; background: #fff url('../images/form-icon1.png') 2px -2px no-repeat; }
.form-section .form-control:hover { border: 1px solid #1aa3a3; background-position: 2px -52px; }
.form-section .form-control.icon2 { background: url('../images/form-icon2.png') 2px -2px no-repeat; }
.form-section .form-control.icon2:hover { background-position: 2px -52px; }
.form-section .form-control.icon3 { background: url('../images/form-icon3.png') 2px -2px no-repeat; }
.form-section .form-control.icon3:hover { background-position: 2px -52px; }
.form-section .form-control.icon4 { background: url('../images/form-icon4.png') 2px -2px no-repeat; }
.form-section .form-control.icon4:hover { background-position: 2px -52px; }
.form-section .form-control.icon5 { background: url('../images/form-icon5.png') 2px -2px no-repeat; }
.form-section .form-control.icon5:hover { background-position: 2px -52px; }
.form-section .form-control.icon6 { background: url('../images/form-icon6.png') 2px -2px no-repeat; }
.form-section .form-control.icon6:hover { background-position: 2px -52px; }
.form-section .form-control.icon7 { background: url('../images/form-icon7.png') 2px -2px no-repeat; }
.form-section .form-control.icon7:hover { background-position: 2px -52px; }
.form-section .form-control.icon8 { background: url('../images/form-icon8.png') 2px -2px no-repeat; }
.form-section .form-control.icon8:hover { background-position: 2px -52px; }
.form-section .form-control.icon9 { background: url('../images/form-icon9.png') 2px -2px no-repeat; }
.form-section .form-control.icon9:hover { background-position: 2px -52px; }
.form-section .form-control.icon10 { background: url('../images/form-icon10.png') 2px -2px no-repeat; }
.form-section .form-control.icon10:hover { background-position: 2px -52px; }
.form-section .form-control.icon11 { background: url('../images/form-icon11.png') 2px -2px no-repeat; }
.form-section .form-control.icon11:hover { background-position: 2px -52px; }
.form-section .form-control.icon12 { background: url('../images/form-icon12.png') 2px -2px no-repeat; }
.form-section .form-control.icon12:hover { background-position: 2px -52px; }
.form-section .form-control.icon13 { background: url('../images/form-icon13.png') 2px -2px no-repeat; }
.form-section .form-control.icon13:hover { background-position: 2px -52px; }
.form-section .form-control.icon14 { background: url('../images/form-icon16.png') 2px -2px no-repeat; }
.form-section .form-control.icon14:hover { background-position: 2px -52px; }
.form-section .form-control.icon16 { background: url('../images/form-icon16.png') 2px -2px no-repeat; }
.form-section .form-control.icon16:hover { background-position: 2px -52px; }
.bg2 { background: #fff; }
.form-control::-moz-placeholder { color:  #5f5f5f; }
.comman.full span { padding-bottom: 5px; width: 60%; display: block; font-size: 16px; color: #ababab; line-height: 18px; }
.comman.full span span { padding-bottom: 0px; width: 100%; font-size: 14px; }
.form-section .btn.back { margin-right: 5px; display: inline-block; background: #fff; border: 2px solid #acacac; color: #acacac; }
.form-section .btn.next { margin-left: 5px; display: inline-block; background: #00c866; line-height: 44px; }

.form-section .vehicle { overflow: hidden; padding-bottom: 40px; }
.form-section .vehicle .top-btn { text-align: center; padding-bottom: 50px; overflow: hidden; }
.form-section .vehicle .top-btn .btn {  font-family: 'HelveticaNeue-Bold'; display: inline-block; line-height: 42px; }
.form-section .vehicle .btn.second { margin-left: 44px; background: #0099fe; }

.form-section .vehicle p { font-size: 22px; color: #000; line-height: 22px;  font-family: 'Fjalla One', sans-serif; }


.form-section .vehicle ul { list-style: none; overflow: hidden; padding: 0px; }
.form-section .vehicle .bg { margin-bottom: 10px; border-radius: 4px;  background: #fff; border: 1px solid #e7e6e5; }
.form-section .vehicle .bottom-border { padding-bottom: 5px; margin-bottom: 35px; border-bottom: 2px solid #e8e7e6; }
.form-section .vehicle img { width: 100%; height: auto; }
.form-section .vehicle h3 { margin-bottom: 5px; font-size: 20px; color: #272727; line-height: 22px; font-family: 'HelveticaNeue'; }
.form-section .vehicle .mile { font-size: 16px; color: #868686; line-height: 20px; display: block; padding-bottom: 5px; }
.form-section .vehicle .regd { font-size: 16px; color: #868686; line-height: 22px; display: block; padding-bottom: 20px; }
.edit { transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; -webkit-transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; width: 124px; height: 40px; border-radius: 40px; border: 2px solid #acacac; font-size: 14px; color: #868686; line-height: 36px; display: block; text-align: center; }
.edit:hover { background: #acacac; color: #fff; text-decoration: none; } 
.form-section .vehicle .text { padding-left: 30px; padding-bottom: 25px; overflow: hidden; width: 100%; }
.form-section .vehicle .image img { max-height: 175px; border-radius: 2px 2px 0 0; display: block; }
.form-section .vehicle .image { overflow: hidden; }
.comman.full span.btn-file { margin:  0 auto; position: relative; overflow: hidden; background: url('../images/input-file.jpg') no-repeat; width: 420px; height: 314px; }
.btn-file input[type=file] { position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; cursor: inherit; display: block; }
.form-section .vehicle.advertise .bg { min-height: 360px; }

.miles ul { padding: 0px 0 10px 0; list-style: none; overflow: hidden; }
.miles li { font-family: 'Fjalla One', sans-serif; padding-top: 20px; margin-left: 14px;    margin-bottom: 14px; float: left; font-size: 28px;
 color: #000; line-height: 30px; font-weight: 600; width: 92px; height: 87px; border: 1px solid #666876; border-radius: 2px; text-align: center; }
.miles li:first-child, .miles li:nth-child(6) { margin-left: 0px; }
.miles li:hover,.miles li.active { cursor: pointer;   border: 1px solid #1aa3a3;   background: #1aa3a3;    color: #fff;}
.miles h3 { padding-bottom: 12px; margin-top: 0px; font-size: 26px; color: #000; line-height: 28px; }
.miles span { display: block; font-size: 15px; line-height: 16px; }
.miles li.active { }
.miles .or { margin: 40px 0 50px 0; color: #000; }
.specific h3 { margin-bottom: 20px; font-size: 26px; color: #000; }
.specific .comman.buttons { margin-top: 15px; }
.form-section .form-control.gap { background: none; padding-left: 20px; font-weight: 700; }

.step-section.step-out { padding-top: 0px; }
.step-section.step-out .edit { transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; font-size: 16px; height: 44px; width: 207px; border: 2px solid #1aa3a3; border-radius: 44px; color: #1aa3a3; line-height: 42px; margin:  30px auto 0 auto; }
.step-section.step-out .edit:hover { background: #1aa3a3; text-decoration: none; color: #fff; }
.form-section .form-shadow.tab-sec { padding: 0px; }
.form-section .form-shadow.tab-sec .nav-tabs li .red { color: #d70a0a; font-family: 'HelveticaNeue-Medium'; } 

.form-section .form-shadow.tab-sec .nav-tabs li { 
box-shadow: inset 8px 0px 8px 0px #0e7d7d, 0px 0px 0px 0px #0e7d7d;
-webkit-box-shadow: inset 8px 0px 8px 0px #0e7d7d, 0px 0px 0px 0px #0e7d7d;
-moz-box-shadow: inset 8px 0px 8px 0px #0e7d7d, 0px 0px 0px 0px #0e7d7d;
-o-box-shadow: inset 8px 0px 8px 0px #0e7d7d, 0px 0px 0px 0px #0e7d7d;
width: 20%; float: left; background: #1aa3a3; height: 80px; margin: 0px; }


.form-section .form-shadow.tab-sec .nav-tabs > li > a { font-family: 'HelveticaNeue-Bold'; border: none; border-radius: 0px; font-size: 16px; color: #000; line-height: 80px; text-align: center; padding: 0px; margin: 0px; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a:hover { background:#a3e2e2; }
.form-section .form-shadow.tab-sec .nav-tabs { border: none; }
.form-section .form-shadow.tab-sec .tab-content { padding: 50px 6% 0 6%; }
.form-section .form-shadow.tab-sec .change { font-size: 15px; color: #1aa3a3; line-height: 16px; text-decoration: underline; margin-top: 10px; float: left; }
.form-section .form-shadow.tab-sec .question { text-indent: -9999px; width: 54px; height: 54px; float: left; background: url('../images/question-icon.png') no-repeat; }
.form-section .form-shadow.tab-sec .tab-pane { padding-bottom: 20px; overflow: auto; }
.form-section.less { margin-top: 40px; }
.tab-pane .table { border: 1px solid #dedede; border-collapse: unset;}
.tab-pane .table tr th { border-left: 1px solid #f0f0f0; }
.tab-pane .table tr th:first-child { border-left: none; }
.tab-pane .table .invoice { color: #1aa3a3; font-family: 'HelveticaNeue-Medium'; }
.tab-pane .table .invoice:hover { text-decoration: none; }
.table > thead > tr > th { border-bottom: 2px solid #dedede; font-family: 'HelveticaNeue-Bold'; }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { border-top: 1px solid #dedede; }
.tab-pane .table tr th,.tab-pane .table tr td { padding: 0 0 0 30px; font-size: 16px; color: #4f5564; line-height: 48px; }
.tab-pane .table tr { border: 1px solid #dedede; }
.tab-pane .table tr:nth-child(odd) td { background: #fafbfc; }

.different-option h3 { font-size: 30px; color: #000; line-height: 32px; margin-bottom: 10px; }
.different-option h3 span { font-size: 18px; color: #000; line-height: 20px; display: block; padding-top: 3px; }
.different-option ul { list-style: none; margin: 0px; padding: 0px; }
.different-option li { padding-left: 8px; float: left; width: 96%; background: url('../images/different-dot.png') left 10px no-repeat; }
.different-option li a { float: left; font-size: 14px; color: #585858; line-height: 22px; }

.header-strip .right-nav ul li.funds a { margin-top: 0px; padding-bottom: 0px; margin-bottom: 10px; font-size: 18px; }
.header-strip .right-nav ul li.funds a span { font-size: 18px; display: block; }
.step-section.top-less { padding-top: 40px; }
.navbar-toggler { display: none; }
.navigation ul { padding: 0px; margin-top: 12px; width: 100%; list-style: none; }
.navbar-default .navbar-nav > li > a.active { font-family: 'HelveticaNeue-Bold'; }
.navbar-default .navbar-nav > li { padding-right: 30px; }
.navbar-default .navbar-nav > li > a { float: left; padding:  0px 5px 0px 5px; transition: all 0.2s ease 0s; font-size: 15px; color: #fff; line-height: 18px; }

.navbar { margin-bottom: 0px;  border: 0px;  padding-left: 0px;     margin-top: 13px;}
.navbar-default .navbar-nav > li > a:hover { text-decoration: none; color: #fff; } 
.navbar-default .navbar-nav > li > a .one { width: 20px; height: 20px; background: #fff; border-radius: 20px; text-align: center; font-size: 15px; color: #f20000; line-height: 20px; display: inline-block; padding: 0px; }

.affix { width: 100%; z-index: 999; transition: all .7s ease 0s; }
.choosenBtn.less-btn { padding-top: 60px; }
.active-buyers.page28 { padding-bottom: 60px; }

/* home page */
.bg3 { background: #fefefe; }
.num-counter.edit2 h3 { margin: 0px 0 90px 0; font-family: 'HelveticaNeue-Bold'; font-size: 32px; color: #000; line-height: 34px; text-align: center; }
.num-counter.edit2 .num-count-point p { font-family: 'Fjalla One', sans-serif; margin-bottom: 0px; font-size: 16px; color: #000033; line-height: 18px; text-transform: uppercase; }
.num-counter.edit2 .heading-h2 { font-family: 'Fjalla One', sans-serif; font-size: 26px; margin-top: 8px; }
.num-counter.edit2 .heading-h2 span { font-weight: bold; }
.active-buyers.color-changed { padding:  70px 0; background: #f8f8f8; }
.active-buyers.color-changed .activebuy-inner p { font-size: 14px; color: #585858; line-height: 22px; }
.active-buyers.color-changed .activebuy-cont { width: 90%; }

.form-section.listing.add-more { padding-top: 50px; padding-bottom: 40px; color: #000; }
.form-section.add-more .form-shadow { margin-top: 40px; background: #fff; }
.banner-section { width: 100%; position: relative; margin-top: -10px; z-index: 1; height: 500px; }

.banner-section .over { width: 95%; position: absolute; top: 100px; left: 30px; z-index: 999;  }
.banner-section h2 { float: left; }
.banner-section h2 span { display: block; margin-bottom: 10px; }
.banner-section h2 label.f-one { padding-top: 7px; }
.banner-section h2 label.f-two { padding-bottom: 10px; }
.banner-section h2 label { padding: 2px 10px; font-size: 36px; color: #fff; font-weight: bold; line-height: 45px; margin-bottom: 0px; background: #01a5a4; }
.banner-section img { width: 100%; object-fit: cover; height: 100%; }

.banner-section .now { margin-top: 60px; width: 242px; height: 65px; transition: all 0.2s ease;-webkit-transition: all 0.2s ease; float: right; font-size: 27px; color: #fff; text-align: center; line-height: 65px; font-weight: bold; text-transform: uppercase; background: #1dce6b; }
.banner-section .now:hover {        text-decoration: none;    background: #3dde84; }
.header-strip .right-nav ul li:last-child a.sign { text-align: center; }
.num-counter.edit2 { background-color: #fefefe; }

.model-section { width: 100%; overflow: hidden; height: 426px; position: relative; }
.model-section:before { position: absolute; left: 0px; top: 0; background: #01a5a4; content: ""; width: 50%; float: left; min-height: 426px; }
.model-section:after { position: absolute; right: 0px; top: 0; background: url('../images/model-img.png') no-repeat; content: ""; width: 50%; float: left; min-height: 426px; background-size: cover; }
.model-section ul { list-style: none; overflow: hidden; margin: 0px; padding: 0px; }
.model-section .over { z-index: 99; position: absolute; top: 40px; left: 9%; }
.model-section .model-bg { width: 100%; overflow: hidden; height: 426px; position: relative; z-index: 9; }
.model-section .model-bg:after { position: absolute; right: 0px; top: 0; background: #30cc1c80; content: ""; width: 50%; float: left; min-height: 426px; }
.model-section li { padding: 60px 0 0 0; float: left; width: 100%; }
.model-section li .icon { float: left; width: 16%; }
.model-section li a { float: left; padding-top: 6px; font-size: 16px; color: #fefefe; line-height: 18px; }
.model-section h3 { margin-bottom: 50px; font-size: 30px; color: #fff; line-height: 32px; font-weight: bold; }
.model-section p { padding-bottom: 40px; font-size: 16px; color: #fff; line-height: 28px; }
.model-section .create-btn { float: left; width: 217px; height: 49px; border: 2px solid #8ccf84; border-radius: 200px; font-size: 18px; color: #fff; text-align: center; line-height: 46px; transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; }
.model-section .create-btn:hover { background: #8ccf84; color: #000; text-decoration: none; }

.part4atype{
	padding-bottom: 250px !important;
}
.part4atype textarea{
	border: 0px;
	border-bottom: 1px solid #bbb;
	width: 100%;
	outline: none;
	resize: none;
}
.part4atypeExamp {
    padding: 20px 0 !important;
    margin-bottom: 70px !important;
}
.part4atypeExamp ul {
	padding: 0; margin: 0; list-style: none;
}
.part4atypeExamp ul li{
	float: left;
	padding: 0px 20px
}
.part4atypeExamp ul li:nth-child(1){
	width: 20%;
}
.part4atypeExamp ul li:nth-child(2){
	width: 80%;	
	padding: 20px 20px 20px 0;
	color: #868585;
	    letter-spacing: .5px;
    word-spacing: 3px;
 }
 .part4atypeExamp ul li:nth-child(2) p span{
    display: inline-block;
    margin-left: -18px;
    width: 20px;
 }
  .part4atypeExamp ul li:nth-child(2) p span.bottomSpn{
 	margin-left: 10px;
 }
 .part4atypeExamp ul li:nth-child(2) h3{
	color: #000;
    font-size: 15px;
    font-weight: bold;
}
.form-section.pride h2 { margin-top: 0px; font-size: 24px; color: #292929; line-height: 26px; margin-bottom: 8px; }
.form-section.pride .more { font-size: 16px; color: #1aa3a3; line-height: 18px; }
.form-section.pride { margin-top: 30px; }
.form-section.pride.less { margin-top: 0px; padding-top: 60px; }
.form-section.pride.less h3 { padding-bottom: 40px; }
.white { background: #fefefe; }
.gray { background: #f8f8f8; }
.form-section.listing.add-more.gray { margin-top: 0px!important; }
.active-buyers.gap { padding: 50px 0; }
.part4atypeExamp ul li .author { color: #000; font-weight: bold; }

.footer-section { padding: 40px 0 30px 0; background: #01a5a4; width: 100%; overflow: hidden; }
.footer-section ul { list-style: none; overflow: hidden; padding: 0px; margin: 0px; }
.footer-section li { padding: 0 12px; float: left; background: url('../images/footer_divider.png') left center no-repeat; }
.footer-section .social { float: right; }
.footer-section .social li.social-icon4 { margin-right: 0px; }
.footer-section li:first-child { padding-left: 0px; background: none; }
.footer-section li a { transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; float: left; font-size: 16px; color: #fff; line-height: 20px; }
.footer-section li a:hover { color: #ababab; text-decoration: none; }
.footer-section p { font-size: 16px; color: #fff; line-height: 20px; padding-top: 30px; }
.footer-section h3 { margin: 0px; font-size: 16px; color: #fff; line-height: 20px; margin-bottom: 10px; }
.footer-section .social li { margin-right: 20px; background: none; padding: 0px; }
.footer-section .social li a { transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; width: 44px; height: 38px; text-indent: -9999px; border: 1px solid #fff; background: url('../images/social-icon1.png') center center no-repeat; }
.footer-section .social li a:hover { background: #fff url('../images/social-icon1-hover.png') center center no-repeat; }
.footer-section .social li.social-icon2 a { background: url('../images/social-icon2.png') center center no-repeat; }
.footer-section .social li.social-icon3 a { background: url('../images/social-icon3.png') center center no-repeat; }
.footer-section .social li.social-icon4 a { background: url('../images/social-icon4.png') center center no-repeat; }
.footer-section .social li.social-icon2 a:hover { background: #fff url('../images/social-icon2-hover.png') center center no-repeat; }
.footer-section .social li.social-icon3 a:hover { background: #fff url('../images/social-icon3-hover.png') center center no-repeat; }
.footer-section .social li.social-icon4 a:hover { background: #fff url('../images/social-icon4-hover.png') center center no-repeat; }

.carousel-indicators { bottom: -45px; }
.carousel-indicators li { margin: 0px; width: 7px; height: 7px; border-radius: 0px; border: 1px solid #c2c2c2; background: #fff; }
.carousel-indicators .active { margin: 0px; width: 7px; height: 7px; border: 1px solid #00cf5e; background: #00cf5e; }

.advert-section { padding: 30px 0 30px 0; width: 100%; overflow: hidden; position: relative; background:#FF504E; }
.advert-section ul { list-style: none; overflow: hidden; margin: 0px; padding: 0px; }
.advert-section li { transition: all 0.5s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; }
.advert-section li:hover a { text-decoration: none; }
.advert-section .icon { padding-left: 98px; float: left; background: url('../images/model_icon1.png') left top no-repeat; }
.advert-section .icon2 { background: url('../images/model_icon2.png') left top no-repeat; }
.advert-section .icon3 { background: url('../images/model_icon3.png') left top no-repeat; }
.advert-section a { float: left; padding-top: 6px; padding-bottom: 16px; font-size: 16px; color: #fefefe; line-height: 18px; font-family: 'HelveticaNeue-Bold'; }

.form-section.pride.less .form-shadow { width: 100%; margin: 0px; }
.exist-section { width: 100%; overflow: hidden; height: 380px; position: relative; }
.exist-section:after { position: absolute; left: 0px; top: 0; background: url('../images/model-img2.png') no-repeat; content: ""; width: 100%; float: left; min-height: 380px; background-size: cover; }
.exist-section .over { z-index: 99; position: absolute; top: 40px; left: 0px; text-align: center; width: 100%; }
.exist-section .model-bg { width: 100%; overflow: hidden; height: 380px; position: relative; z-index: 9; }
.exist-section .model-bg:after { position: absolute; left: 0px; top: 0; background: rgba(48, 204, 28, 0.6); content: ""; width: 100%; float: left; min-height: 380px; }
.exist-section h3 { margin-bottom: 50px; font-family: 'HelveticaNeue-Bold'; font-size: 32px; color: #fff; line-height: 32px; font-weight: bold; }
.exist-section p { padding-bottom: 50px; font-size: 16px; color: #fff; line-height: 28px; }
.exist-section .create-btn { margin: 0 auto; display: block; width: 235px; height: 49px; border: 2px solid #8ccf84; border-radius: 200px; font-size: 18px; color: #fff; text-align: center; line-height: 46px; transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; }
.exist-section .create-btn:hover { background: #8ccf84; color: #000; text-decoration: none; }
.birmin strong { display: block; }
.birmin { text-align: center; border-radius: 4px; width: 139px; height: 117px; background: #f8fafc; box-shadow: 1px 4px 8px 1px #e9e9e9; font-size: 16px; color: #868585; line-height: 22px; }
.birmin .birmin-small { font-size: 15px; color: #67cac9; line-height: 20px; padding-bottom: 3px; display: block; }
.birmingham { margin: 0px; overflow: hidden; padding: 8px 0 0 8px; list-style: none; }
.birmingham .active .birmin { color: #fff; background: #67cac9; }
.birmingham .active .birmin-small { color: #c5fbfa; }
.birmingham li { margin: 0 18px 30px 0; float: left; }
.birmingham .inner { display: table; }
.birmingham .inner .birmin { display: table-cell; vertical-align: middle; }
.birmingham li:nth-child(6n) { margin-right: 0px; }
.lode-more { background: #00c866; transition: all 0.5s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; -webkit-transition: all 0.5s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; font-size: 15px; color: #fff; line-height: 46px; width: 142px; height: 47px; text-align: center; display: block; border-radius: 2px; margin: 10px auto 10px auto; }
.lode-more:hover { color: #fff; text-decoration: none; background: #01a7a5; }

.form-section .form-control.select2 { font-size: 12px; color: #868585; line-height: 14px; float: right; margin-bottom: 30px; position: relative; z-index: 999; width: 164px; height: 32px; border: 1px solid #f3f4f8; border-radius: 32px; padding: 0px 0 0 10px;  
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    background: #fbfcfd url('../images/select-arrow.png') 93% center no-repeat;
 }
.form-section .form-control.select2 option { font-size: 12px; color: #868585; line-height: 14px; }
.first-one { width: 20%; float: left; }
.second-one { padding-top: 40px; width: 40%; float: left; }
.third-one { padding-top: 30px; width: 34%; float: right; }
.third-one .text { padding: 0 20px; display: block; text-align: center; border-radius: 40px; background: #fdfefe; border: 1px solid #f3f4f8; font-size: 14px; color: #868585; line-height: 30px; }
#transactions ul { padding: 0px; margin: 0px; overflow: hidden; }
#transactions li { padding-bottom: 10px; float: left; width: 100%; list-style: none; } 
#transactions .birmingham { padding-top: 2px; overflow: visible; }

.progress { background: none; box-shadow: inherit; border-radius: 40px; height: 17px; }
.progress-bar { box-shadow: inherit; background: #8ed8d7; }
.form-section #transactions .form-control.select2 { margin-bottom: 0px; }
#transactions .birmin { height: 90px; } 
.active-buyers.gap h3 { margin-top: 0px; margin-bottom: 40px; text-align: center; font-size: 28px; font-family: 'HelveticaNeue-Bold'; color: #000; }
.preview { position: fixed; bottom: 15px; right: 20px; font-size: 15px; color: #666876; line-height: 16px; font-family: 'HelveticaNeue-Bold'; }
.preview:hover,.preview:focus,.preview:active { color: #666876; text-decoration: none; }
.miles.deal { margin-top: 8px; }
.find-details { display: none; padding-top: 60px; }
.miles.deal li { font-size: 20px; padding-top: 25px; }

.card-adjust { width: 100%; overflow: hidden; }
.modal-body img { max-width: 100%; height: auto; }
.modal-header { border: none; }
.modal-header .close { position: absolute; top: 10px; right: 15px; z-index: 999; cursor: pointer; } 
.form-section .form-control.icon8 { background: #ffe000; padding-left: 0px; text-align: center; font-weight: bold; text-transform: uppercase; }

.circle { padding-top: 15px; border: 1px solid #d0d0d0; width: 107px; height: 107px; margin: 0 auto; border-radius: 107px; }
.numscrollerCount.subAdd p { font-size: 12px; }
.subAdd .num-count-point .heading-h2 { margin-top: 2px; }
#numscrollerCount .auto-adjust { width: 750px; margin: 0 auto; }
.form-section .listingDetail-3 .form-control.icon8 { margin-bottom: 30px; height: 35px; width: 55%; }

.form-section .form-control.icon8.cusPlace { margin-left: 15px; float: right; width: 30%; height: 42px; font-size: 15px; }

/* pop up slider */
.left-side { width: 40%; float: left; padding-top: 15px; padding-bottom: 15px; }
.right-side { position: relative; padding-left: 25px; width: calc(100% - 40%); float: left; border-left: 1px solid #ccc; }
.phone { padding: 20px 25px 0 25px; border-left: 1px solid #ccc; width: 45%; float: right; position: absolute; top: 0px; right: 0px; bottom: 0px; right: 0px; }
.phone span { font-size: 12px; color: #868585; line-height: 14px; display: block; }
.phone span strong { font-weight: normal; text-transform: uppercase; font-size: 12px; color: #868585; line-height: 14px; }
.phone .list-num { padding-top: 30px; font-size: 18px; color: #292929; line-height: 20px; font-weight: bold; }
.phone .list-num .num { font-size: 30px; color: #1aa3a3; line-height: 32px; font-weight: normal; }
.switch.edit3 { height: 52px; width: 236px; margin-top: 40px; }
.onC.add, .offC.add { height: 52px; text-align: left; font-size: 13px; }
.onC.add { padding: 10px 10px 10px 55px; }
.offC.add { padding: 10px 55px 10px 10px; }
.edit3 .slider { background: #1aa3a3; }
.edit3 input:checked + .slider::before { transform: translateX(184px); }
.edit3 .slider::before { height: 48px; width: 48px; }
#slider-thumbs.col-sm-3 { padding-left: 0px; }
.left-side #carousel-bounding-box img,.carousel-inner > .item { border-radius: 4px; }
.carousel-control.left,.carousel-control.right { background: none; display: none; }
.left-side ul { list-style: none; margin: 0px; padding: 0px; float: left; }
.left-side .thumbnail { padding: 0px; margin: 0 0 17px 0; border-radius: 0px; border: 0px; }
.left-side .last .thumbnail { margin-bottom: 0px; }
.left-side .thumbnail img { border-radius: 4px; width: 64px; height: 64px; border: 1px solid #e8ebf0; }
a.thumbnail.active img, a.thumbnail:focus img, a.thumbnail:hover img { border: 1px solid #1aa3a3; }
.right-side .find-details { display: block; padding-top: 0px; }
.right-side h1 { margin-bottom: 30px; }
.right-side li { font-size: 14px; line-height: 28px; color: #868585; }
.right-side h1 span { display: block; color: #868585; font-size: 13px; line-height: 14px; padding-top: 3px; }
.right-side .find-details span.left1 { float: left; width: 33%; font-family: 'HelveticaNeue'; color: #868585; }
.right-side .find-details span { color: #292929; }
.right-side .find-details .gap { padding-top: 30px; padding-bottom: 10px; }
.right-side .find-details .gap span { font-size: 12px; color: #868585; line-height: 14px; }
#carousel-bounding-box { width: 96%!important; overflow: hidden; }
.find-details ul, .make-changes ul {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#myModal.mode .modal-body { padding-top: 0px; }
#myModal.mode .form-section { margin-top: 0px; }
#myModal.mode h2 { margin-top: 0px; margin-bottom: 30px; text-align: center; }
#myModal.mode .modal-header { padding-top: 0px; }
#myModal.mode .form-section .form-shadow { width: 94%; margin-left: 0px; margin-right: 0px; }
#myModal.mode .modal-dialog { width: 1170px; }

/* social comment */
.listingDetail-3 .social-comment { border-top: 1px solid #ededec; overflow: hidden; width: 100%; padding-top: 28px; }
.listingDetail-3 .social-comment ul { list-style: none; overflow: hidden; text-align:  center; } 
.listingDetail-3 .social-comment li { padding: 0 12px; width: auto; color: #868585; float: none; display: inline-block; line-height: 22px; text-align: left; } 
.listingDetail-3 .social-comment li .social-icon1 { padding-left: 32px; font-size: 13px; float: left; background: url('../images/social-icon5.png') left center no-repeat; } 
.listingDetail-3 .social-comment li .social-icon2 { padding-left: 32px; float: left; background: url('../images/social-icon6.png') left center no-repeat; } 
.listingDetail-3 .social-comment li .social-icon3 { padding-left: 32px; float: left; background: url('../images/social-icon7.png') left center no-repeat; } 
.listingDetail-3 { padding: 0px; }
.listingDetail-3 .prest { padding: 30px 0 0 0; }

.ask { padding: 0 20px; margin: 30px 0 50px 0; border-radius: 4px; text-transform: uppercase; background: #32b371; font-size: 18px; color: #fff; line-height: 48px; text-align: center; float: left; }
.ask:hover { text-decoration: none; }
.vehicle-tab-section { width: 100%; overflow: hidden; }
.vehicle-tab-section .nav-tabs > li.active > a,.vehicle-tab-section .nav-tabs > li.active > a:focus,.vehicle-tab-section .nav-tabs > li.active > a:hover {
    background: transparent;
    color: #060606;border:  none;font-family:'HelveticaNeue-Bold';  padding: 10px 20px;
    border-bottom: 5px solid #01a5a4;}
.vehicle-tab-section .nav > li > a { padding: 10px 20px; font-family:'HelveticaNeue-Bold'; color: #999; border-bottom: 5px solid #fefefe; }
.vehicle-tab-section .nav-tabs > li > a:hover {     background: #eee;
    color: #000;
    border-bottom: 5px solid #eee;}
.vehicle-tab-section .tab-content {     padding: 20px;
    margin-bottom: 40px;
    min-height: 232px;
    border: 1px solid #ddd; color: #777; }
.vehicle-tab-section .nav { }

.range-slider ul { padding: 0px; margin: 0px; overflow: hidden; list-style: none; }
.range-slider { padding-top: 9px; padding-bottom: 30px; width: 100%; overflow: hidden; }
.range-slider li { margin-left: 1.3%; float: left; position: relative; width: 32.4%;     margin-bottom: 9px; }
.range-slider li:first-child { margin-left: 0px; }
.range-slider li:nth-child(4) { margin-left: 0px; }
.range-slider .heading { font-size: 13px; padding-top: 5px; color: #01a5a4; text-align: center; display: block;font-family: 'HelveticaNeue-Medium'; }
.range-slider .progress-bar.pound span::before { content: '£'; }
.range-slider li >div{background-color: #fbfbfb;    border: 1px solid #f0efef; height: 135px;
    padding: 15px 0px;}
.range-slider li >div >section:nth-child(2){float: right;
   width: 125px;
    padding: 0px 10px;}




.range-slider li >div >section:nth-child(1){ float: left;     padding: 16px 9px;}

.range-slider li >div >section:nth-child(1) span{ color: #868585; }