@media (min-width: 1200px){

.container { width: 1210px; }

}

@media screen and (min-width:980px) and (max-width:1170px) { 
.col-lg-4.col-md-4.male { width: 28%; margin-left: 30px; margin-top: 1px; padding-right: 0px; }
.listingDetail-3 h1 { font-size: 24px; }
.listingDetail-1 ul li span { font-size: 18px; }
.listingDetail-1 ul li p { font-size: 14px; }
input:checked + .slider::before { transform: translateX(95px); }
.onC, .offC { font-size: 10px; }


}
@media screen and (max-width:1070px){
    .vehicle-detailed .container {
        width: auto;
    }
}
/* responsive Document */
@media screen and (min-width:768px) and (max-width:1170px) { 
.step-section .text { padding-left: 70px; padding-right: 70px; }
.form-section .left-one.add { margin-left: 85px; }
.form-section .vehicle .image img { max-height: 130px; }
.form-section .vehicle h3 { font-size: 16px; }
.page4block { width: 190px; }
.form-section .vehicle.advertise p { font-size: 15px!important; }
.form-section .vehicle.advertise .bg { min-height: 310px; }
.page4block { height: 140px; }
.estimatere {
    min-height: 310px;
}
.miles li { margin-left: 12px; width: 69px; height: 69px; font-size: 18px; padding-top: 8px; }
.miles ul { padding-bottom: 10px; }
.miles span { font-size: 14px; }
.form-section label { font-size: 13px; }
.form-section .specific .form-control { font-size: 13px; }
.form-section .carnumber .btn.back { font-size: 14px; }
.listingDetail-1 ul li span { font-size: 26px; }
.listingDetail-1 ul li p { font-size: 12px; }
.listingDetail-3 h1 { font-size: 12px; margin-top: 3px; }
.listingDetail-3 ul li h2 { margin-top: 0px; font-size: 18px; }
.form-section .listingDetail-3 .form-control.icon8 { width: 70%; margin-bottom: 20px; }
.listingDetail-1 li { padding-top: 6px; padding-bottom: 7px; }
.listingDetail-3 .social-comment li span { font-size: 12px; }
.listingDetail-3 .social-comment li { padding: 0 4px; }
.listingDetail-3 .prest { padding-top: 5px; }
.banner-section h2 { font-size: 20px; }
.banner-section h2 span,.banner-section h2 label { font-size: 20px; }
.part4atypeExamp li img { max-width: 100%; height: auto; }
.pricingStepsUl  li > section{min-height: 438px;}
.pricingStepsUl li{	margin-bottom: 15px; }
.birmin { width: 108px; height: 100px; font-size: 14px; }
.birmin strong { font-size: 14px; }
.banner-section { height: auto; }
#myModal.mode .modal-dialog { width: 96%; }
.form-section .btn { width: 310px; }
.switchbtnp1 input:checked + .slider::before { transform: translateX(104px); }
.left-side { width: 35%; }
.right-side { width: calc(100% - 35%); }
.right-side .phone { padding-right: 0px; }
.right-side .switch.edit3 { width: 236px!important; }
.listing-price span { font-size: 15px; }
.listingDetail-4 .edit { margin-left: 4%; margin-right: 4%; }
.listingDetail-3 .social-comment { padding-top: 22px; }
.num-counter.edit2 h3 { margin-bottom: 40px; }
.form-section.listing.add-more { padding-top: 20px; padding-bottom: 10px; }
.report-chart-1 { padding: 20px 0; }
.form-section.pride.less { padding-top: 10px; padding-bottom: 30px; }
.form-section.pride.less h3 { padding-bottom: 20px; }
.miles .or { margin: 20px 0 10px 0; }
.tab-pane .table tr th, .tab-pane .table tr td { font-size: 14px; }
    .navigation-home-1 ul li {    
        padding-left: 10px;
    }
    .navbar-default .navbar-nav > li {
    padding-right: 10px;
}


}

@media screen and (min-width:768px) and (max-width:980px) { 
.topupFundsPopup{    height: 410px;}
.form-section .left-one { width: 100%; padding-bottom: 20px; }	
.form-section.page-10-form .left-one { width: auto; }	
.form-section .form-shadow { padding: 30px 30px; }
.form-section .comman { padding-bottom: 0px; }
.step-section li { padding-right: 90px; background: url('../images/step-tab.png') right 54px no-repeat; }
.step-section li.active { background: url('../images/step-tab2.png') right 54px no-repeat; }
.form-section .btn.back { width: 45%; margin-top: 30px; }
.form-section .btn.next { width: 45%; margin-top: 30px; }
.comman.full span { width: 100%; }
.page-10-form label .cardIcon{position: relative; margin-top: 5px; margin-bottom: 5px; }
.page-10-form label{position: relative;height: auto;}
.page-10-form .nocard{  padding-bottom: 15px;}
.form-section .vehicle .top-btn .btn { width: 45%; }
.step-section .text { padding-top: 0px; }
.form-section { margin-top: 30px; }
.form-section .form-shadow { padding-bottom: 40px; }
.comman.full span.btn-file { margin-bottom: 10px; }
.activebuy-col{margin-bottom:25px;}

.page4block { width: 107px; float: left; margin-left: 17px; }
.page4block.last input[type="text"] { width: 100%; }
.miles li { width: 53px; height: 60px; padding-top: 6px; }
.miles span { font-size: 12px; line-height: 12px; }

.col-lg-4.col-md-4.male { width: 60%; margin: 0px auto; padding-right: 15px; }
.circleText div:nth-child(3),.circleText div:nth-child(4) { padding-left: 0px; }
.row { margin:  0px; }
.header-banner,.num-counter,.report-chart { padding: 30px 0; } 
.report-chart-1 { padding: 0px 0 30px 0; }
.report-chart-1 .downloadReportbtn { padding-top: 0px; }
.form-shadow .ortext { padding: 20px 0 10px 0; }
.choosenBtn { padding-top: 50px; }
.form-section.page-10-form .comman { padding-bottom: 20px; }

nput:checked + .slider::before { transform: translateX(94px); }
.onC, .offC { font-size: 8px; }
.listingDetail-1 ul li p { padding-top: 0px; }
.listingDetail-1 ul li span { line-height: 30px; }
.onC { padding-right: 13px; }
.listing-price { font-size: 20px; }
.listing-price span { font-size: 14px; }
.listingDetail-4 .edit { margin: 12px 5px 0 5px; font-size: 11px; }
.slider::before { left: 2px; }
.listingDetail-3 { width: 61%; }
.listingDetail-4 { width: calc(100% - 61%); }
.switchbtn { padding-left: 5px; padding-right: 5px; }
.listingDetail-4 .switchbtn { margin-top: 15px!important; }
.form-shadow.carnumber .comman.buttons { padding-top: 0px!important; }

input:checked + .slider::before { transform: translateX(73px); }
.listingDetail-1 ul li p br { display: none; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a { font-size: 13px; }
.tab-pane .table { width: 760px; }
.table { max-width: inherit!important; }
.form-section .comman.left-less { padding-top: 10px; }
.form-section .comman.left-less .left-one { width: auto; }
.navigation { position: relative; top: auto; left: auto; text-align: center; padding-top: 10px; margin-bottom: 0px; width: 100%; overflow: hidden; }
.navbar-collapse.collapse { overflow: hidden; }
.navbar-collapse.collapse ul { width: 100%; overflow: hidden; }
.navbar-nav > li a { float: left; }

.banner-section h2 { padding: 20px; font-size: 15px; line-height: 24px; }
.banner-section h2 span,.banner-section h2 label { font-size: 16px; line-height: 24px; }
.banner-section h2 br { display: none; }
.num-counter.edit2 { margin-top: 0px; }
.model-section li .icon { width: 24%; }
.navigation { right: auto; }
.birmin { width: 122px; }
.birmingham li:nth-child(6n) { margin-right: 18px; }
.birmingham li:nth-child(4n) { margin-right: 0px; }
.first-one { width: 28%; }
.second-one { width: 33%; }
.third-one .text { font-size: 13px; padding: 5px 10px; }
.third-one { padding-top: 25px; }
.second-one { padding-top: 50px; }
.banner-section .now { position: absolute; top: 115px; right: 0px; margin: 0px; }
.pricingStepsUl li > section div:nth-child(2) h3 { font-size: 24px; }
.pricingStepsUl li > section div:nth-child(3) p { font-size: 16px; }
.want-to-talk-2 div span { font-size: 45px; }
.num-counter.edit2 h3 { margin-bottom: 30px; }
.page-1-3 .left-one {
    width: 50% !important;
}
.page-1-3 .switchbtn{
        padding-top: 00px;
}
.page-1-3 .left-one.lastp1 {
    width: 100% !important;
}
.form-section .btn{width: 250px; font-size: 15px;}
.left-side { width: 100%; }
.right-side { width: 100%; padding-left: 0px; border: 0px; }
.left-side #slider { padding-left: 0px; }
#carousel-bounding-box { width: 92%; }
.switchbtnp1 input:checked + .slider::before { transform: translateX(94px); }
.listingDetail-3 .audi { padding: 4% 4% 0 4%; }
.listingDetail-3 h1 { margin: 0px 0 10px 0; }
.form-section .listingDetail-3 .form-control.icon8 { font-size: 10px; margin-bottom: 8px; }
.listingDetail-3 .prest { padding-top: 3px; font-size: 10px; }
.listingDetail-3 ul li p { margin-bottom: 0px; }
.listingDetail-3 ul li h2 { font-size: 14px; float: none; display: block; }
.listingDetail-3 ul li p { font-size: 11px; line-height: 12px; }
.listingDetail-3 .social-comment { padding-top: 12px; padding-bottom: 5px; margin-top: 4px; }
.listing .form-shadow .listing-img { width:  37%; }
.listing .form-shadow .listing-detail { width: calc(100% - 37%); }
.listingDetail-3 { width: 70%; }
.listingDetail-4 { width: calc(100% - 70%); }
#numscrollerCount .auto-adjust,.sc-wrapper { width: 100%; }
.form-section .form-control.icon8.cusPlace { width: 40%; }
.form-section .form-shadow { padding-bottom: 0px; margin-bottom: 20px; }
.num-counter.edit2 h3 { font-size: 24px; }
.active-buyers.gap { padding: 30px 0 20px 0; }
.footer-section li a,.footer-section p { font-size: 14px; }
.footer-section { padding-top: 30px; }

.page4block { width: 48%; margin-left: 0px; }
.page4block span { width: 100%; font-size: 26px; }
.form-section .vehicle p { font-size: 14px; }
.CIndicator { width: 92%; font-size: 10px; }
.page4block.last input[type="text"] { margin: 0 4%; width: 92%; font-size: 12px; }
.page4block:nth-child(2n+1) { margin-left: 0px; }
.page-10-form .col-lg-6,.page-10-form .col-lg-3 { padding: 0px; }
.page-10-form .miles ul { float: right; }
.miles.deal li { padding-top: 15px; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a { font-size: 11px; line-height: 50px; }
.form-section .form-shadow.tab-sec .nav-tabs li { height: 50px; }
.form-section .form-shadow.tab-sec .tab-content { padding-top: 30px; }
.form-section .comman { padding-bottom: 10px; }
.num-count-point { min-height: 150px; }
.page-19-bar .col-lg-4.col-md-4 { width: 100%; }
.range-slider li { margin-left: 0px; margin-right: 10px; margin-bottom: 10px; }

.vehicle-detailed-slider .carousel-inner .item { height: auto; }

}

@media screen and (max-width:768px) {
	.lightbox{
    left: -214px;    
    top: 34px;

}
span.lightbox::before {
    border-color: transparent transparent #00a4a4 transparent; 
    left: initial;
    right: 63px; 
    top: -15px;
}.callspeakBanner{display: none;}
.logo a{font-size: 33px;}
.navigation-mob-1{display: none;}
.navigation-mob-2{display: block;}

.sc-wrapper { padding: 20px 0; }	
.page-10-form .col-lg-6,.page-10-form .col-lg-3 { padding: 0 0 10px 0; }
.page-10-form .miles ul { float: right; }
.miles.deal li { margin-left: 10px; margin-right: 0px; }

.navigation ul { margin-top: 0px; }	
.form-section.less { margin-top: 0px; }
.numscrollerCount .startingBudget-h { margin-bottom: 20px; }
#numscrollerCount .auto-adjust,.sc-wrapper { width: 100%; }
.form-section .form-control.icon8.cusPlace { width: 48%; font-size: 11px; }
.form-section .form-shadow { padding-bottom: 0px; margin-bottom: 20px; }

.heading-h3 { font-size: 17px;     font-size: 21px;
    width: 90%;
    margin: auto;
    margin-bottom: 25px;}
.get-your-adverts .heading-h3 { font-size: 21px; }
.form-section .form-shadow.carnumber{ padding-top: 0px!important; }
.switchbtnp1 input:checked + .slider::before { transform: translateX(99px); }    
.left-side { width: 100%; }
.right-side { width: 100%; padding-left: 15px; padding-right: 15px; border: 0px; }
.left-side #slider { padding-left: 15px; }
#carousel-bounding-box { width: 92%; }
#myModal.mode .modal-dialog { width: 94%; }
#myModal.mode h2 { margin-top: 20px; }
#myModal.mode .carousel-inner > .item img { display: block; }
#myModal.mode .container { padding: 0px; }
#myModal.mode .form-section .form-shadow { width: 100%; }
#myModal.mode .phone { width: 100%; position: relative; border: 0px; padding: 0px; }
#myModal.mode .switchbtn .switch { width: 236px!important; }
#myModal.mode .switchbtn { margin-bottom: 20px; }
.right-side h1 { margin-top: 0px; }
.pricingStepsUl li > section { margin-top: 10px; }

.banner-section { height: auto; }
.form-section .vehicle .bottom-border { margin-bottom: 20px; }
.form-section .left-one { width: 100%; padding-bottom: 20px; }	

.addbtnBC .left-one {
    width: 100% !important;
}
.addbtnBC .left-one.add {
    width: 100% !important;
    margin-left: 0 !important;
}
.addbtnBCD {
    top: 91px !important;
}
.form-section .form-shadow { padding: 20px 20px 30px 20px; margin-left: 0px; margin-right: 0px; width: 100%; }
.form-section .comman { padding-bottom: 0px; }
.step-section li { padding-right: 8px; background: none; }
.step-section li.active { background: none; }
.step-section .text { padding-left: 10px; padding-right: 10px; }
.step-section { padding-top: 20px; }
.step-section .text { padding-top: 0px; }
.form-section { margin-top: 0px; }
.form-section .btn.back { width: 45%; margin-top: 20px; }
.form-section .btn.next { width: 45%; margin-top: 20px; }
.comman.full span { width: 100%; }
.page-10-form .nocard{  padding-bottom: 15px;}
.page-10-form label .cardIcon img{width: 30px;}
.form-section .vehicle .top-btn .btn { width: 43%; font-size: 11px; }
.form-section .vehicle p { font-size: 18px; }
.form-section .vehicle .image img { max-height: inherit; }
.form-section .vehicle .top-btn { padding-bottom: 20px; }
.form-section .vehicle .btn.second { margin-left: 20px; }
.header-strip .right-nav ul li:last-child a { font-size: 14px; margin-left: 14px; padding:  10px; }
.header-strip .right-nav ul li a { font-size: 14px; margin-left: 0px; }
.step-section .text h2 { font-size: 24px; line-height: 30px; margin-top: 0px; }
.active-buyers .activebuy-cont { width: 100%; }
.active-buyers .row,.report-chart-1 .row { margin:  0px; }
.active-buyers .col-lg-4 { padding: 0px; }
.chart-col{padding: 0px 0px;}
.comman.full span.btn-file { background: url('../images/input-file2.jpg') no-repeat; width: 260px; height: 195px; }
.activebuy-col{margin-bottom: 20px;}
.form-section .comman{padding-bottom: 10px;}
.page4block:nth-child(2n+1) { margin-left: 0px; margin-top: 20px; margin-bottom: 20px; }
.page4block { height: 150px;  padding-bottom: 10px; width: 100%; margin-left: 0px; margin-bottom: 20px; }
.blank { display: none; }
.miles li { margin:  0px 8px 8px 0; }
.miles .or { margin: 10px 0 10px 0; }
.specific .comman.buttons { margin-top: 0px; }
.row { margin:  0px; }
.circleText div:nth-child(3),.circleText div:nth-child(4) { padding-left: 0px; }
.row { margin:  0px; }
.header-banner,.num-counter,.report-chart { padding: 20px 0; } 
.report-chart-1 { padding: 0px 0 30px 0; }
.report-chart-1 .downloadReportbtn { padding-top: 0px; }
.report-chart section section { margin-bottom: 0px; }
.report-chart .downloadReportbtn { padding-top: 30px; }
.choosenBtn { padding-top: 20px; }
.form-shadow .ortext { padding-bottom: 10px; padding-top: 10px; }
.choosedItem ul li { position: relative; padding-right: 50px; }
.choosedItem ul li span { position: absolute; top: 25%; right: 15px; }
.comman .fieldsheading hr { margin-bottom: 20px; }
.form-section .vehicle .bg { margin-bottom: 20px; }
.form-section .vehicle.advertise .bg { min-height: inherit; }
/* .vehicle .col-lg-12 { padding: 0px; } */
.form-section.page-10-form .left-one { width: auto; }	
.page-10-form .text-pound span { font-size: 10px; }
.page-10-form .text-pound { font-size: 22px; }
.form-shadow.carnumber .btn { width: 80%; }
.form-shadow.carnumber .comman.buttons { padding-top: 0px!important; }
.listing .form-shadow .listing-img, .listing .form-shadow .listing-detail { width: 100%; } 
.listing .form-shadow .listing-detail { top: 190px; background: rgba(255,255,255,0.90); }

.listingDetail-3 .social-comment li { padding: 0 4px; }
.listingDetail-3 ul li h2 { font-size: 18px; }
.listingDetail-3 ul li p { font-size: 14px; }
.listingDetail-1 { bottom: inherit; top: 120px; }
.listingDetail-1 ul li p { font-size: 13px; }
.listingDetail-1 ul li span { font-size: 24px; }
.listingDetail-3 { width: 57%; }

.listingDetail-4 .edit { margin: 8%; }
input:checked + .slider::before { transform: translateX(99px) }
.listingDetail-4 .onC,.listingDetail-4 .offC { font-size: 11px; }


.listingDetail-1 ul li p br { display: none; }
.form-section .form-shadow.carnumber { margin-bottom: 10px; padding-bottom: 0px; }
.form-section.listing .form-shadow { margin-bottom: 30px; border: 1px solid #d4d4d4;}
.switchbtn { margin-bottom: 60px; }
.strtinB{min-height: 400px;}
.step-section.step-out { padding-top: 30px; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a { font-size: 11px; }
.form-section .form-shadow.tab-sec .tab-content { padding-top: 20px!important; }
.tab-pane .table { width: 930px; }
.table { max-width: inherit!important; }
.form-section .form-shadow.tab-sec .nav-tabs li { height: 40px; width: 100%; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a { font-size: 14px; line-height: 40px; }
.form-section .comman.left-less { padding-top: 10px; }
.form-section .comman.left-less .left-one { width: auto; }
.page-10-form .ccv { width: 60px; }
.form-section .form-shadow.tab-sec .nav-tabs.gperTab li { width: 100%; }
.header-strip .right-nav ul li.funds a span,.header-strip .right-nav ul li.funds a { font-size: 14px; }
.navbar-toggler,.collapse { display: block; border:  none; box-shadow: inherit; }
.navigation { position: relative; top: auto; left: auto; margin: 0px; overflow: hidden; width: 100%; padding-top: 6px; }
.navbar-nav { margin:  0px; padding: 0px; }
.navbar-collapse.collapse ul { width: 100%; overflow: hidden; text-align: left; padding: 5px 0 15px 0; }
.navbar-nav > li { float: left; /* display: inline; */ }
/*.navbar-nav > li a { float: none; display: inline-block; } */
.navbar-default .navbar-nav > li { padding-right: 15px; }
.affix { position: relative; }
.banner-section .container { width: 100%; padding: 0px; }
.banner-section .row { margin: 0px; }
.banner-section { margin-top: 0px; text-align: center; }

.banner-section .over { padding: 15px; width: 100%; top: auto; left: auto; margin-top: 2px; overflow: hidden; }

.banner-section h2 { padding: 0px; margin: 0px 0 15px 0; }

.banner-section h2 { float: none; font-size: 32px; line-height: 34px; }
.banner-section h2 span,.banner-section h2 label {      font-size: 18px;
    line-height: 15px; }
    
.num-counter.edit2 { margin-top: 10px; }
.num-counter.edit2 h3 { margin-bottom: 20px; }
.model-section::before { width: 100%; position: relative; top: auto; left: auto; min-height: inherit; }
.model-section::after { width: 100%; position: relative; top: auto; right: auto; min-height: inherit; }
.model-section { height: auto; background: #01a5a4;  }
.model-section .model-bg { height: auto; }
.model-section .model-bg::after { width: 100%; position: relative; top: auto; right: auto; min-height: inherit; }
.model-section .over { position: relative; top: auto; left: auto; }
.model-section li .icon { width: 20%; }
.model-section li { padding-top: 30px; }
.model-section h3 { margin-top: 30px; margin-bottom: 10px; }
.model-section p { padding-bottom: 10px; }
.model-section .create-btn { margin-bottom: 20px; }
.active-buyers.gap { padding: 30px 0; }
.part4atypeExamp ul li:nth-child(1) { width: 100%; }
.part4atypeExamp ul li:nth-child(1) img { display: block; margin: 0 auto; }
.part4atypeExamp ul li:nth-child(2) { width: 100%; padding: 20px 30px 10px 30px; }
.footer-section p { padding-top: 20px; }
.footer-section { padding-top: 20px; padding-bottom: 60px; }
.num-counter.edit2 h3 { font-size: 20px; line-height: 24px; }
.navigation { right: auto; }
.burgerM{	display: block;}
.navbar.navigation{ display: none; }
/* .navbar-default .navbar-nav > li > a.active,.navbar-default .navbar-nav > li > a:hover { color: #1aa3a3; border: 0px; padding-bottom: 0px; } */
.navbar-collapse { padding: 0px; } 
.navbar-default .navbar-nav > li > a { padding-bottom: 0px; }
.navbar-default .navbar-nav > li > a:hover { color: #1aa3a3; }
.mobMenu .navbar-nav .nav-item a { padding:  0px 15px; }
.mobMenu .navbar-nav .nav-item { float: left; width: 100%; }
.navbar-default .navbar-nav > li > a { float: left; width: 100%; line-height: 26px; }
.advert-section { padding-top: 10px; padding-bottom: 30px; }
.advert-section li { padding-top: 20px; }
.exist-section h3 { margin-bottom: 20px; }
.exist-section p { padding-bottom: 10px; font-size: 14px; }
.exist-section .over { top: 10px; }
.exist-section .model-bg::after { height: 300px; }
.exist-section::after { height: 300px; }
.exist-section { height: 300px; }
.footer-section ul { text-align: center; }
.footer-section li { display: inline; float: none; }
.footer-section p { text-align: center; padding-bottom: 10px; }
.footer-section li a { display: inline-block; float: none; }
.footer-section .social { float: none; }
.footer-section .pull-right h3 { padding: 0px 0 10px 0; }
.footer-section .pull-right { float: none!important; text-align: center; overflow: hidden; }
.pricingStepsUl li{ padding: 0px; margin-bottom: 15px; } 
.bgprice .mobMenu{    box-shadow: -3px 4px 5px rgba(171, 171, 171, 0.44);-webkit-box-shadow: -3px 4px 5px rgba(171, 171, 171, 0.44);}
.pricingSteps{    padding: 30px 0;}
.wanttotalk:before{
    width: 100%;
    min-height: 420px !important;
    position: absolute;
}
.wanttotalk .model-bg,.wanttotalk {
    height: auto !important;
}
.wanttotalk:after, .wanttotalk .model-bg:after{
	width: 100%;
    top: 420px;
    min-height: 450px !important;
 position: absolute;
 }
.wanttotalk .over{
	left: initial !important;
}
.wanttotalk .create-btn{
    display: block !important;
    float: initial !important;}
.wanttotalk .sepratImg img{
	display: block;
	margin: auto;
}
.wanttotalk .sepratImg{
    display: block;    padding-top: 0;
}

.want-to-talk-1{padding:25px;}
.want-to-talk-1 ul li:nth-child(1),.want-to-talk-1 ul li:nth-child(2){width:100%!important;flex:none}
.want-to-talk-1 ul{display:block}
.want-to-talk-2 h2{font-size:22px;}
.want-to-talk-1 ul li:nth-child(2) img{position:initial;top:initial;right:initial;bottom:initial;margin:auto;display:block}
.want-to-talk-2 p{width:100%}
.want-to-talk-2 div{margin-top:20px;margin-bottom:30px}
.want-to-talk-2 div span{font-size: 35px;}
.ready-to-get-1 .create-btn { padding: 10px 15px; height: auto; width: auto; }
/* .navbar-nav{display: none !important;} */
.navbar-nav-mob{display: block !important;}
.submenu-mn{display: none !important;}
.pricingStepsUl li > section { min-height: inherit; }
.pricingStepsUl li > section { padding-top: 25px; }
.ready-to-get-1 .create-btn { font-size: 12px; }
.birmingham li { margin-bottom: 18px; width: 100%; }
.birmingham li .inner { width: 98%; }
.birmin { padding: 20px 0; width: 100%; height: auto; }
.birmingham li:nth-child(6n) { margin-right: 0px; }
.first-one,.birmingham .inner { width: 99%; }
.second-one { width: 100%; padding-top: 20px; }
.third-one { width: 100%; padding-top: 0px; }
#transactions li { padding-bottom: 30px; margin-bottom: 20px; border-bottom: 1px solid #f3f4f8; }
.ready-to-get-3-btn .create-btn-3 { padding: 12px 5px; width: 185px; line-height: 22px; font-size: 12px; }

.banner-section .now { margin: 0 auto; float: none; display: block; }
.form-section.listing.add-more { padding: 0px; }
.uploadDays { font-size: 18px; }
.noUi-handle.noUi-handle-upper .noUi-tooltip h1, .noUi-handle.noUi-handle-lower .noUi-tooltip h1 { font-size: 20px; }
.noUi-handle.noUi-handle-upper .noUi-tooltip, .noUi-handle.noUi-handle-lower .noUi-tooltip { height: 52px; }
.page-1-3 .left-one {
    width: 100% !important;
}
.page-1-3 .left-one.lastp1 ,.page-1-3 .left-one.p-1-sngl{
    width: 100% !important;
}
.page-1-3 .switchbtn{
        padding-top: 00px;
}
.form-section .btn{width: 220px; font-size: 14px;}
.form-section .btn{width: 175px; font-size: 11px; }

.num-count-point{
	    margin: 15px 0px;
}
.num-count-point p{
   font-size: 12px !important;
}
.num-count-point p{
   font-size: 12px !important;
       width: 95px;
    margin: auto;
}
.num-count-point:nth-child(3) p{
   font-size: 12px !important;
       width: 100px;
    
}
.num-count-point .heading-h2{ font-size: 20px !important;}
.form-section .listingDetail-3 .form-control.icon8 { width: 70%; font-size: 11px; margin-bottom: 10px; }
.listingDetail-3 .audi { padding: 0 4%; }
.listingDetail-3 .prest { padding: 0px; }
.listingDetail-3 div { font-size: 10px; }
.listingDetail-3 ul li p { font-size: 12px; line-height: 14px; }
.listingDetail-3 ul li h2 { font-size: 16px; }
.listingDetail-3 .social-comment { padding-top: 10px; }
.listingDetail-3 .social-comment li span,.listingDetail-3 .social-comment li .social-icon1 { font-size: 10px; }
.active-buyers.gap h3 { font-size: 22px; margin-bottom: 25px; }
.form-section.pride.less { padding-top: 10px; padding-bottom: 20px; }
.Tellyourlovestory .cycle-pager {padding-top: 0px; }
.form-section.pride.less h3 { padding-bottom: 10px; }
.form-section.add-more .form-shadow { margin-top: 20px; }
.active-buyers .activebuy-col { min-height: inherit; }
.logo img { max-width: 100%; height: auto; }
.header-strip .right-nav ul li:last-child a { margin-bottom: 15px; }

.mobMenu { top: 66px!important; }
.heading-h3.text-center > span { display: block; margin-top: 14px; }
.exist-section .model-bg::after { min-height: 240px; height: 200px; }
.exist-section::after { min-height: 240px; height: 240px;  }
.exist-section { height: 240px; }
.callspeakBanner { right: 0px; left: 0px; margin: 0 auto; }
.banner-section .now { width: 180px; height: 42px; line-height: 42px; font-size: 18px; }
.left-side .thumbnail img { width: 58px; height: 58px; }
.left-side #slider { padding-right: 0px; }
.preview { background: #fff; padding: 7px; }
.form-section.animate.fadeInLeft { overflow: hidden; }
.rangeSlider .comman.buttons { padding-top: 40px; }
#loginlightbox { position: absolute; }
.lightbox-content { position: relative; top: auto; right: auto; }
.loginHead { padding-top: 15px; }
.lightbox-content { height: auto; padding-bottom: 20px; }
.loginlinks.row .checkbox { padding-left: 0px; }
.loginlinks.row .col-xs-6 { padding: 0px; }
.active-buyers section { margin-bottom: 30px; }
.activebuy-cont h3 { margin-top: 0px; }
.right-side .find-details span.left1 { width: 54%; }
.phone .list-num { padding-top: 20px; padding-bottom: 10px; }
#myModal.mode .modal-body { padding-bottom: 0px; }
.form-section.listing .form-shadow { margin-bottom: 15px; }
.step-section .text p br { display: none; }
.CIndicator { top: -15px; }
.sortbyinput .pull-left.form-control.icon8.cusPlace { width: 230px; }
.tab-pane .table tr th:last-child { width: 30%; }
.tab-pane .table tr th:first-child { width: 20%; }
.num-count-point { height: 150px; }
.page-19-bar .col-lg-4.col-md-4,.page-19-bar .col-lg-4.col-md-4.male.animate.fadeInUp { width: 100%; }


}

@media screen and (max-width:700px){
    .topupFundsPopup{
        width: auto;
        margin: auto 25px;
        height: 423px;
    }
}

@media screen and (max-width:767px){

    .vehicle-detailed-slider .carousel-inner .item { height: auto; }

    .vehicle-tab-section .nav > li > a { padding: 10px 20px;  }
    .ask { margin-bottom: 10px; }
    .vehicle-tab-section ul.nav.nav-tabs.gperTab,.vehicle-tab-section ul.nav.nav-tabs { box-shadow: inherit; }
    .preview {
    background: #fff;
    padding: 7px;
    display: none;

}
.part1bflowimg {
    position: absolute;
    top: -6px;
    margin-left: 6px;
}
}

@media screen and (min-width:280px) and (max-width:479px){
.range-slider li { width: 100%; }    
.nav-tabs > li { width: 100%; }
.vehicle-detailed-cont { font-size: 26px; }
.vehicle-tab-section .nav { margin-left: 0px; }

.CIndicator { top: -25px; }
    .topupFundsPopup{
        height: 510px;
    }
.first-one,.birmingham .inner { width: 99%; }
.form-section .left-one { padding-bottom: 15px; }
.step-section .text h2 { margin-top: 0px; }
/*.step-section .text p { text-align: left; }*/
.form-section { margin-top: 0px; }
.form-section .form-control { font-size: 14px; }
.form-section label { font-size: 13px; }
.form-section .form-shadow { padding:  20px 15px; }
.form-section .btn { font-size: 14px; width: 100%; }
.page-10-form label .cardIcon{position: relative; margin-top: 0;}
.page-10-form label{position: relative;height: auto;}
.page-10-form .text-pound{font-size: 40px;}
.page-10-form .text-pound span{font-size: 16px;}
.page-10-form .nocard{    margin-right: 5%;     padding-bottom: 15px;}
.page-10-form label .cardIcon img{width: 30px;}
.listingDetail-3 .prest { padding: 8px 0px; }
.form-section .vehicle .btn.second { margin-left: 0px; margin-bottom: 0px; }
.form-section .vehicle .top-btn .btn { width: 100%; margin-bottom: 10px; }
.left, .header-strip .right-nav ul li { float: left; }
.header-strip .right-nav ul li a { font-size: 12px; }
.header-strip .right-nav ul li:last-child a { font-size: 13px; margin-bottom: 10px; }
.activebuy-col{margin-bottom: 15px;}
.form-section .comman{padding-bottom: 10px;}

.page4block:nth-child(2n+1) { margin-top: 15px; margin-bottom: 15px; }
.page4block { margin-bottom: 15px; }
.step-section .bg { width: 60px; }
.step-section h3 { font-size: 9px; }
.step-section li { padding-right: 2px; }
.step-section .icon { width: 60px; }

.step-section li.active .bg { background: url('../images/hexagon-bg-hover-mobile.png') no-repeat;  }
.step-section .icon { height: 69px; width: 60px; }
.step-section .icon .start { top: -6px; right: -2px; }
.step-section .bg { background: url('../images/hexagon-bg-mobile.png') no-repeat; width: 60px; }
.miles li { width: 83px; height: 83px; }
.form-section .form-control.gap { font-size: 13px; }
.graph-container,.bar-overflow { width: 290px; }
.miles li { margin:  0px 3px 3px 0; }
.page-10-form .text-pound { float: left!important; }
.listing .form-shadow .listing-detail { top: 110px; }
.form-shadow.carnumber .btn {  width: 98%; }
.listingDetail-1 { width: 100%; bottom: auto; }
.listingDetail-2 {  width: 100%; bottom: auto; top: 11px; }
.listingDetail-4 { width: 100%; bottom: auto; top: 250px; border: none; }
.switchbtn { margin: 0px!important; }
.switchbtn { margin-bottom: 0px; }
.listingDetail-4 .switchbtn { float: none; margin-bottom: 0px; }
.listingDetail-3 { width: 100%; }
.listingDetail-1 ul li span { font-size: 18px; }
.listingDetail-4 .switchbtn { width: 58%; float: left; padding-left: 5px; margin-top: 0px; }
.listing-price { width: 42%; float: right; clear: none; font-size: 14px; text-align: right; padding-right: 10px; } 
.listing-price span { font-size: 11px; }
.listingDetail-4 .edit { margin: 10px 2% 0 2%; text-align: center; width: 96%; float: left; }

.listingDetail-3 ul li h2 { font-size: 12px; margin-bottom: 0px; margin-top: 5px; }
.listingDetail-3 div { font-size: 11px; }
.listingDetail-1 ul li p { font-size: 11px; margin-bottom: 5px; }
.listingDetail-3 ul li p { font-size: 11px; margin-bottom: 3px; }
.listing .form-shadow .listing-detail { top: auto; bottom: auto; min-height: 370px; position: relative; }
.listingDetail-3 div { font-size: 12px; line-height: 12px; }
input:checked + .slider::before { transform: translateX(102px); }
.listingDetail-4 .switchbtn .switch { width: 138px!important; float: left!important; }
.switchbtn .switch { width: 138px!important; }
.switchbtnp1  .switch {
    width: 130px!important;
}
.form-section.listing .form-shadow { margin-bottom: 20px; }
.listingDetail-4 .switchbtn { margin: 0px 0 0 0px!important; }
.leftbarchart-dots-22 ul li,.leftbarchart-dots-44 ul li{
	width: 80px;
    height: auto;
}
.strtinB{min-height: 400px;}
.form-section .form-shadow.tab-sec .btn { width: 60%; float: right; font-size: 15px; }
.startingBudget .leftbarchart-dots-2 { margin-left: 10px; }
.tab-pane .table tr th, .tab-pane .table tr td { font-size: 14px; }
.tab-pane .table { width: 930px; }
.report-chart-1.page-10-barchart .bar-grup > div { padding-left: 0px; }

.header-strip .right-nav ul li.funds a span,.header-strip .right-nav ul li.funds a { font-size: 12px; }
.noUi-handle.noUi-handle-lower .noUi-tooltip{
left: -20px !important;
top: -55px !important;
}
.noUi-handle.noUi-handle-upper .noUi-tooltip, .noUi-handle.noUi-handle-lower .noUi-tooltip { width: 140px; }
.noUi-handle.noUi-handle-lower .noUi-tooltip::before{
	    left: 10% !important;
}
.noUi-handle.noUi-handle-upper .noUi-tooltip{
left: -74px !important;
}
.noUi-handle.noUi-handle-upper .noUi-tooltip::before{
    left: 90% !important;
}
.model-section li .icon { width: 100%; float: none; }
.model-section li .icon img { display: block; margin: 0 auto; }
.model-section li a { float: none; text-align: center; padding: 10px 0; display: block; }
.header-strip .right-nav ul li:last-child a.sign { font-size: 12px; }
.model-section li { padding-top: 10px; }
.model-section ul { padding-top: 10px; }
.footer-section li a,.footer-section p,.footer-section h3 { font-size: 13px; }
.exist-section h3 { font-size: 25px; }

.exist-section::after { height: 360px; }
.exist-section { height: 360px; }
	.wanttotalk-sec section:nth-child(2){
		    padding-top: 35px;
	}
.wanttotalk .create-btn{
	padding-left: 20px;
    padding-right: 20px;
}
.wanttotalk .sepratImg img {
 
    width: 100%;
}
.ready-to-get-1 .create-btn{padding:8px 40px;width:100%;height:auto;}
.ready-to-get-1-btn span {
    margin: 15px 0px;
    display: block;
    text-align: center;
}
.ready-to-get-3-btn .create-btn-3{padding:8px 40px;width:100%;height:auto;}
.ready-to-get-3-btn span {
    margin: 15px 0px;
    display: block;
    text-align: center;
}
.birmingham li { margin-bottom: 18px; width: 100%; }
.birmin { padding: 20px 0; width: 100%; height: auto; }
.birmingham li:nth-child(6n) { margin-right: 0px; }
.birmingham li:nth-child(3n) { margin-right: 0px; }
.exist-section{height:432px}
.exist-section::after { height: 432px; }
.exist-section .model-bg { height: 432px; }
.want-to-talk-2 div span { font-size: 24px; }
.ready-to-get-1 h4 { font-size: 26px; margin-top: 15px; }
.logo img { max-width: 100%; height: auto; }
#myModal.mode h2 { margin-bottom: 0px; font-size: 21px; }
#myModal.mode .switchbtn .switch { margin-bottom: 20px; }
.switchbtnp1 input:checked + .slider::before { transform: translateX(94px); }   
.listingDetail-1 { top: inherit; bottom: 0px; } 
.listingDetail-1 ul li span { font-size: 27px; line-height: 30px; display: block; float: none; }
.listingDetail-1 ul li p { padding-top: 0px; } 
.listingDetail-3 .audi { margin-bottom: 10px; }
.form-section .form-control.icon8.cusPlace { width: 100%; margin-bottom: 10px; }
.navbar-default .logo { padding: 0px; }
.navbar-default .right-nav { padding: 0px; }
.header-strip .right-nav ul { float: left; padding: 15px 0 0 10px; }
.header-strip .right-nav ul li:last-child a.sign { padding-left: 10px!important; }
.header-strip .right-nav ul li a { padding: 0px!important; }
.mobMenu { top: 66px!important; }
.step-section h3 { text-transform: capitalize; }
.form-section .or { margin: 10px 0; }


.report-chart-1.page-10-barchart .graph-container,.report-chart-1.page-10-barchart .bar-overflow { margin-left: 2px; }

.graph-container, .bar-overflow { /* margin-left: -4px; */ }
.exist-section .model-bg::after { min-height: 260px; height: 260px; }
.exist-section::after { min-height: 260px; height: 260px;  }
.exist-section { height: 260px; }
.exist-section.ready .model-bg::after { min-height: 340px; height: 340px; }
.exist-section.ready::after { min-height: 340px; height: 340px;  }
.exist-section.ready { height: 340px; }

.header-strip .right-nav ul { padding-top: 0px; }
.left, .header-strip .right-nav ul li { float: right; }
.header-strip.different .right-nav ul li:last-child a { padding: 5px 15px!important; }

#slider.col-xs-9 { width: 100%; padding-bottom: 10px; } 
#slider-thumbs { width: 100%; padding-right: 0px; }
.left-side ul { width: 100%; }
.left-side li:first-child { padding-left: 14px; }
.left-side li { padding-right: 10px; float: left; }
.left-side .thumbnail img { width: 50px; height: 50px; }
.header-strip .right-nav ul.home-on  { padding-top: 15px; }
.header-strip .right-nav ul.home-on li:first-child { padding-left: 15px; }
.lightbox-content { width: 92%; }
.loginlightboxF { padding: 0 15px; }
.loginlinks.row .col-xs-6 a { font-size: 13px; }
.right-side h1 { font-size: 32px; }
.right-side h1 span { padding-top: 5px; }
.right-side .find-details span.left1,.right-side .find-details span { font-size: 12px; }
.right-side .find-details span.left1 { width: 60%; }


}

@media screen and (max-width:320px){
.wanttotalk-sec section:nth-child(2) { padding-top: 0px; }
}

