@import url('fonts/fonts.css');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
@import url('https://fonts.googleapis.com/css?family=Dosis:800');

/*------- Header Strip ---------*/
.header-strip{z-index:3;}
.header-strip .right-nav ul{padding:0;margin:0;list-style:none;}
.header-strip .right-nav ul li a{margin:15px 0px 0px 32px;padding:10px 0px;font-size:20px;text-decoration:none;}
.header-strip .right-nav ul li a{width:auto!important;font-size:16px;}
.logo a{margin:2px 0;font-family:'Dosis',sans-serif;font-size:45px;color:#fff;font-weight:800;text-decoration:none;}
.header-strip .right-nav ul li:last-child a{padding:7px 25px;font-size:16px;}
.sign{margin:0px!important;padding:0px!important;}
.header-strip .right-nav ul li:last-child a.sign{padding-right:0!important;}

/*-------
    Header Strip End---------*/

/*--------------- Header Banner ------------*/
.header-banner{padding:45px 0;padding-bottom:100px;}
.header-banner .heading-h1{margin-top:0px;}
.header-banner .heading-h4,.header-banner .increase-budg{margin-top:20px;}
.header-banner .increase-budg{padding:10px 25px;text-decoration:none;color:#00c866;border-color:#00c866;}
.header-banner .heading-h3{clear:left;padding-top:25px;margin-top:0;}
.header-banner p,.num-count-point p,.report-chart-1 p{color:#868686;}
.header-banner .increase-budg:hover{background:#00c866!important;color:#fff!important;}
@media screen and(max-width:1024px){
	.header-banner img{width:100%;}
}

/*--------------- Header Banner End------------*/

/*-------- Number Counter--------------*/
.num-counter{background-color:#f8f8f8;padding:40px 0;overflow:hidden;}
.num-count-point{text-align:center;}
.num-count-point img{margin:auto;margin-bottom:10px;}
.num-count-point p{font-family:'Fjalla One',sans-serif;margin-bottom:0px;font-size:18px;color:#000033;line-height:18px;text-transform:uppercase;}
.num-count-point .heading-h2{font-family:'Fjalla One',sans-serif;font-size:26px;margin-top:8px;}

/*-------- Number Counter End--------------*/

/*-------- Circle report chart -----------*/
.report-chart{padding:65px 0;background-color:#f6f6f6;}
.report-chart section h3,.report-chart section p{text-align:center;color:#000;}
.report-chart section section{margin-bottom:30px;}
.report-chart circle.border{stroke:#fff;}
.report-chart circle.circle{stroke-width:2px;stroke:#00c866;-webkit-transform:rotate(-90,100,100);}
.report-chart circle:nth-child(3){fill:#fff;transition:all .5s ease;-webkit-transition:all .5s ease;}
.report-chart circle:nth-child(3):hover{fill:#ececec;stroke:white;}
.report-chart svg text{fill:#000;transform:translate(0px,-10px);-webkit-transform:translate(0px,-10px);}
.circle-grup > div:nth-child(2) circle:nth-child(2),.circle-grup > div:nth-child(4) circle:nth-child(2){stroke:#1aa3a3;}
.downloadReportbtn{text-align:center;clear:both;}
.downloadReportbtn a{color:#00c866;border-color:#00c866;padding:12px 40px;font-size:18px;text-decoration:none;display:inline-block;}
.report-chart .downloadReportbtn{padding-top:60px;clear:both;}
.downloadReportbtn a:hover{background:#00c866!important;color:#fff!important;}

/*-------- Circle report chart End-----------*/

/* ------------- Bar Report start ---------------*/
.report-chart-1{padding:60px 0;}
.gender-ul{padding:0;margin:0;list-style:none;}
.gender-ul > li{width:50%;float:left;transition:all .5s ease;}
.gender-ul > li > div{text-align:center;position:relative;}
.gender-ul > li > div >img{display:block;margin:auto;}
.gender-ul > li > div:nth-child(2) > img{display:block;margin:auto;position:relative;}
.report-chart-1 .downloadReportbtn{padding-top:30px;clear:both;}
.gender-ul > li > div:nth-child(2){margin-top:15px;}
.gender-ratio{position:absolute;left:0;right:0;top:57%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);text-align:center;}
.gender-ratio h2{margin-bottom:0;display:inline-block;}
.page-10-barchart .headingbarchart{text-align:center;margin-bottom:50px;}
.page-10-barchart .headingbarchart h3,.report-chart-1 section p{color:#000;margin-bottom:20px;}
.page-10-barchart{padding:30px 0;}
.barcharfooter::after{content:'';clear:both;display:table;}
.barcharfooter{padding:0 0 50px 0;text-align:center;}

/* ------------- Bar Report End ---------------*/
.switchbtn{margin-bottom:45px;position:relative;z-index:999;}
.switch{position:relative;display:inline-block;width:170px;height:36px;}

/* Hide default HTML checkbox */
.switch input{display:none;}
.onC,.offC{line-height:16px;height:36px;display:none;text-align:left;padding:10px;padding-left:20px;color:#fff;font-size:14px;font-weight:normal;}
.onC{color:#fff;display:block;text-align:right;padding-right:20px;}

/* The slider */
.slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#c80000;color:#fff;-webkit-transition:.4s;transition:.4s;}
.slider:before{position:absolute;content:"";height:32px;width:32px;left:2px;bottom:2px;background-color:white;-webkit-transition:.4s;transition:.4s;}
input:checked + .slider{background-color:#00c866;}
input:checked + .slider .offC{display:block;}
input:checked + .slider .onC{display:none;}
input:focus + .slider{box-shadow:0 0 1px #00c866;}
input:checked + .slider:before{-webkit-transform:translateX(134px);-ms-transform:translateX(134px);transform:translateX(134px);}

/* Rounded sliders */
.slider.round{border-radius:34px;}
.slider.round:before{border-radius:50%;}

/* Safari only override  start*/
@media screen and (-webkit-min-device-pixel-ratio:0){
	::i-block-chrome{margin:6px 0 0;}
}

/* Safari only override  end*/
.chart-col{margin:20px auto;padding:0px 50px;}
.graph-container{width:300px;border-right:none;border-top:none;position:relative;margin-left:auto;margin-right:auto;}
.graph-container .graph-bar{position:absolute;width:38px;padding-top:15px;padding-left:10px;bottom:-100%;}
.clear{content:'';display:table;clear:both;}
.graph-container .graph-bar p{color:#009aff;font-size:1px;}
.graph-container .graph-bar section{color:#ffffff;font-size:20px;position:absolute;bottom:15px;left:5px;transform:rotateX(180deg) rotateY(180deg);-webkit-transform:rotateX(180deg) rotateY(180deg);font-family:'Zilla Slab',serif;writing-mode:tb-rl;-webkit-writing-mode:tb-rl;}
.graph-container .graph-bar.placebo-bar,.graph-container .graph-bar.creon-bar{left:0;background:#1aa3a3;}
.graph-container .graph-bar.creon-bar{left:60px;}
.graph-container .graph-bar.creon-bar-1{left:120px;}
.graph-container .graph-bar.creon-bar-2{left:180px;}
.graph-container .graph-bar.creon-bar-3{left:240px;}
.graph-container .leftbarchart{background:#00c866!important;}
.graph-container .leftbarchart p{color:#00c866!important;}
.bar-overflow{overflow:hidden;position:relative;width:300px;height:220px;}
.graph-container .y-axis-label{transform:rotate(-90deg);-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);position:absolute;top:45px;left:-62px;}
.leftbarchart-dots{border-bottom:1px solid #ececec;margin-top:40px;width:calc(100% - 20px);}
.leftbarchart-dots ul{padding:0;margin:0;list-style:none;}
.leftbarchart-dots ul li{width:10px;height:10px;background:#d0d0d0;float:left;border-radius:50px;margin-top:-5px;position:absolute;}
.leftbarchart-dots ul li:nth-child(1){margin-left:calc(100% - 265px);}
.leftbarchart-dots ul li:nth-child(2){margin-left:calc(100% - 203px);}
.leftbarchart-dots ul li:nth-child(3){margin-left:calc(100% - 145px);}
.leftbarchart-dots ul li:nth-child(4){margin-left:calc(100% - 85px);}
.leftbarchart-dots ul li:nth-child(5){margin-left:calc(100% - 23px);}
.leftbarchart-dots-1{border-bottom:0px solid #ececec;margin-top:30px;}
.leftbarchart-dots-1 ul li{width:51px;background:transparent;font-size:14px;color:#ababab;}
.leftbarchart-dots-1 ul li:nth-child(1){margin-left:calc(100% - 272px);}
.leftbarchart-dots-1 ul li:nth-child(2){margin-left:calc(100% - 212px);}
.leftbarchart-dots-1 ul li:nth-child(3){margin-left:calc(100% - 157px);}
.leftbarchart-dots-1 ul li:nth-child(4){margin-left:calc(100% - 97px);}
.leftbarchart-dots-1 ul li:nth-child(5){margin-left:calc(100% - 36px);}
.leftbarchart-dots-1 ul,.leftbarchart-dots-1 ul li{min-height:20px;}
.leftbarchart-dots-2{border-bottom:0px solid #ececec;margin-top:30px;}
.leftbarchart-dots-2 ul li{width:51px;background:transparent;font-size:14px;color:#ababab;text-align:center;min-height:40px;}
.leftbarchart-dots-2 ul li:nth-child(1){margin-left:calc(100% - 283px);}
.leftbarchart-dots-2 ul li:nth-child(2){margin-left:calc(100% - 221px);}
.leftbarchart-dots-2 ul li:nth-child(3){margin-left:calc(100% - 168px);}
.leftbarchart-dots-2 ul li:nth-child(4){margin-left:calc(100% - 108px);}
.leftbarchart-dots-2 ul li:nth-child(5){margin-left:calc(100% - 45px);}
.leftbarchart-dots-2 ul{display:block;min-height:40px;}
.circleText{margin-top:-50px;}
.circleText div{text-align:center;}
.circleText div:nth-child(3){padding-left:50px;}
.circleText div:nth-child(4){padding-left:80px;}

/*25-july-2017 by vikash*/

/* .step-section li.active .icon { background: url('../images/about-icon-page-10.png') center center no-repeat; }
.step-section li.active .icon.icon3 { background: url('../images/targetting-icon-hover-page-10.png') center center no-repeat; }
*/

.form-section .form-control.icon13{background:url('../images/form-icon1.png') 2px -2px no-repeat;}
.form-section .form-control.icon13:focus{background-position:2px -52px;}
.form-section .form-control.icon14{background:url('../images/form-icon14.png') 2px -2px no-repeat;}
.form-section .form-control.icon14:focus{background-position:2px -52px;}
.page-10-form label{position:relative;height:26px;font-weight:normal;}
.page-10-form label .cardIcon{position:absolute;right:0;margin-top:-18px;}
.page-10-form .ccv{background-image:none;padding:6px 12px;width:75px;float:left;}
.page-10-form .left-one{width:auto;margin-right:25px;}
.page-10-form .left-one .expire{border-left:0;border-top-left-radius:0;border-bottom-left-radius:0;}
.page-10-form .text-pound{color:#1aa3a3;font-size:50px;font-family:'HelveticaNeue-Bold';line-height:50px;}
.page-10-form .text-pound span{display:block;font-size:20px;font-weight:600;line-height:25px;}
.page-10-form .btn.back,.page-10-form .btn.next{float:none;display:inline-block;}
.page-10-form .btn.back{margin-right:15px;}
.page-10-form .nocard{color:#5f636b;font-size:14px;margin-top:15px;display:block;text-align:right;text-decoration:underline;margin-right:16%;}
.active-buyers{}
.active-buyers section{text-align:center;color:#000;margin-bottom:50px;}
.active-buyers .activebuy-cont{width:88%;margin:auto;}
.active-buyers .activebuy-col{overflow:hidden;border-radius:3px;box-shadow:0px 5px 10px rgba(0,0,0,0.1);background-color:#fff;min-height:438px;}
.active-buyers .activebuy-cont img{width:100%;transform:scale(1,1);display:block;transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;}
.activebuy-col:hover img{transform:scale(1,1);}
.active-buyers .activebuy-inner h4{color:#000;line-height:24px;font-size:18px;font-family:'HelveticaNeue-Bold';}
.active-buyers .activebuy-inner p{color:#000;font-size:15.25px;}
.active-buyers .activebuy-inner a{color:#000;font-size:15.25px;font-family:'HelveticaNeue-Bold';padding-top:10px;display:block;color:#222;}
.active-buyers .activebuy-inner{padding:15px 30px;}
.form-shadow .page11-left{width:44%;}
.activebuy-col .edit{padding-top:0px!important;color:#868686!important;font-weight:400!important;font-family:'HelveticaNeue-Bold'!important;}
.activebuy-col .edit:hover{color:#fff!important;}
.form-shadow .page11-left.add{float:right;margin:0;}
.page4block{width:46%;float:left;margin:0px 2%;cursor:pointer;text-align:center;height:165px;padding:0px;margin-bottom:30px;border:1px solid #d3d2d0;border-radius:3px;padding-top:5%;}
.page4block:hover span,.page4block:hover p,.page4block.activeBoxpage4 p,.page4block.activeBoxpage4 span{color:#fff!important;}
.page4block:hover{background-color:#1aa3a3;border:1px solid #1aa3a3;}
.page4block.activeBoxpage4{background-color:#1aa3a3;border:1px solid #1aa3a3;}
.page4block:nth-child(even){}
.page4block span{color:#000;width:182px;    /* height: 67px; */border-radius:50px;display:block;margin:auto;font-size:50px;line-height:50px;}
.page4block.last{padding-top:7%;}

/* 
.page4block.last input[type="text"] {background-color:#fff; color: #000; border:0px; text-align: center;}
.page4block.last p{font-size: 50px !important;color: #000 !important;}
.page4block.last:hover p{color: #fff !important;}
.page4block.last:hover{background-color: #1aa3a3; border: 1px solid #1aa3a3;} */
.page4block p{margin-top:15px;font-size:18px!important;color:#353535!important;font-family:'HelveticaNeue-Light';}
.comman .fieldsheading{font-size:22px;color:#000;}
.comman .fieldsheading hr{margin:10px 0 40px 0;border-width:2px;border-color:#e8e7e6;}
.fieldsheadingmn{display:none;}
.form-shadow .ortext{text-transform:uppercase;font-size:24px;color:#666;padding:00px 0 40px 0;text-align:center;}
.form-shadow.carnumber{padding-top:30px!important;}
.form-shadow.carnumber .comman.buttons{padding-top:40px!important;}
.listing-sort{margin-top:0!important;}
.listing-sort .form-shadow{margin-bottom:0px!important;background-color:transparent!important;box-shadow:none!important;padding:20px 0 0 0!important}
.listing-sort .form-shadow select{outline:none;color:#5a5a5a;background-image:url(../images/down-arrow.png);border-radius:50px;background-repeat:no-repeat;background-position:90% center;display:block;height:42px;width:200px;padding-left:20px;-webkit-appearance:none;appearance:none;-moz-appearance:none;border:1px solid #ededec;font-family:'HelveticaNeue-Medium';background-color:#fdfdfd;}
.listing{margin-top:20px!important;}
.listing .form-shadow{border-radius:8px!important;padding:0px!important;overflow:hidden;}
.listing .form-shadow .listing-img,.listing .form-shadow .listing-detail{padding:0px;width:32%;float:left;position:relative;}
.listing .form-shadow .listing-detail{width:68%;position:absolute;top:0;bottom:0;right:0;border:1px solid #d6d6d6;border-radius:8px;border-top-left-radius:0px;border-bottom-left-radius:0px;border-left:0px;}
.listing .form-shadow .listing-img img{display:block;width:100%}
.listingDetail-1{position:absolute;bottom:0;width:100%;border-right:1px solid #d6d6d6}
.listingDetail-1 li{padding-top:15px;padding-bottom:15px;background-color:rgba(0,0,0,0.56);}
.listingDetail-1 ul{list-style:none;margin:0px;padding:0px;border-top:1px solid #626262;}
.listingDetail-1 li:first-child{border-right:1px solid #626262;}
.listingDetail-1 span{margin-right:5px;margin-left:10px;font-size:48px;color:#fff;line-height:50px;float:left;}
.listingDetail-1 p{padding-top:7px;font-size:16px;color:#c4c4c4;line-height:18px;float:left;}
.listingDetail-1 li.red span,.listingDetail-1 li.red p{color:#e13838;}
.listingDetail-3 .audi{padding:20px 20px 17px 20px;}
.listingDetail-2{position:absolute;top:0;bottom:0;right:0;width:100%;}
.listingDetail-4{top:0;bottom:0;right:0;position:absolute;border-left:1px solid #d6d6d6;width:calc(100% - 72%)}
.listingDetail-4 .edit{}
.listingDetail-4 .switchbtn{margin-top:25%;margin-bottom:10%;}
.listing-price{clear:both;text-align:center;color:#0099fe;font-size:30px;font-family:'HelveticaNeue-Bold';}
.listing-price.red{color:#c80000;}
.listing-price span{display:block;font-size:18px;color:#000;font-family:'HelveticaNeue-Bold';}
.listingDetail-4 .edit{width:auto;margin:15%;border-color:#0099fe;color:#0099fe;font-family:'HelveticaNeue-Bold';font-size:12px;}
.listingDetail-4 .edit:hover{background-color:#0099fe;color:#FFF;}
.listingDetail-3{top:0;bottom:0;position:absolute;width:72%;padding:3%;}
.listingDetail-3 h1{font-size:20px;margin-bottom:15px;margin-top:15px;color:#292929;}
.listingDetail-3 div{font-size:12px;color:#868585;line-height:15px;clear:both;padding-top:3px;}
.listingDetail-3 ul{padding:0;margin:0;list-style:none;}
.listingDetail-3 ul li{float:left;width:33.3%;}
.listingDetail-3 ul li h2{margin-right:2px;font-size:27px;margin-bottom:3px;float:left;margin-top:0px;color:#000;}
.listingDetail-3 ul li:nth-child(1) h2{float:left;}
.listingDetail-3 ul li:nth-child(3) h2{float:right;}
.listingDetail-3 ul li p{font-size:14px;color:#a6a6a6;width:100%;word-wrap:break-word;line-height:17px;}

/*choosen dropdown start*/
.form-section .comman.choosen{overflow:initial;padding-bottom:25px;}
.choosen-dropdown{transition:all .3s ease;height:0px;width:calc(100% - 58px);margin-left:58px;background-color:#fff;position:absolute;z-index:999999;box-shadow:0px 1px 11px rgba(0,0,0,0.32);}
.showC{height:180px;border:1px solid #bbb;}
.choosen-dropdown .choosen-sub{padding:6px 20px;border-bottom:1px solid #e2e1e1;font-size:14px;color:#000;transition:all .2s ease;}
.choosen-dropdown .choosen-sub:hover{color:#fff;background-color:#2f72d4;cursor:pointer;}
.choosedItem ul{padding:0;margin:0;list-style:none;}
.choosedItem ul li{margin-bottom:10px;float:left;padding:10px 10px 10px 25px;border:1px solid #e8e7e6;color:#000;margin-right:10px;border-radius:50px;}
.choosedItem ul li span{transition:all .3s ease;height:22px;width:22px;float:right;margin-left:15px;text-align:center;line-height:18px;display:block;border-radius:50px;cursor:pointer;}
.choosedItem ul li span:hover{background-color:#000;}
.choosenBtn{padding-top:150px;}

/*choosen dropdown end*/
.listingRport{margin-top:60px!important;}
.report-chart-2{padding:20px 0;}
.report-chart-2 .downloadReportbtn{padding-top:00px;}
.startingBudget{margin:20px 0 0 0!important;}
.startingBudget .form-shadow{padding:50px 0!important;}
.leftbarchart-dots-22 ul li,.leftbarchart-dots-44 ul li{width:130px;height:auto;text-align:left;}
.leftbarchart-dots-11 ul li:nth-child(2){display:none;}
.leftbarchart-dots-11 ul li:nth-child(3){display:none;}
.leftbarchart-dots-22 ul li:nth-child(2){display:none;}
.leftbarchart-dots-22 ul li:nth-child(3){display:none;}
.leftbarchart-dots-33 ul li:nth-child(2){display:none;}
.leftbarchart-dots-33 ul li:nth-child(3){display:none;}
.leftbarchart-dots-44 ul li:nth-child(2){display:none;}
.leftbarchart-dots-44 ul li:nth-child(3){display:none;}
.startingBudget-h{margin-bottom:30px;}
.startingBudget-h  h3,.startingBudget-h p{text-align:center;color:#000;}
.startingBudget-h h3,.startingBudget-h p{text-align:center;color:#000;}
.startingBudget .downloadReportbtn{margin-top:20px;}
.numscrollerCount p{font-size:14px;}
.numscrollerCount .heading-h3,.numscrollerCount{margin-top:0px!important;}
.numscrollerCount .startingBudget-h{margin-top:10px;margin-bottom:60px;}
.form-section .form-shadow.tab-sec .nav-tabs.gperTab li{width:25%;}
.rangeSlider{padding:115px 10% 60px 10%!important;}
.rangeSlider .comman.buttons{padding-top:150px;padding-bottom:0px;}
.Rslideinfo{text-align:center;font-size:17px;padding-top:50px;color:#868686;font-family:'HelveticaNeue-Light';}
.Rslideinfo span{font-weight:600;font-size:18px;}
#dateDiff{display:inline-block;width:25px;}
.noUi-handle.noUi-handle-upper .noUi-tooltip h1,.noUi-handle.noUi-handle-lower .noUi-tooltip h1{font-size:25px;margin:-2px 0px;margin-left:13px;display:inline-block;}
.noUi-handle.noUi-handle-upper .noUi-tooltip{width:100px;left:-25px!important;}

/* .noUi-handle.noUi-handle-upper > div:after {
   content: '(10 days)';
   margin-left: 5px;
} */
.noUi-handle.noUi-handle-upper .noUi-tooltip,.noUi-handle.noUi-handle-lower .noUi-tooltip{width:200px;left:-75px!important;height:54px;font-family:'Fjalla One',sans-serif;overflow:hidden;}
.uploadDays > div{font-size:14px;line-height:14px;}
.uploadDays{padding-right:5px;font-size:25px;font-family:'Fjalla One',sans-serif;display:inline-block;margin-left:10px;}
.uploadDays+div{line-height:15px;font-family:'Fjalla One',sans-serif;}
.burgerM{margin:20px 0px 0px 0px;display:none;}
.burgerM div{width:25px;height:25px;float:right;cursor:pointer;}
.burgerM div::before,.burgerM div::after,.burgerM div span{cursor:pointer;content:'';display:block;height:3px;width:25px;margin-bottom:4px;background-color:#fff;transition:all .3s ease;}
.burgerM-active div::before{transform:rotate(45deg) translate(8px,4px);-webkit-transform:rotate(45deg) translate(8px,4px);-ms-transform:rotate(45deg) translate(8px,4px);-moz-transform:rotate(45deg) translate(8px,4px);-o-transform:rotate(45deg) translate(8px,4px);}
.burgerM-active div::after{transform:rotate(-45deg) translate(6px,-2px);-webkit-transform:rotate(-45deg) translate(6px,-2px);-ms-transform:rotate(-45deg) translate(6px,-2px);-moz-transform:rotate(-45deg) translate(6px,-2px);-o-transform:rotate(-45deg) translate(6px,-2px);}
.burgerM-active div span{opacity:0;}
.burgerM-active{background-color:#253F8E;z-index:999999999999;}
.mobMenu{position:absolute!important;background:#fff;top:68px!important;z-index:9999;bottom:initial;right:0!important;width:92%!important;display:block!important;}
.mobMenu .navbar-nav{}
.mobMenu .navbar-nav .nav-item{display:block!important;float:none!important;clear:both;}
.mobMenu .navbar-nav .nav-item a{color:#000;}
.pricingSteps{padding:40px 0;background-color:#efefef;}
.pricingStepsUl{padding:0;margin:0;list-style:none;}
.pricingStepsUl  li > section{display:block!important;background-color:#fff;border-bottom:1px solid #01a5a4;padding:50px 35px 35px 35px;border-top-left-radius:3px;border-top-right-radius:3px;box-shadow:0px 0px 45px rgba(150,150,150,0.15);-moz-box-shadow:0px 0px 45px rgba(150,150,150,0.15);-webkit-box-shadow:0px 0px 45px rgba(150,150,150,0.15);min-height:350px;margin-top:20px;}
.pricingStepsUl  li > section div::after,.wanttotalk .sepratImg,.pricingStepsUl  li > section,.pricingStepsUl  li{display:table;content:" ";}
.pricingStepsUl  li > section div:nth-child(1) img{display:block;margin:auto;}
.pricingStepsUl  li > section div:nth-child(1) hr{border:0px;border-bottom:1px solid #1aa3a3;width:30%;margin:auto;margin-top:15px;}
.pricingStepsUl  li > section div:nth-child(2) h3{font-size:20px;font-family:'HelveticaNeue-Bold';text-align:center;margin-bottom:40px;}
.pricingStepsUl  li > section div:nth-child(3) p{font-size:16px;text-align:center;margin-bottom:0px;line-height:24px;color:#000;}
.wanttotalk{margin-bottom:80px;height:500px!important;}
.wanttotalk-sec section:nth-child(1){padding-top:60px;}
.wanttotalk-sec section:nth-child(2){padding-top:60px;}
.wanttotalk-sec section p{font-size:16px;}
.wanttotalk-sec section h3{font-size:26px;margin-bottom:25px;font-family:'HelveticaNeue-Bold';}
.wanttotalk-sec section h2{font-size:30px;font-weight:bold;color:#fff;}
.bgprice{background-color:#f1f1f1!important;}
.wanttotalk .model-bg:after{background-color:rgba(152,210,42,0.6)!important;}
.wanttotalk .model-bg{height:500px!important;}
.wanttotalk:before,.wanttotalk:after,.wanttotalk .model-bg:after{min-height:500px!important;}
.wanttotalk .create-btn{border:2px solid #fff!important;width:auto!important;padding-left:50px;padding-right:50px;}
.wanttotalk .sepratImg{clear:both;padding:15px 0px;}
.wanttotalk .over{left:15%!important;}
.wanttotalk .wanttotalkP{padding-bottom:70px;}
.want-to-talk{margin-bottom:80px;}
.want-to-talk-1{background-color:#fff;margin:0px 00px;padding:70px 60px;border-radius:3px;box-shadow:0px 0px 10px rgba(212,212,212,0.58);}
.want-to-talk-1 ul{list-style:none;padding:0;margin:0;display:flex;}
.want-to-talk-1 ul li{position:relative;}
.want-to-talk-1 ul li:nth-child(2) img{position:absolute;top:0;right:0;bottom:0;margin:auto;}
.want-to-talk-2{}
.want-to-talk-2 h2{font-size:30px;font-family:'HelveticaNeue-Bold';margin:0;color:#000;}
.want-to-talk-2 p{color:#a3a3a3;margin:12px 0 18px 0;width:80%;letter-spacing:.5px;line-height:24px;font-size:16px;}
.want-to-talk-2 div{margin-top:50px;}
.want-to-talk-2 div p{margin-bottom:5px;}
.want-to-talk-2 div span{color:#01a5a4;font-size:60px;font-family:'HelveticaNeue-Bold';}
.ready-to-get .want-to-talk-1{margin-top:-180px;}
.ready-to-get{background:rgba(66,169,55,0.94);margin-top:200px;}
.ready-to-get .container{ /* transform: translateY(-50%); */}
.ready-to-get-1{margin:0;margin-top:70px;color:#fff;text-align:center;}
.ready-to-get-1 h4{font-size:32px;font-family:'HelveticaNeue-Bold';}
.ready-to-get-1 p{line-height:25px;letter-spacing:.5px;}
.ready-to-get-1 .create-btn{text-decoration:none;color:#fff;padding:12px 45px;height:50px;width:320px;display:inline-block;text-align:center;border:2px solid #fff;border-radius:50px;text-transform:uppercase;}
.ready-to-get-1 .create-btn:hover{background:#8ccf84;color:#000;text-decoration:none;}
.ready-to-get-1-btn{margin-top:60px;}
.ready-to-get-1-btn span{margin:0 15px;}
.ready-to-get-1{padding-bottom:60px;}
.want-to-talk.ready-to-get{margin-bottom:0px;}
.ready-to-get-mn{background-image:url('../images/lance-asper-259085.jpg');background-size:cover;background-position:bottom;}
.navbar-nav-mob{display:none;}
.submenu-ul{margin:0;padding:0;list-style:none;}
.submenu-ul li{float:left;margin-right:40px;padding:10px 0;}
.submenu-ul li a{color:#000;font-size:16px;text-decoration:none;}
.submenu-ul li a.activeSub{color:#000;font-family:'HelveticaNeue-Medium';}
.submenu-ul li a:hover{color:#000;}
.submenu-mn.show{display:block;box-shadow:0px 5px 3px rgba(0,0,0,0.11);-webkit-box-shadow:0px 5px 3px rgba(0,0,0,0.11)}
.submenu-mn.hide{display:none;}
.navbar-nav-mob-sub{padding:0 0 0 25px!important;}
.navbar-nav-mob-sub li a{font-size:14px!important;}
.banner-section .nowDealer{border:2px solid #ffffff!important;background:rgba(0,0,0,0)!important;}
.banner-section .nowDealer:hover{background:#fff!important;color:#000;}
.advert-section .icon4{background-image:url('../images/model_icon4.png')!important;}
.ready-to-get-3-btn .create-btn-3{text-decoration:none;color:#fff;text-transform:uppercase;padding:12px 45px;height:50px;width:320px;display:inline-block;text-align:center;border:2px solid #fff;border-radius:50px;}
.ready-to-get-3-btn span{margin:0 15px;color:#fff;}
.callspeakBanner{width:280px;background-color:#fff;text-align:center;position:fixed;z-index:2;bottom:-10px;right:50px;-o-border-radius:4px 4px 0px 0px;-moz-border-radius:4px 4px 0px 0px;-webkit-border-radius:4px 4px 0px 0px;border-radius:4px 4px 0px 0px;box-shadow:0px 0px 10px rgba(0,0,0,0.1);overflow:hidden;animation-duration:.1s;-webkit-animation-duration:.1s;}
.callspeakBanner.activeTH{bottom:0px;}
.callspeakBanner.activeTH section{padding:15px 25px;height:321px;}
.callspeakBanner.activeTH .callSpeak i{transform:rotate(180deg);margin-top:3px;}
.callspeakBanner span{cursor:pointer;position:absolute;right:0px;top:3px;padding:0px 10px}
.callspeakBanner section{transition:all .5s ease;text-align:left;height:0px;}
.callspeakBanner section h4{font-size:24px;font-family:'HelveticaNeue-Medium';color:#01a5a4}
.callspeakBanner section h5{font-size:16px;font-family:'HelveticaNeue-Medium';color:#000}
.callspeakBanner section ul{margin-top:25px;list-style-position:outside;padding-left:29px}
.callspeakBanner section ul li{list-style-image:url('../images/callspeakListicon.fw.png');font-size:14px;color:#868686;margin-bottom:15px}
.callspeakBanner section p{margin-top:25px;font-size:16px;color:#868686}
.callspeakBanner section p b{display:block;color:#1aa3a3;font-size:25px}
.callSpeak{background-color:#01a5a4;padding:8px 0px;color:#fff;font-size:18px;cursor:pointer;text-align:left;}
.callSpeak img{display:inline-block;float:left;margin-left:17px;margin-top:3px;margin-right:10px;}
.callSpeak i{font-size:29px;line-height:16px;float:right;margin-right:15px;transition:all .5s ease;height:19px;margin-top:5px;}
.Tellyourlovestorymn{padding-bottom:60px;}
.Tellyourlovestory{z-index:1;}
.Tellyourlovestory .cycle-pager{text-align:center;padding-top:15px;clear:both;}
.Tellyourlovestory .cycle-pager span{cursor:pointer;display:inline-block;height:8px;width:8px;margin:0px 5px;background-color:#bbb;font-size:0px;}
.Tellyourlovestory .cycle-pager span.cycle-pager-active{background-color:#01a5a4;}
.Tellyourlovestory section{margin-bottom:0!important;}
.report-chart-1 .col-lg-4.col-md-4 .text-center.heading-h3{font-family:'HelveticaNeue'!important;}
.specific .choosedItem{margin-top:10px;}
.specific .choosedItem ul li span{background-color:#999;}
.startingBudget::after{content:'';display:table;clear:both;}
.page-19-form .tab-content{padding:50px 0 0 0!important;}
.page-19-bar .col-lg-4.col-md-4{width:330px;}
.page-19-bar .col-lg-4.col-md-4 .chart-col{padding:0px;}
.page-19-bar .col-lg-4.col-md-4.male.animate.fadeInUp{width:370px;}
.page-19-form  .tab-pane{overflow:initial!important;}
.page-1-3 .left-one{width:39%!important;padding:10px;}
.page-1-3 .switchbtn{padding-top:30px;}
.page-1-3 .left-one.lastp1{width:22%!important;}
.switchbtnp1 .switch{width:130px;}
.switchbtnp1 input:checked + .slider:before{webkit-transform:translateX(94px);-ms-transform:translateX(94px);transform:translateX(94px);}
.CIndicator{animation-duration:3s;-webkit-animation-duration:3s;animation-delay:1s;-webkit-animation-delay:1s;width:160px;    /* padding: 0px 10px; */background-color:#00c866;color:#fff;display:block;height:38px;position:absolute;right:0;top:-11px;left:0;margin:auto;border-radius:50px;font-size:14px;padding-top:8px;}
.CIndicator::after{content:'';position:absolute;color:#fff;width:0;height:0;border:9px solid;border-color:#00c866 transparent transparent transparent;top:38px;margin:auto;right:0;left:0;}
.page4block.last input[type="text"]{padding:5px 8px;border-radius:3px;border:1px solid #bbb;font-size:14px;margin-bottom:5px;}
@media (min-width:1200px){
	.seven-cols .col-md-1,.seven-cols .col-sm-1,.seven-cols .col-lg-1{width:14.285714285714285714285714285714%;*width:14.285714285714285714285714285714%;}
}
.choosedItem ul li span{background:#999;}
#loginlightbox{display:none;position:fixed;top:0;bottom:0;right:0;left:0;z-index:99999;}
#loginlightbox section{position:fixed;top:0;bottom:0;right:0;left:0;background-color:rgba(0,0,0,.7);}
.openlightbox{display:block!important;}
.lightbox-content{width:442px;height:568px;position:fixed;top:0;bottom:0;right:0;left:0;background:#fff;margin:auto;border-radius:4px;}
#loginlightbox .loginclose{cursor:pointer;position:absolute;top:0;right:0;padding:10px;display:block;z-index:999999999;}
.loginlightboxF{padding:0px 60px;}
.loginlightboxF .comman:nth-child(1){padding-bottom:15px;}
.loginlightboxF  ul{list-style:none;clear:both;display:block;}
.loginlightboxF  li{width:50%;float:left;}
.loginHead{text-align:center;font-size:18px;font-family:'HelveticaNeue-Bold';margin-top:60px;}
.loginlinks{margin-top:-20px;}
.loginlinks > div{color:#ababab;}
.loginlinks > div:nth-child(1){}
.loginlinks > div:nth-child(2){text-align:right;}
.loginlinks > div:nth-child(2) a{color:#ababab;}
.loginlightboxF .btn.btn-default{width:240px;height:46px;font-size:16px;font-family:'HelveticaNeue';line-height:16px!important;margin-top:25px;}
.loginwith{text-align:center;}
.loginwith div{text-align:center;}
.loginwith ul{list-style:none;padding:0px;margin:0px;}
.loginwith ul li{display:inline-block;margin:0px 30px;}
.loginwith div:nth-child(1){font-size:16px;color:#ababab;}
.loginwith div:nth-child(2){margin-top:25px;}
.loginwith div:nth-child(1) hr{margin:0px;padding:0px;display:inline-block;width:16px;line-height:9px;margin:0px 15px;margin-bottom:5px;}
.loginwith div:nth-child(3){color:#ababab;margin-top:30px;font-size:16px;}
.loginwith div:nth-child(3) a{color:#00c866;font-size:16px;}
.checkbox{margin-top:0px;padding-bottom:0px;}
.checkbox label{padding-left:0;color:#ababab!important;}
.checkbox label:after{content:'';display:table;clear:both;}
.checkbox .cr{position:relative;display:inline-block;border:2px solid #a9a9a9;border-radius:1px;width:15px;height:15px;float:left;margin-right:.5em;margin-top:2px;}
.checkbox .cr .cr-icon{position:absolute;font-size:12px;line-height:0;top:47%;left:1%;}
.checkbox label input[type="checkbox"]{display:none;}
.checkbox label input[type="checkbox"] + .cr > .cr-icon{color:#00c866;transform:scale(3) rotateZ(-20deg);opacity:0;transition:all .3s ease-in;}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{transform:scale(1) rotateZ(0deg);opacity:1;}
.checkbox label input[type="checkbox"]:disabled + .cr{opacity:.5;}

/*--------- New Range Slider --------------*/
.ui-widget-content{border:0px solid #aaaaaa;background:none;color:transparent;height:15px!important;}
.ui-widget-header{border:1px solid #aaaaaa;background:#3FB8AF;color:#222222;font-weight:bold;}
.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:30px;height:30px;top:-8px!important;cursor:pointer;background:#ffffff!important;box-shadow:0px 0px 3px #000;border-radius:50px;}
.rangePointers{}
.sortbyinput .pull-left.form-control.icon8.cusPlace{width:300px;}
.page19DS-Tabul{margin-top:25px!important;}

/*12-9-2017*/
.navigation-home{margin:25px 0;}
.navigation-mob ul,.navigation-home ul{margin:0;padding:0;list-style:none;}
.navigation-mob{position:fixed;right:0px;top:0;bottom:0;left:0px;margin:auto;background-color:rgba(0,0,0,0.2);padding:15px 15px;z-index:9999999999999;display:none;}
.navigation-mob-stag{position:absolute;right:0px;top:0;bottom:0;left:50px;margin:auto;background-color:#fff;z-index:999999999999999999999;}
.navigation-mob ul li{margin-bottom:10px;}
.navigation-mob ul li:last-child{margin-bottom:0px;}
.navigation-mob ul li a{text-decoration:none;color:#000;}
.navigation-mob ul li a.active{color:#1aa3a3;font-family:'HelveticaNeue-Bold';}
.navigation-mob-1{display:block;}
.navigation-mob-2{display:none;}
.siteads-cont{width:74%;margin:auto;}
.get-your-adverts{background-color:#EEEEEF;padding:50px 0;}
.get-your-adverts h3{text-align:center;margin-bottom:50px;}
.siteads-2,.siteads-1{padding:15px;}
.siteads-1{width:100%;/* background-color:#E6AB00 */;padding:0px;}
.siteads-1 img{width:100%;}
.google-ads .siteads-1{/* background-color:#4D78BB; */}
.siteads-2{width:100%;background-color:#fff;}
.siteads-heading{font-family:'HelveticaNeue-Bold';font-size:22px;}
.siteads-2 p{min-height:66px;min-height:50px;font-size:14.8px;margin-top:15px;}
.siteads-2 ul{list-style-image:url('../images/callspeakListicon.fw.png');padding-left:28px;list-style-position:outside;}
.siteads-2 ul li{font-family:'HelveticaNeue-Bold';font-size:14.8px;}
.navigation-mob-2-sub{margin-top:10px!important;padding-left:20px!important;}

/*13-09-2016*/
.banner-img-2{display:none;}
.listingDetail-3 h1{font-family:'HelveticaNeue-Bold';font-size:22px;margin:0px;color:#000;}
.listingDetail-3 h1+p{font-size:22px;color:#000;margin-top:7px;}
.listingDetail-3 ul{margin-top:25px;display:-webkit-box;display:-moz-box;}
.listingDetail-3 ul li{width:33.3%;}
.listingDetail-3 ul li h2{text-align:center!important;float:none;font-family:'Fjalla One',sans-serif;}
.listingDetail-3 ul li p{color:#777;text-align:center!important;font-family:'Fjalla One',sans-serif;font-size:13px;margin-bottom:0px;}
.listingDetail-3 .prest,.listingDetail-3 .prest section,.listingDetail-3 .prest a{padding:0px 0 0 0!important;text-align:center!important;font-family:'Fjalla One',sans-serif;color:#000;}
.listingDetail-3 .prest section{color:#777;margin-bottom:10px;}
.listingDetail-3 .prest{line-height:25px;}
.listingDetail-3 .prest a{color:#337ab7;}
.listingDetail-3 .prest hr{width:75%;border-top:2px solid #000;}
.listingDetail-4 a{font-size:10px;text-align:center;display:block;text-decoration:none;clear:both;font-family:'HelveticaNeue-Bold';}
.listing-remaining{text-align:center;clear:both;font-size:16px;color:#ca0202;font-family:'Fjalla One',sans-serif;margin-bottom:10px;}
.listing-remaining span{font-size:30px;font-weight:700;}
.listingDetail-4 .switchbtn{margin-top:15%;}
.trash-icon{position:absolute;right:90px;top:-28px;font-size:25px;line-height:24px;color:#666;cursor:pointer;}
.trash-icon:hover{color:#000;}
.menutext{color:#fff;float:right;margin-left:10px;font-size:16px;line-height:17px;margin-left:5px!important;width:45px!important;}
.menutext::before,.menutext::after{content:initial!important;}
.navigation-home-1{margin:22px 0;}
.navigation-home-1 .dropdown-toggle{color:#fff;cursor:pointer;}
.navigation-home-1 ul li{padding-right:0px!important;}
.navigation-mob-bottom{position:absolute;bottom:0px;right:0px;left:0;}
.navigation-mob-bottom ul,.Leebotlink-hideshow-tab ul,.navigation-mob-top ul{list-style:none;margin:0;padding:0;}
.navigation-mob-bottom ul li,.navigation-mob-top ul li{margin-bottom:0;}
.navigation-mob-bottom ul li a,.navigation-mob-top ul li a{padding:16px 0px;border-top:1px solid #dedddd;background-color:#efeeee;display:block;text-align:center;min-height:50px;font-size:12px;}
.navigation-mob-bottom ul > li:nth-child(3) a{background-color:#1dce6b;color:#fff;}
.navigation-mob-bottom ul > li:nth-child(2) a{color:#1dce6b;}
.navigation-mob-bottom ul > li:nth-child(1) a{color:#253F8E;}
.navigation-mob-top{position:absolute;height:calc(100% - 160px);right:0px;left:0;top:0;overflow-y:scroll;}
.navigation-mob-top ul{}
.navigation-mob-top ul li{}
.navigation-mob-top ul li a{text-transform:uppercase;text-align:left;background-color:#fff;border:0px;border-left:4px solid #fff;padding-left:13px;}
.navigation-mob-top ul li a.active-link{border-color:#253f8e;background-color:#efeeee;font-weight:800;}
.navigation-mob-top > ul > li:nth-child(1) > a{padding:12px;text-align:left;background:#fff;}
.navigation-mob-top ul li ul{margin-left:20px;}
.hidemneu{display:none;}
.siteads-3 ul{list-style-image:url('../images/callspeakListicon.fw.png');padding-left:28px;list-style-position:outside;}
.siteads-3 ul li{font-family:'HelveticaNeue';font-size:16px;margin-bottom:20px;}
.page-1-hds{}
.page-1-hds h2{font-family:'HelveticaNeue-Bold';font-size:40px;color:#000;line-height:44px;font-weight:700;}
.page-1-hds p{font-size:16px;color:#000;line-height:20px;}
.or-block{display:block!important;margin:10px auto!important;width:25px;}
.flow-1-b  p{margin-bottom:3px;font-size:15px;}
.flow-1-b  p > span{display:inline-block!important;color:#1aa3a3;font-size:25px;font-family:'HelveticaNeue-Bold';line-height:30px;width:auto;}
.flow-1-b .info{color:#333!important;border-radius:50px;border:1px solid #333;width:32px!important;padding-bottom:0px!important;height:32px;text-align:center;margin-left:10px;}
.flow-1-b p span > span{display:none;}
.lightbox{position:absolute;width:300px!important;height:110px;font-size:16px!important;line-height:22px!important;text-align:left;padding:10px 15px;background:#00a4a4;z-index:999;border-radius:3px;color:#fff!important;left:37px;font-family:'HelveticaNeue-Light'!important;top:-1px;}
.lightbox span{font-size:12px!important;line-height:16px!important;color:#fff!important;font-family:'HelveticaNeue-Light'!important;margin-top:15px;}
span.lightbox::before{content:'';width:0px;height:0px;border:8px solid red;border-color:transparent #00a4a4 transparent transparent;z-index:99999999;left:-15px;position:absolute;}
.flow-1-b .info:hover > .lightbox{display:inline-block!important;}
.Leebotlink-hideshow-tab ul li{display:block;width:50%;float:left;text-align:center;background:#00c866;padding:2px;color:#fff;}
.Leebotlink-hideshow-tab ul li a{display:block;font-size:15px;text-align:center;background-color:#fff;padding:12px 0;color:#00c866;min-height:44px;cursor:pointer;text-decoration:none;text-transform:capitalize;}
.Leebotlink-hideshow-tab ul li a.activeLink{background-color:#00c866;color:#fff;}
.nothide{overflow:initial!important;min-height:300px;}
.part1bflowimg{position:absolute;top:-24px;margin-left:-14px;}
.LeebotlinkTabs{display:none;}
.LeebotlinkTabs:nth-child(1){display:block;}
.targeting a{margin-left:0px!important;}
.targeting input[type=checkbox]:not(old){width:2em;margin:0;padding:0;font-size:1em;opacity:0;}
.targeting input[type=checkbox]:not(old) + label{display:inline-block;margin-left:-2em;line-height:1.5em;color:#000;}
.targeting input[type=checkbox]:not(old) + label > span{display:inline-block;width:15px;height:15px;margin:0.25em 0.5em 0.25em 0.25em;border:0.0625em solid rgb(192,192,192);border:0.0625em solid rgb(130,130,130);vertical-align:bottom;background:#eee;}
.targeting input[type=checkbox]:not(old):checked + label > span:before{content:'✓';display:block;width:1em;color:rgb(0,200,102);font-size:0.875em;line-height:1em;text-align:center;font-weight:bold;}
.vehicle.form-shadow.advertise{width:100%;margin:0;padding:30px 0 0 0;}
.estimatere{width:98%;margin:1%;border:1px solid #ddd;min-height:355px;border-radius:3px;padding:15px;text-align:center;font-size:24px;font-style:italic;}
.estimatere-1 p{text-align:center!important;font-size:16px!important;font-style:normal!important;font-family:'HelveticaNeue'!important;}
.estimatere span{font-family:'HelveticaNeue-Bold';font-size:25px;}
.estimatere div{margin-top:35px;font-size:40px;line-height:40px;font-style:initial;font-family:'HelveticaNeue-Bold';}
.estimatere i{position:absolute;border:1px solid #333;display:block;width:45px;font-family:'HelveticaNeue-Bold';cursor:pointer;height:45px;text-align:center;vertical-align:middle;border-radius:50%;font-size:33px;font-style:initial;line-height:38px;bottom:10px;right:10px;}
.vehicle-detailed-slider .carousel-inner{position:relative;width:100%;}
.vehicle-detailed-slider .carousel-inner .item{overflow:hidden;}
.vehicle-detailed-slider .carousel-inner .item img{width:100%;}
.vehicle-detailed-slider .carousel-control.right{right:0;left:auto;background-image:none!important;background-repeat:repeat-x;}
.vehicle-detailed-slider .carousel-control.left{left:0;right:auto;background-image:none!important;background-repeat:repeat-x;}
.vehicle-detailed-slider #carousel-example-generic{margin:20px auto;width:100%;}
.vehicle-detailed-slider #carousel-custom{width:100%;}
.vehicle-detailed-slider #carousel-custom .carousel-indicators{position:static;bottom:10px;left:0;z-index:15;width:65px;padding:0;overflow:hidden;margin-left:0;text-align:center;list-style:none;margin-left:20px;}
.vehicle-detailed-slider #carousel-custom .carousel-indicators li{background-color:transparent;-webkit-border-radius:0;border-radius:0;display:inline-block;height:auto;margin:0!important;width:auto;margin-bottom:20px!important;display:block;}
.vehicle-detailed-slider #carousel-custom .carousel-indicators li:last-child{margin-bottom:0!important;}
.vehicle-detailed-slider #carousel-custom .carousel-indicators li img{display:block;opacity:1;}
.vehicle-detailed-slider #carousel-custom .carousel-indicators li.active img{opacity:1;}
.vehicle-detailed-slider #carousel-custom .carousel-indicators li:hover img{opacity:0.75;}
.vehicle-detailed-slider #carousel-custom .carousel-outer{position:relative;}
.vehicle-detailed-slider .carousel-indicators li img{height:75px;width:100%;}
.vehicle-detailed-heading h2{color:#000;font-size:22px;line-height:17px;font-family:'HelveticaNeue-Bold';margin:0;text-transform:uppercase;}
.vehicle-detailed-heading p{font-size:16px;font-family:'HelveticaNeue-Bold';margin:8px 0;line-height:18px;color:#777;}
.vehicle-detailed-heading a{display:block;margin:0px;color:#01a5a4;line-height:16px;}
.vehicle-detailed-heading-1{float:right;}
.vehicle-detailed-heading-1 h2{color:#0099fe!important;}
.vehicle-detailed-link a{display:block;text-align:right;padding-bottom:10px;}
.vehicle-detailed-cont{font-size:32px;font-family:'HelveticaNeue-Bold';}
.vehicle-detailed-call{background-color:#3AB370;color:#fff;padding:10px 15px;font-family:'HelveticaNeue-Bold';font-size:18px;border-radius:4px;margin-bottom:15px;}
.vehicle-detailed-loc{font-size:30px;font-family:'HelveticaNeue-Bold';}
.vehicle-detailed-loc i{font-size:60px;}
.vehicle-detailed-exm{border:2px solid #1AA3A3;margin-top:15px;}
.vehicle-detailed-exm img{width:100%;}
.vehicle-detailed-imgicons{display:block;margin-top:50px;padding:0;margin:0;list-style:none;}
.vehicle-detailed-imgicons li{padding:0 5px;text-align:center;}
.vehicle-detailed-imgicons li img{height:70px;display:block;margin:auto;}
.topupFundsPopup{display:none;box-shadow:0px 0px 20px rgba(0,0,0,0.68);-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.68);padding:15px;background-color:#fff;position:fixed;width:650px;height:370px;border-radius:5px;z-index:9999999;margin:auto;top:0;bottom:0;right:0;left:0;}
.topupFundsPopup-Close{background-color:#000;position:absolute;width:40px;height:40px;border-radius:50px;text-align:center;padding-top:7px;margin-top:-32px;margin-left:-32px;cursor:pointer;}
.topupFundsPopup h1{text-align:center;font-size:22px;font-family:'HelveticaNeue-Bold';}
.topupFundsPopup .textbox{font-family:'HelveticaNeue-Bold';}
.topupFundsPopup .textbox input[type='text']{background:url(../images/pund-symbol.png) no-repeat 9px center;padding:10px;border:1px solid #797979;text-indent:25px;border-radius:3px;margin-top:8px;}
.topupFundsPopup .siteads-3 li{font-size:14px;margin-bottom:5px;}
.topupFundsPopup .btn{margin:auto;background-color:#00c866;color:#fff;font-weight:800;width:150px;border-radius:50px;padding:12px;display:block;margin-top:10px;}
.navigation-home-1 .dropdown-menu>li>a{display:block;padding:15px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;width:276px;font-size:15px;border-bottom:1px solid #eee;white-space:normal;position:relative;}
.navigation-home-1 .dropdown-menu>li:last-child>a{border-bottom:0px solid #eee;}
.navigation-home-1 .dropdown-menu{top:44px;}
.navigation-home-1 .dropdown-menu::before{content:'\f0d8';width:17px;color:#fff;height:12px;position:absolute;top:-16px;z-index:9999;right:44px;font-size:26px;font-family:FontAwesome;line-height:26px;}
.navigation-home-1 .dropdown-menu>li>a::before{content:'';position:absolute;left:0;top:15%;bottom:15%;width:5px;background:#1aa3a3;display:none;}
.navigation-home-1 .dropdown-menu>li>a:hover::before{display:block;}
.page8btn a.btn.btn-default.back,.page8btn a.btn.btn-default.btn2.next{width:250px;}
.terms-conditions{background-color:#fff;padding:10px 25px;margin:30px;margin-top:0px;border-radius:3px;}
.terms-conditions h3{font-size:18px;font-family:'HelveticaNeue-Bold';margin-top:35px;margin-bottom:10px;}
.terms-conditions p{text-align:justify;line-height:22px;color:#444;}
.terms-conditions ul{list-style:none;margin:0px;padding:0px;}
.terms-conditions ul li{margin:2px 0px;color:#444;}
.terms-conditions .uldesgn{margin:inherit;margin-bottom:10px;}
.terms-conditions .uldesgn li{margin:5px 0;}
.privacy-policy{}
.privacy-policy h3{font-size:18px;}
.privacy-policy h4{font-family:'HelveticaNeue-Bold';}
.privacy-policy h4 ul{margin-left:36px;}
.privacy-policy .pripoliul{list-style:circle;list-style-position:outside;margin-left:17px;list-style-image:url('../images/dash.png');}
.privacy-policy .pripoliul li{margin:10px 0;padding-left:25px;}
.page12serchbtn{background:#00c866;color:#fff;border-radius:50px;border:0;padding:9px;width:60px;margin-left:-41px;height:42px;outline:none;}
.page12serchtxtb{border-radius:50px!important;background:#fdfdfd!important;border:1px solid #ececec!important;font-size:16px!important;text-transform:inherit!important;font-weight:normal!important;text-align:left!important;padding-left:23px!important;}
.addbtnB{width:75px!important;right:1px;position:absolute;top:26px;z-index:9999;height:46px!important;padding:10px!important;line-height:normal!important;border-radius:0!important;}
.addbtnBC{padding-left:6%!important;}
.addbtnBC .left-one{width:50%!important;}
.addbtnBC .left-one.add{width:40%!important;margin-left:0!important;}
.addbtnBC .siteads-3 ul li span{display:inline-block;border-radius:50%;background-color:#000;cursor:pointer;margin-left:5px;}
.part1bmof{margin-left:49px!important;}
.page-8-or{margin:40px 0 20px 0!important;padding-left:0px!important;border-radius:50%;border:1px solid #696969;height:45px;width:45px;padding:13px 0px!important;line-height:18px!important;color:#636161!important;}
.addbtnBCD{top:73px!important;}
.about-banner{height:350px!important;}
.about-banner-div{position:absolute;top:50%;right:0;left:0;text-align:center;font-size:49px;font-family:'HelveticaNeue-Bold';color:#fff;z-index:99999;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.aboutcontent{padding:40px 0;}
.aboutcontent h2{font-size:28px;font-family:'HelveticaNeue-Bold';color:#000;margin-bottom:40px;margin-top:40px;}
.aboutcontent p,.aboutcontent,.aboutcontent ul.ulcls li{font-size:17px;color:#666;line-height:30px;text-align:justify;}
.aboutcontent .cennter{text-align:center;}
.aboutcontent ul.ulcls{padding-left:17px;margin:25px 0px;}
.aboutquickfacts{}
.aboutquickfacts .quickfacts1{}
.aboutquickfacts .quickfacts2,.teamdiv .teamPost{font-size:18px;color:#000;line-height:25px;font-family:'HelveticaNeue-Medium';}
.aboutquickfacts .quickfacts2 div,.teamdiv .teamPost div{font-size:17px;color:#666;line-height:18px;}
.quickspace{display:table;width:100%;}
.howitwork .container{border-bottom:1px solid #ddd;}
.container-noborder{border-bottom:0px solid #ddd!important;}
.howitwork .howittext{padding:45px 0;}
.teamdiv .teamPost{margin:15px 0;}
.teamd-mn{display:flex;}
.team-ourInvstors .teamImg{text-align:center;border:1px solid #bbb;border-radius:3px;}
.team-ourInvstors .teamImg img{display:inline-block;margin:auto;}
.team-ourInvstors .teamPost{text-align:left!important;font-size:22px;font-family:'HelveticaNeue-Bold';}
.teamdiv .teamImg{overflow:hidden;border-radius:5px;-webkit-border-radius:5px;height:232px;}
.teamdiv .teamImg::after{content:'';position:absolute;background-color:rgba(26,163,163,0.76);top:0;bottom:0;right:0;left:0;display:block;z-index:1;transition:all .3s ease;-webkit-transition:all .3s ease;transform:translate(-57px,290px) rotate(200deg);-webkit-transform:translate(-57px,290px) rotate(200deg);}
.teamdiv .teamImg:hover::after{transform:translate(-57px,162px) rotate(200deg);-webkit-transform:translate(-57px,162px) rotate(200deg);}
.teamdiv .teamImg::before{content:'';position:absolute;height:80px;bottom:0;right:0;left:0;display:block;z-index:1;transition:all .3s ease;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.59+100 */background:-moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0.59) 100%); /* FF3.6-15 */background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0.59) 100%); /* Chrome10-25,Safari5.1-6 */background:linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(0,0,0,0.59) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#96000000',GradientType=0); /* IE6-9 */display:none;z-index:3;}
.teamdiv .teamImg:hover::before{display:block;}
.team-ourInvstors .teamImg:hover::before,.team-ourInvstors .teamImg:hover::after{display:none!important;}
.team-ourInvstors .teamImg{height:auto!important;}
.teamImg2{display:none;}
.teamImg:hover .teamImg2{display:block;}
.teamImg:hover .teamImg1{display:none;}
.teamImg-text{display:none;}
.teamImg:hover .teamImg-text{display:block;position:absolute;bottom:0;padding:0px 0px 10px 10px;z-index:5;color:#fff;font-size:20px;font-family:'HelveticaNeue-Bold';}
.teamImg:hover .teamImg-text div{font-size:18px;font-family:'HelveticaNeue-Medium';}
.press-mn{}
.press-div{}
.press-div-mn{padding:24px 0;border-top:1px solid #ddd;display:flex;}
.press-div-mn > div> a,.mediaassets-div a{font-size:16px;font-family:'HelveticaNeue-Bold';color:#1aa3a3;}
.press-div-mn > div > img{display:block;position:absolute;top:0;bottom:0;right:0;left:0;margin:auto;width:160px;}
.press-div-mn:last-child{border-bottom:1px solid #ddd;}
.mediaassets-div > div > div:first-child{font-size:16px;font-family:'HelveticaNeue-Medium';}
.mediaassets-div > div > div{margin-top:15px;}
.mediaassets-div img{border-radius:5px;}
.mediaassets-div > div > div:nth-child(2){text-align:right;}
.presscontacts div{font-size:18px;}
.presscontacts span,.presscontacts a{color:#1aa3a3;font-size:18px;}
.contactus{}
.contactus-form label{width:100%;display:block;}
.contactus-form > div{margin-bottom:40px;}
.contactus-form > div:nth-child(1),.contactus-form > div:nth-child(2){width:50%;}
.contactus-form > div textarea{height:150px!important;background-image:none!important;padding-left:15px!important;}
.contactus-form > div input[type=submit]{width:150px;}
.reviews .part4atypeExamp ul li:nth-child(1){width:30%!important;}
.reviews .part4atypeExamp ul li:nth-child(2){width:70%!important;}
.reviews .Tellyourlovestory .cycle-pager{padding-top:70px!important;}
.ushldknow-mn{}
.ushldknow-div{padding:0px 25px;}
.ushldknow-cntr{text-align:center;font-size:18px;font-family:'HelveticaNeue-Medium';margin-bottom:15px;}
.leebtdelr div:first-child{font-size:60px;color:#01a5a4;text-align:center;height:60px;top:0;bottom:0;margin:auto;}
.leebtdelr div:nth-child(2) span{color:#333;font-family:'HelveticaNeue-Medium';}
.no-border{border:0px!important;}
.leebtdelr > div > img{width:auto;}
.best-car > div{margin-top:25px;}
.jobs-list{}
.jobs-list div{}
.jobs-list-1 a{font-size:20px;color:#1aa3a3;font-family:'HelveticaNeue-Medium';}
.jobs-list-2{text-align:right;font-size:20px;font-family:'HelveticaNeue-Medium';}
.jobs-list td{padding:25px 0px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.vehicle-detailed-heading{float:left;}
.vehicle-detailed-heading-1{float:right;}
.vehicle-contact{padding:20px;background-color:#fbfbfb;border:1px solid #f0efef;margin-top:20px;}
.vehicle-contact > div:nth-child(1),.vehicle-contact > div:nth-child(2){float:left;font-size:17px;font-family:'HelveticaNeue-Medium';}
.vehicle-contact > div:nth-child(2){margin-left:55px;}
.vehicle-contact > div:nth-child(1) div,.vehicle-contact > div:nth-child(2) div{font-size:22px;font-family:'HelveticaNeue';color:#01a5a4;line-height:25px;}
.vehicle-contact > div:nth-child(3){float:right;}
.vehicle-contact-a{color:#0099fe;border:2px solid #0099fe;border-radius:50px;padding:11px 30px;display:inline-block;font-family:'HelveticaNeue-Medium';text-decoration:none!important;transition:all .2s ease;text-align:center;margin:auto;}
.vehicle-contact-a:hover{background-color:#0099fe;color:#fff;}
.vehi-desc{padding-bottom:25px;}
.vehi-desc h2{margin-top:00px;font-size:22px;}
.vehi-desc p{color:#777;}
.vehi-desc a{color:#01a5a4;}
.vehicledetailrightdiv{padding-left:40px;}
.vehicledetailleftdiv{}
.vehicledetailleftdiv-menu{background-color:#01a5a4;padding:10px;height:56px;}
.vehicledetailleftdiv-ul{list-style:none;padding:0;margin:0;display:block;}
.vehicledetailleftdiv-ul li{float:left;font-size:12px;color:#fff;width:15%;padding-top:10px;}
.vehicledetailleftdiv-ul li{}
.vehicledetailleftdiv-ul li:nth-child(1){font-family:'Dosis',sans-serif;font-size:24px;width:42%;padding-top:0;}
.vehicledetailleftdiv-ul li:nth-child(3){width:28%;}
.vehicledetailleftdiv-detail{border:1px solid #ddd;border-top:0;padding:0 5px 0 5px;}
.vehicledetailleftdiv-detail div > img{width:100%;}
.vehicledetailleftdiv-detail div > h2{font-size:18px;text-align:center;padding:0px 10px;}
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation:portrait){
	.listingDetail-3 .audi{padding:10px;}
	.listingDetail-3 ul{margin-top:15px;}
	.listingDetail-3 .prest section{margin-bottom:0px;}
	.listingDetail-3 .prest{line-height:20px;}
	.listingDetail-3 .prest hr{margin-bottom:10px;}
	.listingDetail-3 h1,.listingDetail-3 h1+p{font-size:20px!important;}
	.listingDetail-4 a{font-size:11px;}
	.listing-remaining span{font-size:25px;}
	.listing-remaining{font-size:14px;}
	.listingDetail-4 .switchbtn{margin-top:7%;}
	.listing .form-shadow .listing-img{height:292px!important;width:0%!important;}
	.switch{width:177px!important;}
	.vehicle-detailed-slider .carousel-indicators li img{height:58px;}
	.vehicle-contact > div:nth-child(2){margin-left:30px;}
	.range-slider li{width:50%!important;margin:0px!important;}
}
@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape){
	.listingDetail-3 .audi{padding:10px;}
	.listingDetail-3 ul{margin-top:15px;}
	.listingDetail-3 ul li{margin-right:10px;}
	.listingDetail-3 .prest section{margin-bottom:0px;}
	.listingDetail-3 .prest{line-height:20px;}
	.listingDetail-3 .prest hr{margin-bottom:10px;}
	.listingDetail-3 h1,.listingDetail-3 h1+p{font-size:20px!important;}
	.listingDetail-4 a{font-size:10px;}
	.listing-remaining span{font-size:25px;}
	.listing-remaining{font-size:14px;}
	.listingDetail-4 .switchbtn{margin-top:7%;}
	.vehicle-detailed-slider .carousel-indicators li img{height:58px;}
	.vehicle-contact > div:nth-child(2){margin-left:30px;}
	.range-slider li{width:50%!important;margin:0px!important;}
}
@media screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait){
	.CIndicator{top:-26px}
	.listing .form-shadow .listing-img img{display:none}
	.listing .form-shadow .listing-img{height:250px;width:0%!important}
	.listing .form-shadow .listing-detail{width:99.9%!important;border-radius:8px}
	.listingDetail-3 .audi{padding:10px!important}
	.listingDetail-4 .switchbtn{margin-bottom:0%!important}
	.switch{width:177px!important}
	input:checked + .slider::before{transform:translateX(141px)!important}
	.onC,.offC{font-size:14px!important}
	.listingDetail-3 .audi{padding:10px}
	.listingDetail-3 ul{margin-top:15px}
	.listingDetail-3 .prest section{margin-bottom:0px}
	.listingDetail-3 .prest{line-height:20px}
	.listingDetail-3 .prest hr{margin-bottom:10px}
	.listingDetail-3 h1,.listingDetail-3 h1+p{font-size:20px!important}
	.listingDetail-4 a{font-size:11px}
	.listing-remaining span{font-size:25px}
	.listing-remaining{font-size:14px}
	.listingDetail-4 .switchbtn{margin-top:7%}
	.range-slider li{width:50%!important;margin:0px!important;}
	.vehicle-tab-section .nav{margin-top:0px!important;}
	.vehicledetailrightdiv{padding-left:0px;}
	.col-lg-7.col-md-7.col-sm-12.col-xs-12{margin-top:25px;}
}
@media screen and (max-width:736px) and (orientation:landscape){
	.CIndicator{top:-26px}
	.listing .form-shadow .listing-img img{display:none}
	.listing .form-shadow .listing-img{height:300px;width:0%!important}
	.listing .form-shadow .listing-detail{width:99.9%!important;border-radius:8px}
	.listingDetail-3 .audi{padding:10px!important}
	.listingDetail-4 .switchbtn{margin-bottom:0%!important}
	.switch{width:177px!important}
	input:checked + .slider::before{transform:translateX(130px)!important}
	.onC,.offC{font-size:14px!important}
	.listingDetail-3 .audi{padding:25px!important;}
	.listingDetail-3 ul{margin-top:15px}
	.listingDetail-3 ul li{margin-right:10px}
	.listingDetail-3 .prest section{margin-bottom:0px}
	.listingDetail-3 .prest{line-height:20px}
	.listingDetail-3 .prest hr{margin-bottom:10px}
	.listingDetail-3 h1,.listingDetail-3 h1+p{font-size:20px!important}
	.listingDetail-4 a{font-size:11px}
	.listing-remaining span{font-size:25px}
	.listing-remaining{font-size:14px}
	.listingDetail-4 .switchbtn{margin-top:7%}
	.listing .form-shadow .listing-detail{top:0%!important;}
	.listingDetail-3{width:72%!important;}
}
@media screen and (max-width:768px){
	.banner-section h2 span {  margin-bottom: 0px !important; }
	ul.nav.nav-tabs.gperTab,ul.nav.nav-tabs{margin-top:25px;box-shadow:0px 0px 3px rgba(0,0,0,0.18);-webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.18);}
	.tab-pane .table tr th:first-child{width:35%;}
	.tab-pane .table tr th:nth-child(2){width:40%;}
	.tab-pane .table tr th:last-child{width:25%;}
	.num-count-point{height:140px;}
	div#numscrollerCount{border-bottom:1px solid #ececec;}
	.burgerM{display:block;position:fixed;top:0;right:0;margin-top:0;width:55px;padding:15px;height:50px;}
	.navigation-home{display:none;}
	.Leebotlink-hideshow-tab ul li a{min-height:44px;padding:5px 0;}
	.terms-conditions{margin:00px;}
	.page12serchbtn{right:0;position:absolute;bottom:0;}
	.press-div-mn{display:table;width:100%;}
	.press-div-mn > div > img{position:static;}
	.mediaassets-div > div > div:nth-child(2){text-align:left;}
	.mediaassets-div{margin-bottom:35px;}
	.aboutcontent h2{font-size:26px;margin-bottom:25px;margin-top:25px;}
	.aboutcontent p,.aboutcontent,.aboutcontent ul.ulcls li{font-size:15px;line-height:25px;}
	.aboutquickfacts .quickfacts2{font-size:18px;line-height:25px;}
	.aboutquickfacts .quickfacts2 div{font-size:17px;line-height:18px;}
	.teamd-mn{display:block;}
	.contactus-form > div:nth-child(1),.contactus-form > div:nth-child(2){width:100%;}
	.vehicle-detailed-slider #carousel-custom .carousel-indicators{width:100%;margin-left:0px;margin-top:10px;}
	.vehicle-detailed-slider #carousel-custom .carousel-indicators li{display:block;float:left!important;margin-right:10px!important;width:50px;}
	.vehicle-detailed-slider .carousel-indicators li img{height:auto;}
	.carousel-outer{padding:0px;}
	.vehicledetailrightdiv{padding-left:15px;}
	.vehicle-contact > div:nth-child(1),.vehicle-contact > div:nth-child(2),.vehicle-contact > div:nth-child(3){width:100%;margin-left:0px;text-align:center;margin:10px 0;}
}
@media screen and (min-width:280px) and (max-width:479px){
	.sortbyinput input[type='text']{margin:0px!important;font-size:15px!important;}
	.sortbyinput .pull-left.form-control.icon8.cusPlace,.sortbyinput select{width:100%!important;}
	.sortbyinput select{margin-bottom:25px;}
	.sortbyinput .pull-right{width:100%;}
	.navbar-default > div > div:nth-child(1) a img{width:120px;}
}
@media screen and (max-width:768px) and (orientation:landscape){
	.listingDetail-1{top:60%!important;}
	.siteads-cont{width:60%;}
	.banner-img-2{display:block;}
	.banner-img-1{display:none;}
}
@media screen and (max-width:736px) and (orientation:portrait){
	.siteads-cont{width:100%;}
	.google-ads{margin-top:20px;}
	.banner-img-2{display:block;}
	.banner-img-1{display:none;}
	.listing .form-shadow .listing-img img{display:none}
	.listing .form-shadow .listing-img{height:480px;width:0%!important}
	.listingDetail-3 ul li:nth-child(1){width:33.3%;}
	.listingDetail-3 ul li{width:33.3%;margin-right:initial;}
	.listing .form-shadow .listing-detail{border-radius:8px;border:0px solid #d6d6d6!important;}
	.listingDetail-4{top:320px!important;}
	.listing-remaining{float:right!important;clear:initial!important;padding-right:10px!important;line-height:18px!important;}
	.listingDetail-4 a{text-align:left;padding-left:7px;}
}
@media screen and (max-width:667px) and (orientation:landscape){
	.listingDetail-1{top:51%!important;}
	input:checked + .slider::before{transform:translateX(110px)!important;}
	.range-slider li{width:50%!important;margin:0!important;}
}
@media screen and (max-width:568px) and (orientation:landscape){
	.listingDetail-1{top:40%!important;}
	.siteads-cont{width:80%;}
	.listingDetail-3 ul li:nth-child(1){width:94px;}
	input:checked + .slider::before{transform:translateX(103px)!important;}
	.onC,.offC{font-size:10px!important;}
	.onC{padding-right:8px;}
	.listingDetail-4 .switchbtn{margin:15px 0 0 0px!important;padding:0px 5px;}
}
@media screen and (max-width:480px) and (orientation:landscape){
	.listingDetail-1{top:30%!important;}
	.listingDetail-3 ul li{width:100px;}
	.listingDetail-3 ul li:nth-child(1){width:94px;}
	input:checked + .slider::before{transform:translateX(103px)!important;}
	.onC,.offC{font-size:10px!important;}
	.onC{padding-right:4px;}
	.listingDetail-4 .switchbtn{margin:15px 0 0 0px!important;padding:0px 5px;}
	.listingDetail-3 .audi{padding:5px!important;}
	input:checked + .slider::before{transform:translateX(78px)!important;}
}
@media screen and (max-width:568px) and (orientation:portrait){
	.listing .form-shadow .listing-img{height:550px;width:0%!important}
	.listingDetail-4{top:382px!important;}
	.vehicle-detailed-slider #carousel-custom .carousel-indicators li{margin-right:0!important;width:20%;}
	.vehicle-detailed-heading-1{float:none!important;display:table;padding-top:15px!important;}
	.range-slider li >div >section:nth-child(1),.range-slider li >div >section:nth-child(2){padding-top:0px!important;float:none!important;text-align:center;margin:auto;}
	.range-slider li >div >section:nth-child(1) img{display:block;margin:auto;}
	.range-slider li >div{height:auto!important;}
	.range-slider li{width:50%!important;margin:0!important;}
	.vehicle-contact > div:nth-child(1),.vehicle-contact > div:nth-child(2),.vehicle-contact > div:nth-child(3){text-align:left;}
}