
@media only screen and (min-width:980px) and (max-width:1170px) { 
input:checked + .slider::before { transform: translateX(105px); }
.onC, .offC { font-size: 11px; }
.part4atypeExamp ul li{width: 100%;}
}

/* responsive Document */
@media only screen and (min-width:768px) and (max-width:1170px) { 
.listingDetail-3 ul li h2 { margin-top: 0px; }
.listingDetail-3 ul li h2 { font-size: 12px; }
.listingDetail-3 ul li p { font-size: 12px; }

.find-details .left { width: 22%; }
.find-details .right { width: 78%; }
.make-changes .left1 { width: 14%; }
.part4atypeExamp ul li{width: 100% !important;}
	.part4atypeExamp ul li:nth-child(2){padding-left: 20px;}
	.part4atypeExamp ul li:nth-child(2) p span {    margin-left: -1px;}
.part4atypeExamp ul li img {  margin: auto; display: block;}
.phone { width: 100%; position: relative; top: auto; left: auto; bottom: auto; right: auto; border: 0px; padding-left: 0px; }
.switch.edit3 { width: 236px!important; }
.form-section .form-shadow.flow-1-b { padding: 0px; }
.form-section .flow-1-b .form-control.select { margin-bottom: 15px; }
.form-section .flow-1-b .form-control.icon10 { margin-bottom: 15px; }
.left, .header-strip .right-nav ul li { list-style: none; }


}

@media only screen and (min-width:768px) and (max-width:980px) { 
.onC, .offC { font-size: 11px; }
.listingDetail-3 { padding: 2%; width: 61%; }
input:checked + .slider::before { transform: translateX(94px); }
.navbar-nav > li { float: none; display: inline; }
.navbar-nav > li a { float: none; display: inline-block; }

.find-details .left { width: 28%; }
.find-details .right { width: 72%; }
.make-changes .left1 { width: 17%; }
.find-details { padding-top: 20px; }
.part4atypeExamp ul li{width: 100% !important;}
.part4atypeExamp ul li:nth-child(2){padding-left: 20px;}
.part4atypeExamp ul li:nth-child(2) p span {    margin-left: -1px;}.part4atypeExamp ul li img{	    margin: auto;    display: block;}
.left-side { width: 100%; }
.right-side { border: 0px; width: 100%; }
.form-section .form-shadow.flow-1-b .col-lg-4,.form-section .form-shadow.flow-1-b .col-lg-6,.form-section .form-shadow.flow-1-b .col-lg-12 { padding: 0px; }
.part4atypeExamp { margin-bottom: 0px!important; padding-bottom: 0px!important; }

}

@media only screen and (max-width:767px) {
.right-side { border: 0px; width: 100%; }
.phone { width: 100%; position: relative; top: auto; left: auto; bottom: auto; right: auto; border: 0px; padding-left: 0px; }
.switchbtn .switch.edit3 { width: 236px!important; }
 
.comman.buttons.flowBtns.flowBtns-1.flowBtns-2{
	padding-top: 50px;
}
.part4atypeExamp {
    padding: 0px 0 !important;
    margin-bottom: 0px !important;
}
#myModal.mode .modal-dialog {
    width: 94%;
}
.step-section { padding-top: 20px; }
.form-section { margin-top: 10px; }
.form-section .vehicle .top-btn .btn { width: 40%; font-size: 13px; }

.page4block { width: 100%; margin-left: 0px; margin-bottom: 20px; }
.miles .or { margin: 20px 0 30px 0; }


.listing .form-shadow .listing-detail { top: 205px; background: rgba(255,255,255,0.90); }
.listingDetail-3 h1 { font-size: 18px; }
.listingDetail-1 { width: 14%; }
.listingDetail-2 { width: calc(100% - 14%); }
.form-section .form-shadow.carnumber { margin-bottom: 10px; }
.form-section.listing .form-shadow { margin-bottom: 30px; }
.form-section .form-shadow.tab-sec .tab-content { padding-top: 20px; }

.tab-pane .table { width: 760px; }

.navbar-collapse.collapse ul { width: 100%; overflow: hidden; text-align: center; }

.find-details .left { width: 100%; }
.find-details .right { width: 100%; }
.make-changes .left1 { width: 24%; }
.find-details .left1 { width: 50%; }
.part4atypeExamp ul li{width: 100% !important;}
.part4atypeExamp ul li:nth-child(2){padding-left: 20px;}
.part4atypeExamp ul li:nth-child(2) p span {    margin-left: -1px;}
.part4atypeExamp ul li img{	    margin: auto;    display: block;}

#slider { width: 300px; }
.navbar-default a img {
    width: 120px;
}
#myModal.mode h2{font-size:18px;}
.modal-body{padding:0;}
#slider{width:100%!important;padding:0;}
#carousel-bounding-box{width:100%!important;}
#myModal.mode .form-section .form-shadow{width:100%!important;}
div#slider-thumbs{width:100%;}
.hide-bullets{    margin-top: 15px !important;}
.hide-bullets li{float:left;display:block;width:25%;}
.step-section .text { padding-left: 10px; padding-right: 10px; }

.form-section .form-shadow {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 20px 30px;
    width: 100%;
}
.bg2 .logo a { margin-top: 12px; margin-bottom: 0px; }
.bg2 .header-strip .right-nav ul li:last-child a { margin-bottom: 10px; }
.bg2 .form-section .btn.btn2 { font-size: 13px; }
.bg2 .header-strip .right-nav ul { float: right; padding-left: 0px; }
.bg2 .header-strip .right-nav ul li a { font-size: 12px; padding: 10px 0!important; }
.bg2 .header-strip .right-nav ul li:last-child a { padding: 10px!important; }
.bg2 .navbar-default .right-nav { padding: 0 15px; }
.bg2 .navbar-default .logo { padding: 0 15px; }
.bg2 .navbar-default a img { max-width: inherit; }
.form-section .form-shadow.flow-1-b .col-lg-4,.form-section .form-shadow.flow-1-b .col-lg-6,.form-section .form-shadow.flow-1-b .col-lg-12 { padding: 0px; }
.form-section .flow-1-b label { padding-top: 15px; }
.no-gap { display: none; }
.form-section .form-shadow.flow-1-b { padding-bottom: 0px; margin-bottom: 0px; }
.comman.full span.btn-file { height: 200px; }
.left, .header-strip .right-nav ul li { list-style: none; }
.flowBtns-1 { padding-top: 15px; }
.comman .fieldsheading { font-size: 16px; }
.choosen-dropdown .choosen-sub { font-size: 12px; }

}

@media only screen and (min-width:280px) and (max-width:479px){
.step-section .text h2 { font-size: 20px; }
.bg2 .form-section .btn.btn2 { width: 100%; margin-left: 0px; }
.bg2 .form-section .btn.back { width: 100%; margin-left: 0px; }
.part4atypeExamp ul li{width: 100% !important;}
.part4atypeExamp ul li:nth-child(2){padding-left: 20px;}
.part4atypeExamp ul li:nth-child(2) p span {    margin-left: -1px;}
.part4atypeExamp ul li img{	    margin: auto;    display: block;}
.form-section { margin-top: 0px; }
.form-section label { font-size: 12px; }

.left, .header-strip .right-nav ul li { float: none; list-style: none; }
.header-strip .right-nav ul li:last-child a { font-size: 13px; }

.listingDetail-1 ul li { position: relative; width: 50%; height: auto; padding-top: 5px; float: left; border-bottom:  1px solid #d6d6d6; }
.listingDetail-1 ul li:first-child { border-right:  1px solid #d6d6d6; }
.listingDetail-1 ul li:last-child { border-top:  0px; }
.listingDetail-2 {  width: 100%; bottom: auto; top: 32px; }
.listingDetail-4 { width: 100%; bottom: auto; top: 152px; border: none; }
.switchbtn { float: right; margin-bottom: 20px; }
.listingDetail-3 h1 { font-size: 11px; }
.listing .form-shadow .listing-detail { top: auto; bottom: auto; min-height: 290px; position: relative; }
.tab-pane .table { width: 700px; }
.navbar-default .navbar-nav > li > a { font-size: 12px; }
.make-changes .left1 { width: 40%; }
.switchbtn .switch.edit3 { margin-bottom: 20px; }
#slider { width: 205px; }

}



