.step-section { padding-top: 40px; width: 100%; overflow: hidden; }

.step-section .text { padding:  20px 60px 0 60px; text-align:  center; width: 100%; overflow: hidden; }

.form-section .form-shadow { padding: 60px 60px 0px 60px; margin: 0 6% 40px 6%; width: 88%; float: left;  box-shadow: none; background: #fff; border-radius: 4px; }
.form-section .comman { width: 100%; overflow: hidden; padding-bottom: 20px; position: relative; }
.form-section { margin:  30px 0 0 0; width: 100%; }
.form-section .btn.btn2 { background: #0099fe; }
.form-section .btn { margin: 0 auto; outline: none; display: block; font-family: 'HelveticaNeue-Medium'; border:  0px; border-radius: 52px; width: 326px; height: 52px; background: #00c866; font-size: 18px; color: #fff; text-align: center; text-transform: uppercase; }
.form-section .or { margin:  20px 0; display: block; background: url('../images/or-bg.png') center center no-repeat; font-size: 18px; color: #ababab; line-height: 20px; text-align: center; }
.form-section .form-control { transition: box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;	padding-left: 75px; box-shadow: inherit; font-size: 18px; color: #5f5f5f; width: 100%; border: 1px solid #666876; height: 48px; border-radius: 2px; background: url('../images/form-icon1.png') 2px -2px no-repeat; }

.form-section .form-control.icon8{line-height: 40px; vertical-align: middle; background:#ffe000;padding-left:0px;text-align:center;font-weight:bold;text-transform:uppercase;font-family:'uknumber';color:#000;font-size:40px;}
.form-section .form-control.icon8::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
font-size:16px!important;color:#666;font-family:'HelveticaNeue'; }
.form-section .form-control.icon8::-moz-placeholder{ /* Firefox 19+ */
font-size:16px!important;color:#666;font-family:'HelveticaNeue';}
.form-section .form-control.icon8:-ms-input-placeholder{ /* IE 10+ */
font-size:16px!important;color:#666;font-family:'HelveticaNeue';}
.form-section .form-control.icon8:-moz-placeholder{ /* Firefox 18- */
font-size:16px!important;color:#666;font-family:'HelveticaNeue';}

.form-section .btn.next { margin-left: 5px; display: inline-block; background: #00c866; }

.form-section .vehicle p { font-size: 22px; color: #000; line-height: 22px; font-family: 'HelveticaNeue-Medium'; }
.form-section .vehicle .bg { margin-bottom: 10px; border-radius: 4px; box-shadow: 4px 4px 8px #ebedf0; background: #f3f3f3; border: 1px solid #e7e6e5; }

.comman.full span.btn-file { margin:  0 auto; position: relative; 
	overflow: hidden; background: url('../images/input-file-1.jpg') no-repeat; 
	width: 100%;border: 2px dashed #b1b0b0; height: 314px;
background-position: center center;
background-position: 50% 50%;
transition: all .5s ease;
}

.btn-file input[type=file] { top: 0; left: 0; min-width: 100%; height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; cursor: inherit; display: block; }
.miles li { padding-top: 20px; margin-left: 14px; float: left; font-size: 28px; color: #fff; line-height: 30px; font-weight: 600; width: 92px; height: 87px; background: #9ac1fc; border-radius: 2px; text-align: center; }
.miles li.active { background: #5698fa; box-shadow: 0px 5px 5px #d7d7d7; }
.miles .or { margin: 40px 0 50px 0; }
.specific h3 { margin-bottom: 20px; }

.step-section.step-out .edit { transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; font-size: 16px; height: 44px; width: 207px; border: 2px solid #0099fe; border-radius: 44px; color: #0099fe; line-height: 42px; margin:  30px auto 0 auto; }
.step-section.step-out .edit:hover { background: #0099fe; text-decoration: none; color: #fff; }
.form-section .form-shadow.tab-sec .nav-tabs li { 
box-shadow: inset 8px 0px 8px 0px #dceef8,0px 0px 0px 0px #f2faff;
-webkit-box-shadow: inset 8px 0px 8px 0px #dceef8,0px 0px 0px 0px #f2faff;
-moz-box-shadow: inset 8px 0px 8px 0px #dceef8,0px 0px 0px 0px #f2faff;
-o-box-shadow: inset 8px 0px 8px 0px #dceef8,0px 0px 0px 0px #f2faff;
width: 20%; float: left; background: #f2faff; height: 80px; margin: 0px; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a { border: none; border-radius: 0px; font-size: 16px; color: #000; line-height: 80px; text-align: center; padding: 0px; margin: 0px; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a:hover { background: #fff; }
.form-section .form-shadow.tab-sec .change { font-size: 15px; color: #0099fe; line-height: 16px; text-decoration: underline; margin-top: 10px; float: left; }
.tab-pane .table .invoice { color: #669ffc; font-family: 'HelveticaNeue-Medium'; }
.table > thead > tr > th { border-bottom: 2px solid #dedede; font-family: 'HelveticaNeue-Medium'; }

.navigation { position: absolute; top: 22px; left: 130px; }
.navbar-default .navbar-nav > li > a { padding:  0px; transition: all 0.5s ease 0s; font-size: 15px; color: #fff; line-height: 18px; }
.navbar-default .navbar-nav > li > a:hover { text-decoration: none; color: #000; } 

/* flow */
.comman.full span.mak { padding-top: 10px; float: left; width: 100%; }
.find-details { display: none; overflow: hidden; width: 100%; }
.find-details .left { float: left; width: 20%; }
.find-details .right { float: left; width: 80%; }
.find-details h4 { margin: 0px; }
.find-details span { display: block; padding-bottom: 10px; }
.find-details ul,.make-changes ul { list-style: none; margin:  0px; padding: 0px; overflow: hidden; }
.find-details li,.make-changes li { float: left; width: 100%; }
.find-details li span,.make-changes li span { float: left; padding-bottom: 0px; }
.find-details .fuel { width: 100%; overflow: hidden; }
.find-details .left1 { float: left; width: 25%; font-family: 'HelveticaNeue-Medium'; }
.make-changes .left1 { float: left; width: 10%; font-family: 'HelveticaNeue-Medium'; }
.find-details .gap { padding-top: 15px; padding-bottom: 30px; }

.form-section .form-control.select { background: none; padding-left: 10px; height: 48px; }
.form-section .form-control.select option { padding-left: 10px; }
.make-changes .body-type { overflow: hidden; padding-bottom: 20px; }
.form-section .make-changes .comman.full { padding-bottom: 20px; }
.comman.full span.full-gap { padding-top:  15px; }
.make-changes { display: none; width: 100%; overflow: hidden; }
.form-section .form-control.gap2 { background: none; padding-left: 15px; height: 48px; }
a { color: #1aa3a3; }


/* key facts */
.left-side { width: 40%; float: left; padding-top: 15px; padding-bottom: 15px; }
.right-side { position: relative; padding-left: 25px; width: calc(100% - 40%); float: left; border-left: 1px solid #ccc; }
.phone { padding: 20px 25px 0 25px; border-left: 1px solid #ccc; width: 45%; float: right; position: absolute; top: 0px; right: 0px; bottom: 0px; right: 0px; }
.phone span { font-size: 12px; color: #868585; line-height: 14px; display: block; }
.phone span strong { font-weight: normal; text-transform: uppercase; font-size: 12px; color: #868585; line-height: 14px; }
.phone .list-num { padding-top: 30px; font-size: 18px; color: #292929; line-height: 20px; font-weight: bold; }
.phone .list-num .num { font-size: 30px; color: #1aa3a3; line-height: 32px; font-weight: normal; }
.switch.edit3 { height: 52px; width: 236px; margin-top: 40px; }
.onC.add, .offC.add { height: 52px; text-align: left; }
.onC.add { padding: 10px 10px 10px 55px; }
.offC.add { padding: 10px 55px 10px 10px; }
.edit3 .slider { background: #1aa3a3; }
.edit3 input:checked + .slider::before { transform: translateX(184px); }
.edit3 .slider::before { height: 48px; width: 48px; }
#slider-thumbs.col-sm-3 { padding-left: 0px; }
.left-side #carousel-bounding-box img,.carousel-inner > .item { border-radius: 4px; }
.carousel-control.left,.carousel-control.right { background: none; display: none; }
.left-side ul { list-style: none; margin: 0px; padding: 0px; float: left; }
.left-side .thumbnail { padding: 0px; margin: 0 0 17px 0; border-radius: 0px; border: 0px; }
.left-side .last .thumbnail { margin-bottom: 0px; }
.left-side .thumbnail img { border-radius: 4px; width: 64px; height: 64px; border: 1px solid #e8ebf0; }
a.thumbnail.active img, a.thumbnail:focus img, a.thumbnail:hover img { border: 1px solid #1aa3a3; }
.right-side .find-details { display: block; }
.right-side h1 { margin-bottom: 30px; }
.right-side li { font-size: 14px; line-height: 28px; color: #868585; }
.right-side h1 span { display: block; color: #868585; font-size: 13px; line-height: 14px; padding-top: 3px; }
.right-side .find-details span.left1 { width: 33%; font-family: 'HelveticaNeue'; color: #868585; }
.right-side .find-details span { color: #292929; }
.right-side .find-details .gap { padding-top: 30px; padding-bottom: 10px; }
.right-side .find-details .gap span { font-size: 12px; color: #868585; line-height: 14px; }
#carousel-bounding-box { width: 99%!important; overflow: hidden; }

.form-section .form-control.gap3 { background: none; padding: 0 0 0 15px; }
.modal-header .close { position: absolute; top: 10px; right: 15px; z-index: 999; cursor: pointer; } 


.modal-header { border-bottom: none; padding: 25px 0 0 0; }
.modal-body { padding: 0 20px 20px 20px; }
.modal-body h4 { font-family: 'HelveticaNeue-Bold'; font-size: 20px; line-height: 26px; margin-bottom: 10px; } 
.modal-body p { font-size: 16px; line-height: 20px; } 

.preview:hover,.preview:focus,.preview:active { color: #666876; text-decoration: none; }
.find-details { padding-top: 0px; }


