@import url('fonts/fonts.css');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');


/*------- Header Strip ---------*/

.header-strip .right-nav ul li a{margin: 10px 0px 10px 32px; padding: 10px 0px; font-size: 20px; text-decoration: none;}
.header-strip .right-nav ul li:last-child a{padding: 10px 25px;font-size: 16px;  /*border-color:#bae3fe;*/ }
.topstripbtn:hover{    background-color: #fff !important;
    color: #1aa3a3 !important;
    border-color: #fff !important;}
/*------- Header Strip End---------*/


/*--------------- Header Banner ------------*/
.header-banner .increase-budg:hover {
    background: #00c866 !important;
    color: #fff !important;
}
/*--------------- Header Banner End------------*/

/*-------- Number Counter--------------*/
	.num-counter{background-color: #f8f8f8; padding: 65px 0;overflow: hidden;}
	.num-count-point img{margin: auto;margin-bottom: 40px; }	
	.num-count-point p{font-size: 18px; }	
/*-------- Number Counter End--------------*/


/*-------- Circle report chart -----------*/
	.report-chart circle:nth-child(3):hover {
    fill: #ececec;
    stroke: white;
}
	.downloadReportbtn a:hover {
    background: #00c866 !important;
    color: #fff !important;
}
/*-------- Circle report chart End-----------*/

/* ------------- Bar Report start ---------------*/
.report-chart-1{padding: 90px 0;}

/* ------------- Bar Report End ---------------*/


/* Hide default HTML checkbox */
.onC,
.offC {   line-height: 18px;  height: 36px;display: none; text-align: left; padding: 10px; padding-left: 20px; color: #fff; font-size: 14px; font-weight: normal; }

/* The slider */
input:checked + .slider:before { -webkit-transform: translateX(133px); -ms-transform: translateX(133px); transform: translateX(133px); }

/* Rounded sliders */

    ::i-block-chrome, {
		margin: 6px 0 0;
	}
}



.graph-container .graph-bar section { 
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 5px;
    transform: rotateX(180deg) rotateY(180deg);
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    font-family: 'Zilla Slab', serif;
    writing-mode: tb-rl;
    -webkit-writing-mode: tb-rl;
}

.graph-container .graph-bar.placebo-bar,
.graph-container .graph-bar.creon-bar { left: 0; background: #009aff; }
.leftbarchart-dots-1 ul li{width: 51px;
    background: transparent;
    font-size: 14px;
    color: #ababab;

}               

/*25-july-2017 by vikash*/

.form-section .form-control.icon14 { background: url('../images/form-icon14.png') 2px top no-repeat; }
.page-10-form .text-pound{ color:#009AFF; font-size:50px; font-family: 'HelveticaNeue-Bold'; font-weight: 900;    line-height:50px;}




.active-buyers .activebuy-col{overflow: hidden; border-radius: 3px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); background-color: #fff;     min-height:438px;}

.activebuy-col:hover img{transform: scale(1.1, 1.1);}
.active-buyers .activebuy-inner h4{color: #000; line-height: 30px; font-size: 18px; font-family: 'HelveticaNeue-Bold'; }
.activebuy-col .edit{padding-top:0px!important;color:#868686!important;font-weight:400!important; font-family: 'HelveticaNeue'!important; }
.page4block{text-align:center;background-color:#eee;width:260px;height:165px;padding:0px;margin-left:54px;margin-bottom:30px;border:2px solid #d3d2d0;border-radius:3px;padding-top:5%;}
.page4block span{    padding-top: 18px;color:#fff;width:55px;height:55px;border-radius:50px;background-color:#d3d2d0;display:block;margin:auto;}
.page4block.activeBlock{background-color:#0099fe;border:2px solid #0099fe;}
.page4block.activeBlock span{background-color:#058de7;}
.page4block.last{background-color:#fff; padding-top:9%;}
.listing-sort .form-shadow select{outline:none;color:#5a5a5a;background-image:url(../images/down-arrow.png);border-radius:50px;background-repeat:no-repeat;background-position:90% center;display:block;height:42px;width:200px;padding-left:20px;-webkit-appearance:none;appearance:none;-moz-appearance:none;border:1px solid #ededec; font-family: 'HelveticaNeue-Bold';}
.listing .form-shadow .listing-img,.listing .form-shadow .listing-detail{padding:0px;width:28%;float: left;}
.listing .form-shadow .listing-detail{width:calc(100% - 28%);position:absolute;top:0;bottom:0;right:0}
.listingDetail-1{position:absolute;top:0;bottom:0;width:20%;border-right:1px solid #d6d6d6}
.listingDetail-1 ul{padding:0;margin:0;list-style:none;position:absolute;top:0;bottom:0;width:100%}
.listingDetail-1 ul li{padding-top:30%;position: absolute;height: 50%;width: 100%; text-align: center;color: #868585;}
.listingDetail-1 ul li span{color: #0099fe;font-size: 30px; }
.listingDetail-1 ul li:last-child{bottom: 0;border-top: 1px solid #d6d6d6;}
.listingDetail-1 ul li:last-child span{color: #c80000;}
.listingDetail-2{position:absolute;top:0;bottom:0;right:0;width:calc(100% - 20%);}

.listingDetail-4{top:0;bottom:0;right:0;position:absolute;border-left:1px solid #d6d6d6;width:calc(100% - 65%)}
.listing-price span{display: block;font-size: 18px; color: #000;  font-family: 'HelveticaNeue-Medium'; }
.listingDetail-4 .edit{ width: auto;   margin: 15%;border-color: #0099fe; color: #0099fe; font-family: 'HelveticaNeue-Medium';}

.listingDetail-3{top:0;bottom:0;position:absolute;width:65%; padding:3%;}
.listingDetail-3 h1{font-size: 30px;}
.listingDetail-3 div{font-size: 12px; color: #868585;line-height: 15px;}
.listingDetail-3 ul li{float: left; width: 33.3%; text-align: center;}
.listingDetail-3 ul li h2{font-size: 27px;}
.listingDetail-3 ul li p{font-size: 16px; color: #868585;    width: 90%;    word-wrap: break-word; line-height: 17px;}
/*choosen dropdown start*/
.choosedItem ul li span{transition: all .3s ease;height:22px;width:22px;float:right;margin-left:15px;text-align:center;line-height:18px;display:block;border-radius:50px;cursor:pointer; background: #acacac; }
/*choosen dropdown end*/

.leftbarchart-dots-22 ul li,.leftbarchart-dots-44 ul li{
	width: 130px;
    height: auto;
        text-align: left;
}




.startingBudget-h {
    margin-bottom: 30px;
}
.startingBudget-h  h3, .startingBudget-h p {
    text-align: center;
    color: #000;
}
.startingBudget-h h3, .startingBudget-h p {
    text-align: center;
    color: #000;
}



/*flow */

.flowBtns-1{
	padding-top: 50px;
}
.selectIcon{
	text-align: center;
}	
.selectIcon ul{
	padding: 0; margin: 0;
	list-style: none;
}
.selectIcon ul li{
	display: inline-block;
 	margin: 25px 25px 0px 25px;
 	 cursor: pointer;
}
.selectIcon ul li span{
	float: left;
	height: 29px;	
   
}
.iconbg1{
    background: url(../images/click.png);
    background-position: 0px 0px;
    width: 37px !important;
}
.iconbg2{
	background:url('../images/click.png');
	background-position: 30px 0px;	
	width: 30px !important;
}
.selectIcon ul li:hover .iconbg1{
	background:url('../images/click-1.png');
}
.selectIcon ul li:hover .iconbg2{
	background:url('../images/click-1.png');
	background-position: 30px 0px;	
}
.preText{
	width: 115px;
    font-size: 12px;
    line-height: 13px;
    float: right;
}
.selectIcon ul li:hover .preText{
	font-size: 12px;
	line-height: 13px;
	color: #0099fe;
}
.comman.buttons.flowBtns.flowBtns-1.flowBtns-2{
	padding-top: 100px;
}
.step-section.animate.fadeInUp.part4asec2{
	padding-top: 0px;
}
.part4atype{
	padding-bottom: 0px!important;
}
.part4atype textarea{
	border: 0px;
	border-bottom: 1px solid #bbb;
	width: 100%;
	outline: none;
	resize: none;
}
.part4atypeExamp {
    padding: 20px 0 !important;
    margin-bottom: 70px !important;
}
.part4atypeExamp ul {
	padding: 0; margin: 0; list-style: none;
}
.part4atypeExamp ul li{
	float: left;
	padding: 0px 20px
}
.part4atypeExamp ul li:nth-child(1){
	width: 20%;
}
.part4atypeExamp ul li:nth-child(2){
	width: 80%;	
	padding: 20px 20px 20px 0;
	color: #868585;
	    letter-spacing: .5px;
    word-spacing: 3px;
 }
 .part4atypeExamp ul li:nth-child(2) p span{
    display: inline-block;
    margin-left: -18px;
    width: 20px;
 }
  .part4atypeExamp ul li:nth-child(2) p span.bottomSpn{
 	margin-left: 10px;
 }
 .part4atypeExamp ul li:nth-child(2) h3{
	color: #000;
    font-size: 15px;
    font-weight: bold;
}
.comman.full span.btn-file
{
	    background: url(../images/input-file-1.jpg) no-repeat;
}

#preview img{
display: block;
transition: all .5s ease;
    height: 120px;
    margin: auto;
}

div#preview > div {
float: left;
    width: 17.5%;
    overflow: hidden;
    margin: 2%;
    height: 120px;
    margin-right: 0px;
    border: 1px solid #bbb;
    border-radius: 5px;
    background: #eee;
}
div#preview > div::before{
	height: 0px;
	width: 0px;
	transition: all .2s ease;
    position: absolute;
    z-index: 9999999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    padding: 0px 0;
    border-radius: 50px;
    font-size: 0px;
    border: 0px solid #b7b7b7;
    color: #737373;
    cursor: pointer;
    content: 'x';
    background-color: rgba(255, 255, 255, 0.87);
}
div#preview > div:hover::before{
	
    width: 40px;
    height: 40px;
    padding: 4px 0;
    font-size: 20px;
    border: 1px solid #b7b7b7;
    text-align: center;

}
.cameraIcon{
	padding: 25px 0;
	text-align: center;
}
.cameraIcon i{
	width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    background-color: #1aa3a3;
    color: #fff;
    padding: 17px 0;
    cursor: pointer;
    transition: all .5s ease;    
    -webkit-transition: all .5s ease;
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1);
}
.cameraIcon i:hover{
-ms-transform: scale(1.1,1.1);
-webkit-transform: scale(1.1,1.1); 
transform: scale(1.1,1.1);    
}

div#preview{
    width: 100%;
    margin-top: 15px;
    height: 158px;
    background-color: #eee;
    clear: both;
    display: none;
}
.comman.full .newtext{
	width: 100% !important;
}
.cusPlaceH{
	width: auto !important;
    text-align: center;
    color: #000 !important;
    font-size: 16px !important;
    padding-bottom: 0px !important;
    float: left;
    position: absolute;
    bottom: 20%;
    z-index: 999999;
    left: 50%;
    margin: auto;
    transform: translateX(-50%);
    display: none;
}
.form-section .comman.choosen { overflow: initial;     padding-bottom: 25px;}
.choosen-dropdown {transition: all .3s ease; height: 0px; width: calc(100% - 58px);  margin-left: 58px; background-color: #fff; position: absolute; z-index: 999999; box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.32);  }
.showC{height: 140px; border: 1px solid #bbb;}
.choosen-dropdown .choosen-sub { padding: 6px 20px; border-bottom: 1px solid #e2e1e1; font-size: 14px; color: #000; transition: all .2s ease; }
.choosen-dropdown .choosen-sub:hover { color: #fff; background-color: #2f72d4; cursor: pointer;}
.choosedItem ul{padding: 0; margin: 0; list-style: none;}
.choosedItem ul li{margin-bottom:10px;float: left; padding:10px 10px 10px 25px; border: 1px solid #e8e7e6; color: #000; margin-right: 10px; border-radius: 50px;}
.choosedItem ul li span{transition: all .3s ease;height:22px;width:22px;float:right;margin-left:15px;text-align:center;line-height:18px;display:block;border-radius:50px;cursor:pointer; background: #acacac; }
.choosedItem ul li span:hover{background-color: #000;}
.choosenBtn{padding-top: 150px;}
.choosen .comman {
    overflow: initial !important;
}

.form-section .form-shadow .form-control { z-index: 999; }
.comman .fieldsheading {
    color: #000;
    font-size: 22px;
}

.comman .fieldsheading hr {
    border-color: #e8e7e6;
    border-width: 2px;
    margin: 10px 0 40px;
}
.part4atypeExamp { margin-bottom: 10px!important; }
.left, .header-strip .right-nav ul li { list-style: none; }
.logo a { margin: 0px 0; }
.right, .header-strip .right-nav ul { margin-bottom: 0px; }
