/* 24-7-2017 */
a { outline: none!important; }
.step-section { padding-top: 80px; width: 100%; overflow: hidden; }
.step-section ul { padding-left: 0px; list-style: none; width: 100%; text-align: center; }
.step-section li { padding-right: 125px; display: inline-block; background: url('../images/step-line.png') right 54px no-repeat; }
.step-section li.active { background: url('../images/step-line2.png') right 54px no-repeat; }
.step-section li.last.active { background: none; }
.step-section li.active h3 { color: #1aa3a3; } 
.step-section li.active .bg { background: url('../images/hexagon-bg-hover.png') center top no-repeat; }
.step-section li.active2 .bg { background: url('../images/hexagon-bg-hover-1.png') center top no-repeat; }
.step-section li.active .icon { background: url('../images/about-icon-hover.png') center center no-repeat; }
.step-section li.active .icon.icon2 { background: url('../images/vehicle-icon-hover.png') center center no-repeat; }
.step-section li.active .icon.icon3 { background: url('../images/targetting-icon-hover.png') center center no-repeat; }
.step-section li.active .icon.icon4 { background: url('../images/payment-icon-hover.png') center center no-repeat; }
.step-section li.progressIcon .bg { background: url('../images/hexagon-bg-hover-1.png') center center no-repeat; }
.step-section li.progressIcon .icon.icon4 { background: url('../images/payment-icon-hover.png') center center no-repeat; }

.step-section .bg { float: left; width: 97px; background: url('../images/hexagon-bg.png') center top no-repeat; }
.step-section .icon { position: relative; margin-bottom: 0px; width: 97px; height: 111px; float: left; background: url('../images/about-icon.png') center center no-repeat; text-indent: -9999px; }
.step-section h3 { font-size: 16px; color: #b9b9b9; line-height: 18px; padding-top: 18px; }
.step-section .last { padding-right: 0px; background: none; }
.step-section .icon .start { position: absolute; top: 4px; right: 13px; width: 31px; height: 31px; background: url('../images/step1-start.png') no-repeat;  }
.step-section .icon .start.completed { background: url('../images/step1-complete.png') no-repeat;  }

.step-section .icon.icon2 { background: url('../images/vehicle-icon.png') center center no-repeat; }
.step-section .icon.icon3 { background: url('../images/targetting-icon.png') center center no-repeat; }
.step-section .icon.icon4 { background: url('../images/payment-icon.png') center center no-repeat; }
.step-section .text { padding:  20px 60px 0 60px; text-align:  center; width: 100%; overflow: hidden; }
.step-section .text h2 { font-family: 'HelveticaNeue-Bold'; font-size: 40px; color: #000; line-height: 44px; font-weight: 700; }
.step-section .text p { font-size: 16px; color: #000; line-height: 20px; }

.form-section .form-shadow { padding: 60px 60px 0px 60px; margin: 0 6% 40px 6%; width: 88%; float: left;  box-shadow: none; background: #fff; border-radius: 4px; }
.form-section .icon { text-indent: -9999px; border-radius: 2px 0 0 2px; width: 53px; height: 50px; border: 2px solid #cccbc9; float: left; background: url('../images/form_icon1.png') center center no-repeat; }
.form-section .icon.icon2 {background: url('../images/form_icon2.png') center center no-repeat; }
.form-section .icon.icon3 {background: url('../images/form_icon3.png') center center no-repeat; }
.form-section .icon.icon4 {background: url('../images/form_icon4.png') center center no-repeat; }
.form-section .icon.icon5 {background: url('../images/form_icon5.png') center center no-repeat; }
.form-section .icon.icon6 {background: url('../images/form_icon6.png') center center no-repeat; }
.form-section .icon.icon7 {background: url('../images/form_icon7.png') center center no-repeat; }
.form-section label {  font-size: 16px; color:  #666876; line-height: 18px; display: block; margin-bottom: 7px; }
.form-section .left-one { width: 44%; float: left; }
.form-section .left-one.add { margin-left: 110px; float: right; }
.form-section .comman { width: 100%; overflow: hidden; padding-bottom: 20px; position: relative; }
.form-section { margin:  30px 0 0 0; width: 100%; }
.form-section .btn.btn2 { background: #0099fe; }
.form-section .btn { margin: 0 auto; outline: none; display: block; font-family: 'HelveticaNeue-Medium'; border:  0px; border-radius: 52px; width: 326px; height: 52px; background: #00c866; font-size: 18px; color: #fff; text-align: center; text-transform: uppercase; }
.form-section .btn:hover,.form-section .btn.next:hover { opacity: .7; }
.form-section .vehicle .btn.second:hover { opacity: .7; }
.form-section .buttons { text-align: center; }
.form-section .or { margin:  20px 0; display: block; background: url('../images/or-bg.png') center center no-repeat; font-size: 18px; color: #ababab; line-height: 20px; text-align: center; }
.form-section .form-control { transition: box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;	padding-left: 75px; box-shadow: inherit; font-size: 18px; color: #5f5f5f; width: 100%; border: 1px solid #666876; height: 48px; border-radius: 2px; background: url('../images/form-icon1.png') 2px -2px no-repeat; }
.form-section .form-control:hover { border: 1px solid #1aa3a3; background-position: 2px -52px; }
.form-section .form-control.icon2 { background: url('../images/form-icon2.png') 2px -2px no-repeat; }
.form-section .form-control.icon2:hover { background-position: 2px -52px; }
.form-section .form-control.icon3 { background: url('../images/form-icon3.png') 2px -2px no-repeat; }
.form-section .form-control.icon3:hover { background-position: 2px -52px; }
.form-section .form-control.icon4 { background: url('../images/form-icon4.png') 2px -2px no-repeat; }
.form-section .form-control.icon4:hover { background-position: 2px -52px; }
.form-section .form-control.icon5 { background: url('../images/form-icon5.png') 2px -2px no-repeat; }
.form-section .form-control.icon5:hover { background-position: 2px -52px; }
.form-section .form-control.icon6 { background: url('../images/form-icon6.png') 2px -2px no-repeat; }
.form-section .form-control.icon6:hover { background-position: 2px -52px; }
.form-section .form-control.icon7 { background: url('../images/form-icon7.png') 2px -2px no-repeat; }
.form-section .form-control.icon7:hover { background-position: 2px -52px; }

.form-section .form-control.icon8{line-height: 40px; vertical-align: middle; background:#ffe000;padding-left:0px;text-align:center;font-weight:bold;text-transform:uppercase;font-family:'uknumber';color:#000;font-size:40px;}
.form-section .form-control.icon8::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
font-size:16px!important;color:#666;font-family:'HelveticaNeue'; }
.form-section .form-control.icon8::-moz-placeholder{ /* Firefox 19+ */
font-size:16px!important;color:#666;font-family:'HelveticaNeue';}
.form-section .form-control.icon8:-ms-input-placeholder{ /* IE 10+ */
font-size:16px!important;color:#666;font-family:'HelveticaNeue';}
.form-section .form-control.icon8:-moz-placeholder{ /* Firefox 18- */
font-size:16px!important;color:#666;font-family:'HelveticaNeue';}

.form-section .form-control.icon9 { background: url('../images/form-icon9.png') 2px -2px no-repeat; }
.form-section .form-control.icon9:hover { background-position: 2px -52px; }
.form-section .form-control.icon10 { background: url('../images/form-icon10.png') 2px -2px no-repeat; }
.form-section .form-control.icon10:hover { background-position: 2px -52px; }
.form-section .form-control.icon11 { background: url('../images/form-icon11.png') 2px -2px no-repeat; }
.form-section .form-control.icon11:hover { background-position: 2px -52px; }
.form-section .form-control.icon12 { background: url('../images/form-icon12.png') 2px -2px no-repeat; }
.form-section .form-control.icon12:hover { background-position: 2px -52px; }
.form-section .form-control.icon13 { background: url('../images/form-icon13.png') 2px -2px no-repeat; }
.form-section .form-control.icon13:hover { background-position: 2px -52px; }
.form-section .form-control.icon14 { background: url('../images/form-icon16.png') 2px -2px no-repeat; }
.form-section .form-control.icon14:hover { background-position: 2px -52px; }
.form-section .form-control.icon16 { background: url('../images/form-icon16.png') 2px -2px no-repeat; }
.form-section .form-control.icon16:hover { background-position: 2px -52px; }
.bg2 { background: #FFF; }
.form-control::-moz-placeholder { color:  #5f5f5f; }
.comman.full span { padding-bottom: 5px; width: 60%; display: block; font-size: 16px; color: #ababab; line-height: 18px; }
.comman.full span span { padding-bottom: 0px; width: 100%; font-size: 14px; }
.form-section .btn.back { margin-right: 5px; display: inline-block; background: #fff; border: 2px solid #acacac; color: #acacac; }
.form-section .btn.next { margin-left: 5px; display: inline-block; background: #00c866; }

.form-section .vehicle { overflow: hidden; padding-bottom: 40px; }
.form-section .vehicle .top-btn { text-align: center; padding-bottom: 50px; overflow: hidden; }
.form-section .vehicle .top-btn .btn { font-weight: 700; display: inline-block; line-height: 44px; }
.form-section .vehicle .btn.second { margin-left: 44px; background: #0099fe; }
.form-section .vehicle p { font-size: 22px; color: #000; line-height: 22px; font-family: 'HelveticaNeue-Medium'; }
.form-section .vehicle ul { list-style: none; overflow: hidden; padding: 0px; }
.form-section .vehicle .bg { margin-bottom: 10px; border-radius: 4px; box-shadow: 4px 4px 8px #ebedf0; background: #f3f3f3; border: 1px solid #e7e6e5; }
.form-section .vehicle .bottom-border { padding-bottom: 5px; margin-bottom: 35px; border-bottom: 2px solid #e8e7e6; }
.form-section .vehicle img { width: 100%; height: auto; }
.form-section .vehicle h3 { margin-bottom: 5px; font-size: 20px; color: #272727; line-height: 22px; font-family: 'HelveticaNeue'; }
.form-section .vehicle .mile { font-size: 16px; color: #868686; line-height: 20px; display: block; padding-bottom: 5px; }
.form-section .vehicle .regd { font-size: 16px; color: #868686; line-height: 22px; display: block; padding-bottom: 20px; }
.edit { transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; -webkit-transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; width: 124px; height: 40px; border-radius: 40px; border: 2px solid #acacac; font-size: 14px; color: #868686; line-height: 36px; display: block; text-align: center; }
.edit:hover { background: #acacac; color: #fff; text-decoration: none; } 
.form-section .vehicle .text { padding-left: 30px; padding-bottom: 25px; overflow: hidden; width: 100%; }
.form-section .vehicle .image img { max-height: 175px; border-radius: 2px 2px 0 0; display: block; }
.form-section .vehicle .image { overflow: hidden; }

.comman.full span.btn-file { margin:  0 auto; position: relative; 
	overflow: hidden; background: url('../images/input-file-1.jpg') no-repeat; 
	width: 100%;border: 2px dashed #b1b0b0; height: 314px;
background-position: center center;
background-position: 50% 50%;
transition: all .5s ease;
}

.btn-file input[type=file] { top: 0; left: 0; min-width: 100%; height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; cursor: inherit; display: block; }
.form-section .vehicle.advertise .bg { min-height: 360px; }
.miles ul { padding: 0px 0 10px 0; list-style: none; overflow: hidden; }
.miles li { padding-top: 20px; margin-left: 14px; float: left; font-size: 28px; color: #fff; line-height: 30px; font-weight: 600; width: 92px; height: 87px; background: #9ac1fc; border-radius: 2px; text-align: center; }
.miles li:first-child { margin-left: 0px; }
.miles h3 { padding-bottom: 12px; margin-top: 0px; font-size: 26px; color: #000; line-height: 28px; }
.miles span { display: block; font-size: 15px; line-height: 16px; }
.miles li.active { background: #5698fa; box-shadow: 0px 5px 5px #d7d7d7; }
.miles .or { margin: 40px 0 50px 0; }
.specific h3 { margin-bottom: 20px; }
.specific .comman.buttons { margin-top: 15px; }
.form-section .form-control.gap { background: none; padding-left: 20px; font-weight: 700; }

.step-section.step-out { padding-top: 0px; }
.step-section.step-out .edit { transition: all 0.3s cubic-bezier(0.66, 0, 0.28, 1.01) 0s; font-size: 16px; height: 44px; width: 207px; border: 2px solid #0099fe; border-radius: 44px; color: #0099fe; line-height: 42px; margin:  30px auto 0 auto; }
.step-section.step-out .edit:hover { background: #0099fe; text-decoration: none; color: #fff; }
.form-section .form-shadow.tab-sec { padding: 0px; }
.form-section .form-shadow.tab-sec .nav-tabs li .red { color: #d70a0a; font-family: 'HelveticaNeue-Medium'; } 
.form-section .form-shadow.tab-sec .nav-tabs li { 
box-shadow: inset 8px 0px 8px 0px #dceef8,0px 0px 0px 0px #f2faff;
-webkit-box-shadow: inset 8px 0px 8px 0px #dceef8,0px 0px 0px 0px #f2faff;
-moz-box-shadow: inset 8px 0px 8px 0px #dceef8,0px 0px 0px 0px #f2faff;
-o-box-shadow: inset 8px 0px 8px 0px #dceef8,0px 0px 0px 0px #f2faff;
width: 20%; float: left; background: #f2faff; height: 80px; margin: 0px; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a { border: none; border-radius: 0px; font-size: 16px; color: #000; line-height: 80px; text-align: center; padding: 0px; margin: 0px; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a:hover { background: #fff; }
.form-section .form-shadow.tab-sec .nav-tabs { border: none; }
.form-section .form-shadow.tab-sec .tab-content { padding: 50px 6% 0 6%; }
.form-section .form-shadow.tab-sec .change { font-size: 15px; color: #0099fe; line-height: 16px; text-decoration: underline; margin-top: 10px; float: left; }
.form-section .form-shadow.tab-sec .question { text-indent: -9999px; width: 54px; height: 54px; float: left; background: url('../images/question-icon.png') no-repeat; }
.form-section .form-shadow.tab-sec .tab-pane { padding-bottom: 20px; overflow: auto; }
.form-section.less { margin-top: 40px; }
.tab-pane .table { border: 1px solid #dedede; border-collapse: unset;}
.tab-pane .table tr th { border-left: 1px solid #f0f0f0; }
.tab-pane .table tr th:first-child { border-left: none; }
.tab-pane .table .invoice { color: #669ffc; font-family: 'HelveticaNeue-Medium'; }
.tab-pane .table .invoice:hover { text-decoration: none; }
.table > thead > tr > th { border-bottom: 2px solid #dedede; font-family: 'HelveticaNeue-Medium'; }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { border-top: 1px solid #dedede; }
.tab-pane .table tr th,.tab-pane .table tr td { padding: 0 0 0 30px; font-size: 16px; color: #4f5564; line-height: 48px; }
.tab-pane .table tr { border: 1px solid #dedede; }
.tab-pane .table tr:nth-child(odd) td { background: #fafbfc; }

.different-option h3 { font-size: 30px; color: #000; line-height: 32px; margin-bottom: 10px; }
.different-option h3 span { font-size: 18px; color: #000; line-height: 20px; display: block; padding-top: 3px; }
.different-option ul { list-style: none; margin: 0px; padding: 0px; }
.different-option li { padding-left: 8px; float: left; width: 96%; background: url('../images/different-dot.png') left 10px no-repeat; }
.different-option li a { float: left; font-size: 14px; color: #585858; line-height: 22px; }

.header-strip .right-nav ul li.funds a { margin-top: 0px; padding-bottom: 0px; margin-bottom: 10px; font-size: 18px; }
.header-strip .right-nav ul li.funds a span { font-size: 18px; display: block; }
.step-section.top-less { padding-top: 40px; }
.navigation { position: absolute; top: 22px; left: 130px; }
.navbar-toggler { display: none; }
.navigation ul { list-style: none; }
.navbar-default .navbar-nav > li { padding-right: 30px; }
.navbar-default .navbar-nav > li > a { padding:  0px; transition: all 0.5s ease 0s; font-size: 15px; color: #fff; line-height: 18px; }
.navbar-default .navbar-nav > li > a:hover { text-decoration: none; color: #000; } 
.navbar-default .navbar-nav > li > a .one { width: 20px; height: 20px; background: #fff; border-radius: 20px; text-align: center; font-size: 15px; color: #f20000; line-height: 20px; display: inline-block; padding: 0px; }

.affix { width: 100%; z-index: 999; transition: all .7s ease 0s; }
.choosenBtn.less-btn { padding-top: 60px; }
.active-buyers.page28 { padding-bottom: 60px; }

/* flow */
.comman.full span.mak { padding-top: 10px; float: left; width: 100%; }
.find-details { display: none; overflow: hidden; width: 100%; }
.find-details .left { float: left; width: 20%; }
.find-details .right { float: left; width: 80%; }
.find-details h4 { margin: 0px; }
.find-details span { display: block; padding-bottom: 10px; }
.find-details ul,.make-changes ul { list-style: none; margin:  0px; padding: 0px; overflow: hidden; }
.find-details li,.make-changes li { float: left; width: 100%; }
.find-details li span,.make-changes li span { float: left; padding-bottom: 0px; }
.find-details .fuel { width: 100%; overflow: hidden; }
.find-details .left1 { float: left; width: 25%; font-family: 'HelveticaNeue-Medium'; }
.make-changes .left1 { float: left; width: 10%; font-family: 'HelveticaNeue-Medium'; }
.find-details .gap { padding-top: 15px; padding-bottom: 30px; }

.form-section .form-control.select { background: none; padding-left: 10px; height: 48px; }
.form-section .form-control.select option { padding-left: 10px; }
.make-changes .body-type { overflow: hidden; padding-bottom: 20px; }
.form-section .make-changes .comman.full { padding-bottom: 20px; }
.comman.full span.full-gap { padding-top:  15px; }
.make-changes { display: none; width: 100%; overflow: hidden; }
.form-section .form-control.gap2 { background: none; padding-left: 15px; height: 48px; }
a { color: #1aa3a3; }


/* key facts */
.left-side { width: 40%; float: left; padding-top: 15px; padding-bottom: 15px; }
.right-side { position: relative; padding-left: 25px; width: calc(100% - 40%); float: left; border-left: 1px solid #ccc; }
.phone { padding: 20px 25px 0 25px; border-left: 1px solid #ccc; width: 45%; float: right; position: absolute; top: 0px; right: 0px; bottom: 0px; right: 0px; }
.phone span { font-size: 12px; color: #868585; line-height: 14px; display: block; }
.phone span strong { font-weight: normal; text-transform: uppercase; font-size: 12px; color: #868585; line-height: 14px; }
.phone .list-num { padding-top: 30px; font-size: 18px; color: #292929; line-height: 20px; font-weight: bold; }
.phone .list-num .num { font-size: 30px; color: #1aa3a3; line-height: 32px; font-weight: normal; }
.switch.edit3 { height: 52px; width: 236px; margin-top: 40px; }
.onC.add, .offC.add { height: 52px; text-align: left; }
.onC.add { padding: 10px 10px 10px 55px; }
.offC.add { padding: 10px 55px 10px 10px; }
.edit3 .slider { background: #1aa3a3; }
.edit3 input:checked + .slider::before { transform: translateX(184px); }
.edit3 .slider::before { height: 48px; width: 48px; }
#slider-thumbs.col-sm-3 { padding-left: 0px; }
.left-side #carousel-bounding-box img,.carousel-inner > .item { border-radius: 4px; }
.carousel-control.left,.carousel-control.right { background: none; display: none; }
.left-side ul { list-style: none; margin: 0px; padding: 0px; float: left; }
.left-side .thumbnail { padding: 0px; margin: 0 0 17px 0; border-radius: 0px; border: 0px; }
.left-side .last .thumbnail { margin-bottom: 0px; }
.left-side .thumbnail img { border-radius: 4px; width: 64px; height: 64px; border: 1px solid #e8ebf0; }
a.thumbnail.active img, a.thumbnail:focus img, a.thumbnail:hover img { border: 1px solid #1aa3a3; }
.right-side .find-details { display: block; }
.right-side h1 { margin-bottom: 30px; }
.right-side li { font-size: 14px; line-height: 28px; color: #868585; }
.right-side h1 span { display: block; color: #868585; font-size: 13px; line-height: 14px; padding-top: 3px; }
.right-side .find-details span.left1 { width: 33%; font-family: 'HelveticaNeue'; color: #868585; }
.right-side .find-details span { color: #292929; }
.right-side .find-details .gap { padding-top: 30px; padding-bottom: 10px; }
.right-side .find-details .gap span { font-size: 12px; color: #868585; line-height: 14px; }
#carousel-bounding-box { width: 99%!important; overflow: hidden; }
.form-section.pride h2 { margin-top: 0px; font-size: 24px; color: #292929; line-height: 26px; margin-bottom: 8px; }
.form-section.pride .more { font-size: 16px; color: #1aa3a3; line-height: 18px; }
.form-section.pride { margin-top: 30px; }

.form-section .form-control.gap3 { background: none; padding: 0 0 0 15px; }
.modal-header .close { position: absolute; top: 10px; right: 15px; z-index: 999; cursor: pointer; } 


.preview { position: fixed; bottom: 15px; right: 20px; font-size: 15px; color: #666876; line-height: 16px; font-family: 'HelveticaNeue-Bold'; }
.modal-header { border-bottom: none; padding: 25px 0 0 0; }
.modal-body { padding: 0 20px 20px 20px; }
.modal-body h4 { font-family: 'HelveticaNeue-Bold'; font-size: 20px; line-height: 26px; margin-bottom: 10px; } 
.modal-body p { font-size: 16px; line-height: 20px; } 

/* pop up slider */
.left-side { width: 40%; float: left; padding-top: 15px; padding-bottom: 15px; }
.right-side { position: relative; padding-left: 25px; width: calc(100% - 40%); float: left; border-left: 1px solid #ccc; }
.phone { padding: 20px 25px 0 25px; border-left: 1px solid #ccc; width: 45%; float: right; position: absolute; top: 0px; right: 0px; bottom: 0px; right: 0px; }
.phone span { font-size: 12px; color: #868585; line-height: 14px; display: block; }
.phone span strong { font-weight: normal; text-transform: uppercase; font-size: 12px; color: #868585; line-height: 14px; }
.phone .list-num { padding-top: 30px; font-size: 18px; color: #292929; line-height: 20px; font-weight: bold; }
.phone .list-num .num { font-size: 30px; color: #1aa3a3; line-height: 32px; font-weight: normal; }
.switch.edit3 { height: 52px; width: 236px; margin-top: 40px; }
.onC.add, .offC.add { height: 52px; text-align: left; font-size: 13px; }
.onC.add { padding: 10px 10px 10px 55px; }
.offC.add { padding: 10px 55px 10px 10px; }
.edit3 .slider { background: #1aa3a3; }
.edit3 input:checked + .slider::before { transform: translateX(184px); }
.edit3 .slider::before { height: 48px; width: 48px; }
#slider-thumbs.col-sm-3 { padding-left: 0px; }
.left-side #carousel-bounding-box img,.carousel-inner > .item { border-radius: 4px; }
.carousel-control.left,.carousel-control.right { background: none; display: none; }
.left-side ul { list-style: none; margin: 0px; padding: 0px; float: left; }
.left-side .thumbnail { padding: 0px; margin: 0 0 17px 0; border-radius: 0px; border: 0px; }
.left-side .last .thumbnail { margin-bottom: 0px; }
.left-side .thumbnail img { border-radius: 4px; width: 64px; height: 64px; border: 1px solid #e8ebf0; }
a.thumbnail.active img, a.thumbnail:focus img, a.thumbnail:hover img { border: 1px solid #1aa3a3; }
.right-side .find-details { display: block; padding-top: 0px; }
.right-side h1 { margin-bottom: 30px; }
.right-side li { font-size: 14px; line-height: 28px; color: #868585; }
.right-side h1 span { display: block; color: #868585; font-size: 13px; line-height: 14px; padding-top: 3px; }
.right-side .find-details span.left1 { float: left; width: 33%; font-family: 'HelveticaNeue'; color: #868585; }
.right-side .find-details span { color: #292929; }
.right-side .find-details .gap { padding-top: 30px; padding-bottom: 10px; }
.right-side .find-details .gap span { font-size: 12px; color: #868585; line-height: 14px; }
#carousel-bounding-box { width: 96%!important; overflow: hidden; }
.find-details ul, .make-changes ul {
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#myModal.mode .modal-body { padding-top: 0px; }
#myModal.mode .form-section { margin-top: 0px; }
#myModal.mode h2 { margin-top: 0px; margin-bottom: 30px; text-align: center; }
#myModal.mode .modal-header { padding-top: 0px; }
#myModal.mode .form-section .form-shadow { width: 94%; margin-left: 0px; margin-right: 0px; }
#myModal.mode .modal-dialog { width: 1170px; }
.preview:hover,.preview:focus,.preview:active { color: #666876; text-decoration: none; }



