@media (min-width: 1200px){
	.container {
	    width: 1210px;
	}
}

@media only screen and (min-width:980px) and (max-width:1170px) { 
.col-lg-4.col-md-4.male { width: 28%; margin-left: 30px; margin-top: 1px; padding-right: 0px; }
.listingDetail-3 h1 { font-size: 24px; }
.listingDetail-1 ul li span { font-size: 18px; }
.listingDetail-1 ul li p { font-size: 14px; }
input:checked + .slider::before { transform: translateX(105px); }
.onC, .offC { font-size: 11px; }
.switch { width: 141px!important; }
.part4atypeExamp ul li{width: 100%;}
}

/* responsive Document */
@media only screen and (min-width:768px) and (max-width:1170px) { 
.step-section .text { padding-left: 70px; padding-right: 70px; }
.form-section .left-one.add { margin-left: 85px; }
.form-section .vehicle .image img { max-height: 130px; }
.form-section .vehicle h3 { font-size: 16px; }
.page4block { width: 190px; }
.form-section .vehicle.advertise p { font-size: 15px!important; }
.form-section .vehicle.advertise .bg { min-height: 310px; }
.page4block { height: 140px; }
.miles li { margin-left: 12px; width: 69px; height: 69px; font-size: 18px; padding-top: 8px; }
.miles ul { padding-bottom: 10px; }
.miles span { font-size: 14px; }
.form-section label { font-size: 13px; }
.form-section .specific .form-control { font-size: 13px; }
.form-section .carnumber .btn.back { font-size: 14px; }
.listingDetail-1 ul li span { font-size: 26px; }
.listingDetail-1 ul li p { font-size: 12px; }
.listingDetail-3 h1 { font-size: 12px; margin-top: 3px; }
.listingDetail-3 ul li h2 { margin-top: 0px; }
.listingDetail-3 ul li h2 { font-size: 12px; }
.listingDetail-3 ul li p { font-size: 12px; }

.find-details .left { width: 22%; }
.find-details .right { width: 78%; }
.make-changes .left1 { width: 14%; }
.part4atypeExamp ul li{width: 100% !important;}
	.part4atypeExamp ul li:nth-child(2){padding-left: 20px;}
	.part4atypeExamp ul li:nth-child(2) p span {    margin-left: -1px;}
.part4atypeExamp ul li img {  margin: auto; display: block;}
.phone { width: 100%; position: relative; top: auto; left: auto; bottom: auto; right: auto; border: 0px; padding-left: 0px; }
.switch.edit3 { width: 236px!important; }

}

@media only screen and (min-width:768px) and (max-width:980px) { 
.form-section .left-one { width: 100%; padding-bottom: 20px; }	
.form-section.page-10-form .left-one { width: auto; }	
.form-section .form-shadow { padding: 30px 30px; }
.form-section .comman { padding-bottom: 0px; }
.step-section li { padding-right: 90px; background: url('../images/step-tab.png') right 54px no-repeat; }
.step-section li.active { background: url('../images/step-tab2.png') right 54px no-repeat; }
.form-section .btn.back { width: 45%; margin-top: 30px; }
.form-section .btn.next { width: 45%; margin-top: 30px; }
.comman.full span { width: 100%; }
.page-10-form label .cardIcon{position: relative; margin-top: 5px; margin-bottom: 5px; }
.page-10-form label{position: relative;height: auto;}
.page-10-form .nocard{  padding-bottom: 15px;}
.form-section .vehicle .top-btn .btn { width: 45%; }
.step-section .text { padding-top: 0px; }
.form-section { margin-top: 30px; }
.form-section .form-shadow { padding-bottom: 40px; }
.comman.full span.btn-file { margin-bottom: 10px; }
.activebuy-col{margin-bottom:25px;}

.page4block { width: 107px; float: left; margin-left: 17px; }
.page4block.last input[type="text"] { width: 100%; }
.miles li { width: 53px; height: 60px; padding-top: 6px; }
.miles span { font-size: 12px; line-height: 12px; }

.col-lg-4.col-md-4.male { width: 60%; margin: 0px auto; padding-right: 15px; }
.circleText div:nth-child(3),.circleText div:nth-child(4) { padding-left: 0px; }
.row { margin:  0px; }
.header-banner,.num-counter,.report-chart { padding: 30px 0; } 
.report-chart-1 { padding: 0px 0 30px 0; }
.report-chart-1 .downloadReportbtn { padding-top: 0px; }
.form-shadow .ortext { padding: 20px 0 10px 0; }
.choosenBtn { padding-top: 50px; }
.form-section.page-10-form .comman { padding-bottom: 20px; }

nput:checked + .slider::before { transform: translateX(94px); }
.onC, .offC { font-size: 11px; }
.onC { padding-right: 13px; }
.listing-price { font-size: 20px; }
.listing-price span { font-size: 14px; }
.listingDetail-4 .edit { margin: 12px 5px 0 5px; }
.slider::before { left: 2px; }
.listingDetail-3 { padding: 2%; width: 61%; }
.listingDetail-4 { width: calc(100% - 61%); }
.switchbtn { padding-left: 5px; padding-right: 5px; }
.listingDetail-4 .switchbtn { margin-top: 15px!important; }
.form-shadow.carnumber .comman.buttons { padding-top: 0px!important; }
.switch { width: 130px!important; }
input:checked + .slider::before { transform: translateX(94px); }
.listingDetail-1 ul li p br { display: none; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a { font-size: 13px; }
.tab-pane .table { width: 760px; }
.table { max-width: inherit!important; }
.form-section .comman.left-less { padding-top: 10px; }
.form-section .comman.left-less .left-one { width: auto; }
.navigation { position: relative; top: auto; left: auto; text-align: center; padding-top: 10px; margin-bottom: 0px; width: 100%; overflow: hidden; }
.navbar-collapse.collapse { overflow: hidden; }
.navbar-collapse.collapse ul { width: 100%; overflow: hidden; }
.navbar-nav > li { float: none; display: inline; }
.navbar-nav > li a { float: none; display: inline-block; }

.find-details .left { width: 28%; }
.find-details .right { width: 72%; }
.make-changes .left1 { width: 17%; }
.find-details { padding-top: 20px; }
.part4atypeExamp ul li{width: 100% !important;}
.part4atypeExamp ul li:nth-child(2){padding-left: 20px;}
.part4atypeExamp ul li:nth-child(2) p span {    margin-left: -1px;}.part4atypeExamp ul li img{	    margin: auto;    display: block;}
.left-side { width: 100%; }
.right-side { border: 0px; width: 100%; }

}

@media only screen and (max-width:767px) {
.left-side { width: 100%; }
.right-side { border: 0px; width: 100%; }
.phone { width: 100%; position: relative; top: auto; left: auto; bottom: auto; right: auto; border: 0px; padding-left: 0px; }
.switchbtn .switch.edit3 { width: 236px!important; }
 
.comman.buttons.flowBtns.flowBtns-1.flowBtns-2{
	padding-top: 50px;
}
.part4atypeExamp {
    padding: 0px 0 !important;
    margin-bottom: 0px !important;
}
#myModal.mode .modal-dialog {
    width: 94%;
}
.form-section .vehicle .bottom-border { margin-bottom: 20px; }
.form-section .left-one { width: 100%; padding-bottom: 20px; }	
.form-section .form-shadow { padding: 20px 20px 30px 20px; margin-left: 0px; margin-right: 0px; width: 100%; }
.form-section .comman { padding-bottom: 0px; }
.step-section li { padding-right: 8px; background: none; }
.step-section li.active { background: none; }
.step-section .text { padding-left: 10px; padding-right: 10px; }
.step-section { padding-top: 40px; }
.step-section .text { padding-top: 0px; }
.form-section { margin-top: 30px; }
.form-section .btn.back { width: 45%; margin-top: 20px; }
.form-section .btn.next { width: 45%; margin-top: 20px; }
.comman.full span { width: 100%; }
.page-10-form .nocard{  padding-bottom: 15px;}
.page-10-form label .cardIcon img{width: 30px;}
.form-section .vehicle .top-btn .btn { width: 40%; font-size: 13px; }
.form-section .vehicle p { font-size: 18px; }
.form-section .vehicle .image img { max-height: inherit; }
.form-section .vehicle .top-btn { padding-bottom: 20px; }
.form-section .vehicle .btn.second { margin-left: 20px; }
.header-strip .right-nav ul li:last-child a { font-size: 14px; margin-left: 14px; padding:  10px; }
.header-strip .right-nav ul li a { font-size: 14px; margin-left: 0px; }
.step-section .text h2 { font-size: 24px; line-height: 30px; margin-top: 0px; }
.active-buyers .activebuy-cont { width: 100%; }
.active-buyers .row,.report-chart-1 .row { margin:  0px; }
.active-buyers .col-lg-4 { padding: 0px; }
.chart-col{padding: 0px 0px;}

.comman.full span.btn-file { background: url('../images/input-file2.jpg') no-repeat; width: 260px; height: 195px; }
.activebuy-col{margin-bottom: 20px;}
.form-section .comman{padding-bottom: 10px;}

.page4block:nth-child(2n+1) { margin-left: 0px; margin-top: 20px; margin-bottom: 20px; }
.page4block { width: 100%; margin-left: 0px; margin-bottom: 20px; }
.blank { display: none; }
.miles li { margin:  0px 8px 8px 0; }
.miles .or { margin: 20px 0 30px 0; }
.specific .comman.buttons { margin-top: 0px; }
.row { margin:  0px; }

.circleText div:nth-child(3),.circleText div:nth-child(4) { padding-left: 0px; }
.row { margin:  0px; }
.header-banner,.num-counter,.report-chart { padding: 20px 0; } 
.report-chart-1 { padding: 0px 0 30px 0; }
.report-chart-1 .downloadReportbtn { padding-top: 0px; }
.report-chart section section { margin-bottom: 0px; }
.report-chart .downloadReportbtn { padding-top: 30px; }
.choosenBtn { padding-top: 20px; }
.form-shadow .ortext { padding-bottom: 10px; padding-top: 10px; }

.choosedItem ul li { position: relative; padding-right: 50px; }
.choosedItem ul li span { position: absolute; top: 25%; right: 15px; }
.comman .fieldsheading hr { margin-bottom: 20px; }
.form-section .vehicle .bg { margin-bottom: 20px; }
.form-section .vehicle.advertise .bg { min-height: inherit; }
.vehicle .col-lg-12 { padding: 0px; }
.form-section.page-10-form .left-one { width: auto; }	
.page-10-form .text-pound span { font-size: 10px; }
.page-10-form .text-pound { font-size: 22px; }
.form-shadow.carnumber .btn { width: 80%; }
.form-shadow.carnumber .comman.buttons { padding-top: 0px!important; }
.listing .form-shadow .listing-img, .listing .form-shadow .listing-detail { width: 100%; } 
.listing .form-shadow .listing-detail { top: 205px; background: rgba(255,255,255,0.90); }
.listingDetail-3 h1 { font-size: 18px; }
.listingDetail-3 ul li h2 { font-size: 18px; }
.listingDetail-3 ul li p { font-size: 14px; }
.listingDetail-1 { width: 14%; }
.listingDetail-1 ul li p { font-size: 13px; }
.listingDetail-1 ul li span { font-size: 24px; }
.listingDetail-2 { width: calc(100% - 14%); }
.listingDetail-3 { width: 57%; }
.listingDetail-4 { width: calc(100% - 57%); }
.listingDetail-4 .edit { margin: 8%; }
input:checked + .slider::before { transform: translateX(99px) }
.listingDetail-4 .onC,.listingDetail-4 .offC { font-size: 11px; }
.listingDetail-4 .switchbtn { margin: 26px 0 0 0px!important; }
.switchbtn .switch { width: 135px!important; }
.listingDetail-1 ul li p br { display: none; }
.form-section .form-shadow.carnumber { margin-bottom: 10px; }
.form-section.listing .form-shadow { margin-bottom: 30px; }
.switchbtn { margin-bottom: 60px; }
.strtinB{min-height: 400px;}
.step-section.step-out { padding-top: 30px; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a { font-size: 11px; }
.form-section .form-shadow.tab-sec .tab-content { padding-top: 20px; }

.tab-pane .table { width: 760px; }
.table { max-width: inherit!important; }
.form-section .form-shadow.tab-sec .nav-tabs li { height: 40px; width: 100%; }
.form-section .form-shadow.tab-sec .nav-tabs > li > a { font-size: 14px; line-height: 40px; }

.form-section .comman.left-less { padding-top: 10px; }
.form-section .comman.left-less .left-one { width: auto; }
.page-10-form .ccv { width: 60px; }
.form-section .form-shadow.tab-sec .nav-tabs.gperTab li { width: 100%; }
.header-strip .right-nav ul li.funds a span,.header-strip .right-nav ul li.funds a { font-size: 14px; }
.navbar-toggler,.collapse { display: block; border:  none; box-shadow: inherit; }
.navigation { position: relative; top: auto; left: auto; margin: 0px; overflow: hidden; width: 100%; padding-top: 6px; }
.navbar-nav { margin:  0px; padding: 0px; }

.navbar-collapse.collapse ul { width: 100%; overflow: hidden; text-align: center; }
.navbar-nav > li { float: none; display: inline; }
.navbar-nav > li a { float: none; display: inline-block; }
.navbar-default .navbar-nav > li { padding-right: 15px; }
.affix { position: relative; }

.find-details .left { width: 100%; }
.find-details .right { width: 100%; }
.make-changes .left1 { width: 24%; }
.find-details .left1 { width: 50%; }
.part4atypeExamp ul li{width: 100% !important;}
.part4atypeExamp ul li:nth-child(2){padding-left: 20px;}
.part4atypeExamp ul li:nth-child(2) p span {    margin-left: -1px;}
.part4atypeExamp ul li img{	    margin: auto;    display: block;}

#slider { width: 300px; }
.navbar-default a img {
    width: 120px;
}
#myModal.mode h2{font-size:18px;}
.modal-body{padding:0;}
#slider{width:100%!important;padding:0;}
#carousel-bounding-box{width:100%!important;}
#myModal.mode .form-section .form-shadow{width:100%!important;}
div#slider-thumbs{width:100%;}
.hide-bullets{    margin-top: 15px !important;}
.hide-bullets li{float:left;display:block;width:25%;}

}

@media only screen and (min-width:280px) and (max-width:479px){



.part4atypeExamp ul li{width: 100% !important;}
.part4atypeExamp ul li:nth-child(2){padding-left: 20px;}
.part4atypeExamp ul li:nth-child(2) p span {    margin-left: -1px;}
.part4atypeExamp ul li img{	    margin: auto;    display: block;}
.step-section .text h2 { margin-top: 0px; }
.step-section .text p { text-align: left; }
.form-section { margin-top: 20px; }
.form-section .form-control { font-size: 14px; }
.form-section label { font-size: 12px; }
.form-section .form-shadow { padding:  20px 15px; }
.form-section .btn { font-size: 14px; width: 100%; }
.page-10-form label .cardIcon{position: relative; margin-top: 0;}
.page-10-form label{position: relative;height: auto;}
.page-10-form .text-pound{font-size: 40px;}
.page-10-form .text-pound span{font-size: 16px;}
.page-10-form .nocard{    margin-right: 5%;     padding-bottom: 15px;}
.page-10-form label .cardIcon img{width: 30px;}

.form-section .vehicle .btn.second { margin-left: 0px; margin-bottom: 0px; }
.form-section .vehicle .top-btn .btn { width: 100%; margin-bottom: 10px; }
.left, .header-strip .right-nav ul li { float: none; }
.header-strip .right-nav ul li a { font-size: 12px; }
.header-strip .right-nav ul li:last-child a { font-size: 13px; }
.activebuy-col{margin-bottom: 15px;}
.form-section .comman{padding-bottom: 10px;}

.page4block:nth-child(2n+1) { margin-top: 15px; margin-bottom: 15px; }
.page4block { margin-bottom: 15px; }
.step-section .bg { width: 60px; }
.step-section h3 { font-size: 9px; }
.step-section li { padding-right: 2px; }
.step-section .icon { width: 60px; }

.step-section li.active .bg { background: url('../images/hexagon-bg-hover-mobile.png') no-repeat;  }
.step-section .icon { height: 69px; width: 60px; }
.step-section .icon .start { top: -6px; right: -2px; }
.step-section .bg { background: url('../images/hexagon-bg-mobile.png') no-repeat; width: 60px; }
.miles li { width: 83px; height: 83px; }
.form-section .form-control.gap { font-size: 13px; }
.graph-container,.bar-overflow { width: 290px; }
.miles li { margin:  0px 3px 3px 0; }
.page-10-form .text-pound { float: left!important; }
.listing .form-shadow .listing-detail { top: 110px; }
.form-shadow.carnumber .btn {  width: 98%; }
.listingDetail-1 { width: 100%; bottom: auto; }
.listingDetail-1 ul li { position: relative; width: 50%; height: auto; padding-top: 5px; float: left; border-bottom:  1px solid #d6d6d6; }
.listingDetail-1 ul li:first-child { border-right:  1px solid #d6d6d6; }
.listingDetail-1 ul li:last-child { border-top:  0px; }
.listingDetail-2 {  width: 100%; bottom: auto; top: 32px; }
.listingDetail-4 { width: 100%; bottom: auto; top: 152px; border: none; }
.switchbtn { margin: 0px!important; }
.switchbtn { float: right; margin-bottom: 20px; }
.listingDetail-4 .switchbtn { float: none; margin-bottom: 0px; }
.listingDetail-3 { width: 100%; }
.listingDetail-1 ul li span { font-size: 18px; }
.listingDetail-4 .switchbtn { width: 58%; float: left; padding-left: 5px; margin-top: 0px; }
.listing-price { width: 42%; float: right; clear: none; font-size: 14px; text-align: right; padding-right: 10px; } 
.listing-price span { font-size: 11px; }
.listingDetail-4 .edit { margin: 10px 2% 0 2%; text-align: center; width: 96%; float: left; }
.listingDetail-3 h1 { font-size: 11px; }
.listingDetail-3 ul li h2 { font-size: 12px; margin-bottom: 0px; margin-top: 5px; }
.listingDetail-3 div { font-size: 11px; }
.listingDetail-1 ul li p { font-size: 11px; margin-bottom: 5px; }
.listingDetail-3 ul li p { font-size: 11px; margin-bottom: 3px; }
.listing .form-shadow .listing-detail { top: auto; bottom: auto; min-height: 290px; position: relative; }
.listingDetail-3 div { font-size: 12px; line-height: 12px; }
input:checked + .slider::before { transform: translateX(102px); }
.listingDetail-4 .switchbtn .switch { width: 138px!important; float: left!important; }
.switchbtn .switch { width: 138px!important; }
.form-section.listing .form-shadow { margin-bottom: 20px; }
.listingDetail-4 .switchbtn { margin: 0px 0 0 0px!important; }
.leftbarchart-dots-22 ul li,.leftbarchart-dots-44 ul li{
	width: 80px;
    height: auto;
}
.strtinB{min-height: 400px;}
.form-section .form-shadow.tab-sec .btn { width: 60%; float: right; font-size: 15px; }
.startingBudget .leftbarchart-dots-2 { margin-left: 10px; }
.tab-pane .table tr th, .tab-pane .table tr td { font-size: 14px; }
.tab-pane .table { width: 700px; }
.report-chart-1.page-10-barchart .bar-grup > div { padding-left: 0px; }

.header-strip .right-nav ul li.funds a span,.header-strip .right-nav ul li.funds a { font-size: 12px; }
.navbar-default .navbar-nav > li > a { font-size: 12px; }
.make-changes .left1 { width: 40%; }
.switchbtn .switch.edit3 { margin-bottom: 20px; }
#slider { width: 205px; }

}




