@import url('fonts/fonts.css');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');


/*------- Header Strip ---------*/

.header-strip .right-nav ul{padding: 0; margin: 0; list-style: none;}
.header-strip .right-nav ul li a{margin: 10px 0px 10px 32px; padding: 10px 0px; font-size: 20px; text-decoration: none;}
.header-strip .right-nav ul li:last-child a{padding: 10px 25px;font-size: 16px;  /*border-color:#bae3fe;*/ }
.logo a{margin: 12px 0;}
.topstripbtn:hover{    background-color: #fff !important;
    color: #1aa3a3 !important;
    border-color: #fff !important;}
/*------- Header Strip End---------*/


/*--------------- Header Banner ------------*/
	.header-banner{padding: 45px 0;padding-bottom: 100px;}
	.header-banner .heading-h1{margin-top: 0px;}
	.header-banner .heading-h4,.header-banner .increase-budg{margin-top: 20px;}
	.header-banner .increase-budg{padding: 10px 25px;text-decoration: none; color: #00c866; border-color: #00c866; }
	.header-banner .heading-h3{clear:left; padding-top: 25px; margin-top: 0; }
	.header-banner p,.num-count-point p,.report-chart-1 p{color: #868686;}
	.header-banner .increase-budg:hover {
    background: #00c866 !important;
    color: #fff !important;
}
@media screen and(max-width: 1024px){
	.header-banner img{width: 100%;}
}
/*--------------- Header Banner End------------*/

/*-------- Number Counter--------------*/
	.num-counter{background-color: #f8f8f8; padding: 65px 0;overflow: hidden;}
	.num-count-point{ text-align: center; }	
	.num-count-point img{margin: auto;margin-bottom: 40px; }	
	.num-count-point p{font-size: 18px; }	
/*-------- Number Counter End--------------*/


/*-------- Circle report chart -----------*/
	.report-chart{padding: 65px 0; background-color: #f6f6f6;}
	.report-chart section h3,.report-chart section p{text-align: center;color: #000; }
	.report-chart section section{margin-bottom: 30px;}
	.report-chart circle.border{stroke: #fff;}
	.report-chart circle.circle{stroke-width: 2px;stroke:#00c866;  -webkit-transform:rotate(-90,100,100);}
	.report-chart circle:nth-child(3){    fill: #fff;    transition: all .5s ease;    -webkit-transition: all .5s ease;}
	.report-chart circle:nth-child(3):hover {
    fill: #ececec;
    stroke: white;
}
	.report-chart svg text{fill: #000;transform: translate(0px,-10px); -webkit-transform: translate(0px,-10px);}
	.circle-grup > div:nth-child(2) circle:nth-child(2),.circle-grup > div:nth-child(4) circle:nth-child(2){stroke: #0099fe;}
	.downloadReportbtn{text-align: center;    clear: both;}
	.downloadReportbtn a{color: #00c866; border-color: #00c866; padding:12px 40px; font-size: 18px; text-decoration: none;     display: inline-block;}
	.report-chart .downloadReportbtn{    padding-top: 60px;clear: both;}
	.downloadReportbtn a:hover {
    background: #00c866 !important;
    color: #fff !important;
}
/*-------- Circle report chart End-----------*/

/* ------------- Bar Report start ---------------*/
.report-chart-1{padding: 90px 0;}
.gender-ul{padding: 0;margin: 0; list-style: none;}
.gender-ul > li{width: 50% ;float: left;transition: all .5s ease;}
.gender-ul > li > div{text-align: center; position: relative;}
.gender-ul > li > div >img{display: block;margin: auto;}
.gender-ul > li > div:nth-child(2) > img{display: block;margin: auto; position: relative;}
.report-chart-1 .downloadReportbtn{    padding-top:30px;clear: both;}
.gender-ul > li > div:nth-child(2){margin-top: 15px;}
.gender-ratio { position: absolute; left: 0; right: 0; top: 57%;-webkit-transform: translate(0, -50%);  transform: translate(0, -50%); text-align: center; }
.gender-ratio h2{margin-bottom: 0;    display: inline-block;}
.page-10-barchart .headingbarchart {text-align: center; margin-bottom: 50px;}
.page-10-barchart .headingbarchart h3,.report-chart-1 section p{color: #000; margin-bottom: 20px;}

.page-10-barchart{padding: 30px 0;}
.barcharfooter::after{content: ''; clear: both; display: table;}
.barcharfooter{padding: 0 0 50px 0; text-align: center;}

/* ------------- Bar Report End ---------------*/

.switchbtn { margin-bottom: 45px; position: relative; z-index: 999; }
.switch { position: relative; display: inline-block; width: 170px; height: 36px; }

/* Hide default HTML checkbox */
.switch input { display: none; }
.onC,
.offC {   line-height: 18px;  height: 36px;display: none; text-align: left; padding: 10px; padding-left: 20px; color: #fff; font-size: 14px; font-weight: normal; }
.onC { color: #fff; display: block; text-align: right; padding-right: 20px; }

/* The slider */
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #c80000; color: #fff;-webkit-transition: .4s; transition: .4s; }
.slider:before { position: absolute; content: ""; height: 32px; width: 32px; left: 2px; bottom: 2px; background-color: white; -webkit-transition: .4s; transition: .4s; }
input:checked + .slider { background-color: #00c866; }
input:checked + .slider .offC { display: block; }
input:checked + .slider .onC { display: none; }
input:focus + .slider { box-shadow: 0 0 1px #00c866; }
input:checked + .slider:before { -webkit-transform: translateX(133px); -ms-transform: translateX(133px); transform: translateX(133px); }

/* Rounded sliders */
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }


 /* Safari only override  start*/ 
	@media screen and (-webkit-min-device-pixel-ratio:0) { 
    
     

    ::i-block-chrome, {
		margin: 6px 0 0;
	}
}

 /* Safari only override  end*/ 


.chart-col { margin: 20px auto; padding: 0px 50px; }
.graph-container {  width: 300px; border-right: none; border-top: none; position: relative; margin-left: auto; margin-right: auto; }
.graph-container .graph-bar { position: absolute; width: 38px; padding-top: 15px; padding-left: 10px; bottom: -100%; }
.clear { content: ''; display: table; clear: both; }
.graph-container .graph-bar p { color: #009aff;font-size: 1px; }


.graph-container .graph-bar section { 
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    bottom: 15px;
    left: 5px;
    transform: rotateX(180deg) rotateY(180deg);
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    font-family: 'Zilla Slab', serif;
    writing-mode: tb-rl;
    -webkit-writing-mode: tb-rl;
}

.graph-container .graph-bar.placebo-bar,
.graph-container .graph-bar.creon-bar { left: 0; background: #009aff; }
.graph-container .graph-bar.creon-bar { left: 60px; }
.graph-container .graph-bar.creon-bar-1 { left: 120px; }
.graph-container .graph-bar.creon-bar-2 { left: 180px; }
.graph-container .graph-bar.creon-bar-3 { left: 240px; }
.graph-container .leftbarchart { background: #00c866 !important; }
.graph-container .leftbarchart p { color: #00c866 !important; }
.bar-overflow { overflow: hidden; position: relative; width: 300px; height: 220px; }
.graph-container .y-axis-label { transform: rotate(-90deg); -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); position: absolute; top: 45px; left: -62px; }
.leftbarchart-dots { border-bottom: 1px solid #ececec; margin-top: 40px; width: calc(100% - 20px); }
.leftbarchart-dots ul { padding: 0; margin: 0; list-style: none; }
.leftbarchart-dots ul li { width: 10px; height: 10px; background: #d0d0d0; float: left; border-radius: 50px; margin-top: -5px; position: absolute; }

.leftbarchart-dots ul li:nth-child(1){margin-left: calc(100% - 265px);}
.leftbarchart-dots ul li:nth-child(2){ margin-left: calc(100% - 203px);}
.leftbarchart-dots ul li:nth-child(3){margin-left: calc(100% - 145px);}
.leftbarchart-dots ul li:nth-child(4){ margin-left: calc(100% - 85px);}
.leftbarchart-dots ul li:nth-child(5){margin-left: calc(100% - 23px);}
        
       
   .leftbarchart-dots-1{border-bottom: 0px solid #ececec;    margin-top: 30px;}         
.leftbarchart-dots-1 ul li{width: 51px;
    background: transparent;
    font-size: 14px;
    color: #ababab;

}               
.leftbarchart-dots-1 ul li:nth-child(1){margin-left: calc(100% - 272px);}
.leftbarchart-dots-1 ul li:nth-child(2){ margin-left: calc(100% - 212px);}
.leftbarchart-dots-1 ul li:nth-child(3){margin-left: calc(100% - 157px);}
.leftbarchart-dots-1 ul li:nth-child(4){ margin-left: calc(100% - 97px);}
.leftbarchart-dots-1 ul li:nth-child(5){margin-left: calc(100% - 36px);}
.leftbarchart-dots-1 ul,.leftbarchart-dots-1 ul li{min-height:20px ;}



.leftbarchart-dots-2{border-bottom: 0px solid #ececec;margin-top: 30px;}         
.leftbarchart-dots-2 ul li{width: 51px;background: transparent;font-size: 14px;color: #ababab;text-align: center;min-height:40px ;}               
.leftbarchart-dots-2 ul li:nth-child(1){margin-left: calc(100% - 283px);}
.leftbarchart-dots-2 ul li:nth-child(2){ margin-left: calc(100% - 221px);}
.leftbarchart-dots-2 ul li:nth-child(3){margin-left: calc(100% - 168px);}
.leftbarchart-dots-2 ul li:nth-child(4){ margin-left: calc(100% - 108px);}

.leftbarchart-dots-2 ul li:nth-child(5){margin-left: calc(100% - 45px);}
.leftbarchart-dots-2 ul {display: block; min-height:40px ;}

.circleText{margin-top: -50px;}
.circleText div{text-align: center;}
.circleText div:nth-child(3){padding-left: 50px;}
.circleText div:nth-child(4){padding-left: 80px;}

/*25-july-2017 by vikash*/

/* .step-section li.active .icon { background: url('../images/about-icon-page-10.png') center center no-repeat; }
.step-section li.active .icon.icon3 { background: url('../images/targetting-icon-hover-page-10.png') center center no-repeat; }
 */
.form-section .form-control.icon13 { background: url('../images/form-icon1.png') 2px top no-repeat; }
.form-section .form-control.icon13:focus { background-position: 2px -52px; }
.form-section .form-control.icon14 { background: url('../images/form-icon14.png') 2px top no-repeat; }
.form-section .form-control.icon14:focus { background-position: 2px -52px; }
.page-10-form label{position: relative;height: 26px; font-weight: normal;}
.page-10-form label .cardIcon{position: absolute; right: 0;margin-top: -18px; }
.page-10-form .ccv{ background-image: none;    padding: 6px 12px;    width: 75px; float: left;}
.page-10-form .left-one{width: auto; margin-right: 25px;}
.page-10-form .left-one .expire{ border-left: 0; border-top-left-radius: 0;border-bottom-left-radius: 0; }
.page-10-form .text-pound{ color:#009AFF; font-size:50px; font-family: 'HelveticaNeue-Bold'; font-weight: 900;    line-height:50px;}
.page-10-form .text-pound span{display: block; font-size: 20px; font-weight: 600;    line-height: 25px;}
.page-10-form .btn.back,.page-10-form .btn.next{float:none;display: inline-block;}
.page-10-form .btn.back{margin-right: 15px;}
.page-10-form .nocard{color: #5f636b; font-size: 14px; margin-top: 15px;   display: block;    text-align: right; text-decoration: underline;    margin-right: 16%;}



.active-buyers{}
.active-buyers section{text-align: center; color: #000; margin-bottom: 50px;}
.active-buyers .activebuy-cont{width: 88%; margin:auto;}

.active-buyers .activebuy-col{overflow: hidden; border-radius: 3px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); background-color: #fff;     min-height:438px;}

.active-buyers .activebuy-cont img{width:100%;transform: scale(1, 1); display: block; transition: all .3s ease;  -webkit-transition: all .3s ease;  -moz-transition: all .3s ease;}
.activebuy-col:hover img{transform: scale(1.1, 1.1);}
.active-buyers .activebuy-inner h4{color: #000; line-height: 30px; font-size: 18px; font-family: 'HelveticaNeue-Bold'; }
.active-buyers .activebuy-inner p{color: #000; font-size: 15.25px; }
.active-buyers .activebuy-inner a{color: #000; font-size: 15.25px; font-family: 'HelveticaNeue-Bold'; padding-top:10px ; display: block; color: #222; }
.active-buyers .activebuy-inner{padding:15px 30px;}
.form-shadow .page11-left{width:44%;}
.activebuy-col .edit{padding-top:0px!important;color:#868686!important;font-weight:400!important; font-family: 'HelveticaNeue'!important; }
.activebuy-col .edit:hover{color:#fff!important;}
.form-shadow .page11-left.add{float:right;margin:0;}
.page4block{text-align:center;background-color:#eee;width:260px;height:165px;padding:0px;margin-left:54px;margin-bottom:30px;border:2px solid #d3d2d0;border-radius:3px;padding-top:5%;}
.page4block:nth-child(odd){margin-left:25px;}
.page4block:nth-child(even){}
.page4block span{    padding-top: 18px;color:#fff;width:55px;height:55px;border-radius:50px;background-color:#d3d2d0;display:block;margin:auto;}
.page4block.activeBlock{background-color:#0099fe;border:2px solid #0099fe;}
.page4block.activeBlock span{background-color:#058de7;}
.page4block.last{background-color:#fff; padding-top:9%;}
.page4block.last input[type="text"] {background-color:#fff; color: #000; border:0px; text-align: center;}
.page4block p{margin-top:15px;font-size: 18px !important;color:#353535 !important ; font-family: 'HelveticaNeue-Light'; }
.comman .fieldsheading{font-size: 22px;color: #000;} 
.comman .fieldsheading hr{margin: 10px 0 40px 0; border-width: 2px; border-color: #e8e7e6;} 
.form-shadow .ortext{text-transform: uppercase; font-size: 24px; color: #666; padding:00px 0 40px 0; text-align: center;}
.form-shadow.carnumber{padding-top: 30px !important;}

.form-shadow.carnumber .comman.buttons{padding-top: 40px !important;}
.listing-sort{margin-top: 0 !important;}
.listing-sort .form-shadow{    margin-bottom: 0px !important;background-color:transparent!important;box-shadow:none!important;padding:20px 0 0 0!important}
.listing-sort .form-shadow select{outline:none;color:#5a5a5a;background-image:url(../images/down-arrow.png);border-radius:50px;background-repeat:no-repeat;background-position:90% center;display:block;height:42px;width:200px;padding-left:20px;-webkit-appearance:none;appearance:none;-moz-appearance:none;border:1px solid #ededec; font-family: 'HelveticaNeue-Bold';}
.listing{margin-top: 20px !important;}
.listing .form-shadow{border-radius: 8px!important;padding: 0px !important;    overflow: hidden;}
.listing .form-shadow .listing-img,.listing .form-shadow .listing-detail{padding:0px;width:28%;float: left;}
.listing .form-shadow .listing-detail{width:calc(100% - 28%);position:absolute;top:0;bottom:0;right:0}
.listing .form-shadow .listing-img img{display:block;width:100%}
.listingDetail-1{position:absolute;top:0;bottom:0;width:20%;border-right:1px solid #d6d6d6}
.listingDetail-1 ul{padding:0;margin:0;list-style:none;position:absolute;top:0;bottom:0;width:100%}
.listingDetail-1 ul li{padding-top:30%;position: absolute;height: 50%;width: 100%; text-align: center;color: #868585;}
.listingDetail-1 ul li span{color: #0099fe;font-size: 30px; }
.listingDetail-1 ul li:last-child{bottom: 0;border-top: 1px solid #d6d6d6;}
.listingDetail-1 ul li:last-child span{color: #c80000;}
.listingDetail-2{position:absolute;top:0;bottom:0;right:0;width:calc(100% - 20%);}

.listingDetail-4{top:0;bottom:0;right:0;position:absolute;border-left:1px solid #d6d6d6;width:calc(100% - 65%)}
.listingDetail-4 .switchbtn{margin-top: 25%;    margin-bottom: 10%;}
.listing-price { clear: both;text-align: center; color: #0099fe; font-size: 30px;  font-family: 'HelveticaNeue-Bold'; }
.listing-price.red { color: #c80000; }
.listing-price span{display: block;font-size: 18px; color: #000;  font-family: 'HelveticaNeue-Medium'; }
.listingDetail-4 .edit{ width: auto;   margin: 15%;border-color: #0099fe; color: #0099fe; font-family: 'HelveticaNeue-Medium';}
.listingDetail-4 .edit:hover{background-color: #0099fe; color: #FFF;}

.listingDetail-3{top:0;bottom:0;position:absolute;width:65%; padding:3%;}
.listingDetail-3 h1{font-size: 30px;}
.listingDetail-3 div{font-size: 12px; color: #868585;line-height: 15px;}
.listingDetail-3 ul{padding: 0; margin: 0; list-style: none;}
.listingDetail-3 ul li{float: left; width: 33.3%; text-align: center;}
.listingDetail-3 ul li h2{font-size: 27px;}
.listingDetail-3 ul li p{font-size: 16px; color: #868585;    width: 90%;    word-wrap: break-word; line-height: 17px;}
/*choosen dropdown start*/
.form-section .comman.choosen { overflow: initial;     padding-bottom: 25px;}
.choosen-dropdown {transition: all .3s ease; height: 0px; width: calc(100% - 58px);  margin-left: 58px; background-color: #fff; position: absolute; z-index: 999999; box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.32);  }
.showC{height: 180px; border: 1px solid #bbb;}
.choosen-dropdown .choosen-sub { padding: 6px 20px; border-bottom: 1px solid #e2e1e1; font-size: 14px; color: #000; transition: all .2s ease; }
.choosen-dropdown .choosen-sub:hover { color: #fff; background-color: #2f72d4; cursor: pointer;}
.choosedItem ul{padding: 0; margin: 0; list-style: none;}
.choosedItem ul li{margin-bottom:10px;float: left; padding:10px 10px 10px 25px; border: 1px solid #e8e7e6; color: #000; margin-right: 10px; border-radius: 50px;}
.choosedItem ul li span{transition: all .3s ease;height:22px;width:22px;float:right;margin-left:15px;text-align:center;line-height:18px;display:block;border-radius:50px;cursor:pointer; background: #acacac; }
.choosedItem ul li span:hover{background-color: #000;}
.choosenBtn{padding-top: 150px;}
/*choosen dropdown end*/
.listingRport{    margin-top: 60px !important;}
.report-chart-2 {    padding: 20px 0;}
.report-chart-2 .downloadReportbtn { padding-top: 00px; }
.startingBudget{margin: 20px 0 0 0 !important;}
.startingBudget .form-shadow{ padding: 50px 0 !important; }

.leftbarchart-dots-22 ul li,.leftbarchart-dots-44 ul li{
	width: 130px;
    height: auto;
        text-align: left;
}

.leftbarchart-dots-11 ul li:nth-child(2){display: none;}
.leftbarchart-dots-11 ul li:nth-child(3){display: none;}
.leftbarchart-dots-22 ul li:nth-child(2){display: none;}
.leftbarchart-dots-22 ul li:nth-child(3){display: none;}

.leftbarchart-dots-33 ul li:nth-child(2){display: none;}
.leftbarchart-dots-33 ul li:nth-child(3){display: none;}
.leftbarchart-dots-44 ul li:nth-child(2){display: none;}
.leftbarchart-dots-44 ul li:nth-child(3){display: none;}



.startingBudget-h {
    margin-bottom: 30px;
}
.startingBudget-h  h3, .startingBudget-h p {
    text-align: center;
    color: #000;
}
.startingBudget-h h3, .startingBudget-h p {
    text-align: center;
    color: #000;
}


.startingBudget .downloadReportbtn{margin-top: 20px;}

.numscrollerCount p{font-size: 14px;}
.numscrollerCount .heading-h3,.numscrollerCount {margin-top: 0px !important;}
.numscrollerCount .startingBudget-h{margin-top: 10px;margin-bottom: 60px;}
.form-section .form-shadow.tab-sec .nav-tabs.gperTab li{width: 25%;}

/*flow */

.flow-1-b > div:nth-child(1),.flow-1-b > div:nth-child(2){
	padding-bottom: 30px;
}
.flow-1-b > div:nth-child(2) p{
	margin-bottom: 3px;
	    font-size: 15px;
}
.flow-1-b > div:nth-child(2) p > span{
	display: inline-block !important;
	color: #1aa3a3;
	font-size: 25px;
	font-family: 'HelveticaNeue-Bold';
	line-height: 30px;
	    width: auto;
}
.flowBtns{}
.flowBtns .btn{padding-top: 13px;}
.flow-1-b .info{
	
    color: #333 !important;
    border-radius: 50px;
    border: 1px solid #333;    
    width: 32px !important;
    padding-bottom: 0px !important;
    height: 32px;
    text-align: center;
    margin-left: 10px;
}

.flow-1-b > div:nth-child(2) p span > span{
	display: none;
}
.lightbox{    
    position: absolute;
    width: 300px !important;
    height: 110px;
    font-size: 16px !important;
    line-height: 22px !important;
    text-align: left;    
    padding: 10px 15px;
    background: #00a4a4;
    z-index: 999;
    border-radius: 3px;
    color: #fff !important;
    left: 37px;
    font-family: 'HelveticaNeue-Light'!important;
    top: -1px;}
.lightbox span{     
    font-size: 12px !important;
    line-height: 16px !important;
    display: block !important;
    color: #fff !important;
    font-family: 'HelveticaNeue-Light'!important;
    margin-top: 15px;
}
span.lightbox::before{
	content: '';
	width: 0px;
	height: 0px;
	border: 8px solid red;
	border-color: transparent #00a4a4 transparent transparent;
	z-index: 99999999;
	left: -15px;
	position: absolute;
}

.flow-1-b .info:hover > .lightbox
{
	display: inline-block !important;
}
.flowBtns-1{
	padding-top: 50px;
}
.selectIcon{
	text-align: center;
}	
.selectIcon ul{
	padding: 0; margin: 0;
	list-style: none;
}
.selectIcon ul li{
	display: inline-block;
 	margin: 25px 25px 0px 25px;
 	 cursor: pointer;
}
.selectIcon ul li span{
	float: left;
	height: 29px;	
   
}
.iconbg1{
    background: url(../images/click.png);
    background-position: 0px 0px;
    width: 37px !important;
}
.iconbg2{
	background:url('../images/click.png');
	background-position: 30px 0px;	
	width: 30px !important;
}
.selectIcon ul li:hover .iconbg1{
	background:url('../images/click-1.png');
}
.selectIcon ul li:hover .iconbg2{
	background:url('../images/click-1.png');
	background-position: 30px 0px;	
}
.preText{
	width: 115px;
    font-size: 12px;
    line-height: 13px;
    float: right;
}
.selectIcon ul li:hover .preText{
	font-size: 12px;
	line-height: 13px;
	color: #0099fe;
}
.comman.buttons.flowBtns.flowBtns-1.flowBtns-2{
	padding-top: 100px;
}
.step-section.animate.fadeInUp.part4asec2{
	padding-top: 0px;
}
.part4atype{
	padding-bottom: 0px!important;
}
.part4atype textarea{
	border: 0px;
	border-bottom: 1px solid #bbb;
	width: 100%;
	outline: none;
	resize: none;
}
.part4atypeExamp {
    padding: 20px 0 !important;
    margin-bottom: 70px !important;
}
.part4atypeExamp ul {
	padding: 0; margin: 0; list-style: none;
}
.part4atypeExamp ul li{
	float: left;
	padding: 0px 20px
}
.part4atypeExamp ul li:nth-child(1){
	width: 20%;
}
.part4atypeExamp ul li:nth-child(2){
	width: 80%;	
	padding: 20px 20px 20px 0;
	color: #868585;
	    letter-spacing: .5px;
    word-spacing: 3px;
 }
 .part4atypeExamp ul li:nth-child(2) p span{
    display: inline-block;
    margin-left: -18px;
    width: 20px;
 }
  .part4atypeExamp ul li:nth-child(2) p span.bottomSpn{
 	margin-left: 10px;
 }
 .part4atypeExamp ul li:nth-child(2) h3{
	color: #000;
    font-size: 15px;
    font-weight: bold;
}
.comman.full span.btn-file
{
	    background: url(../images/input-file-1.jpg) no-repeat;
}

#preview img{
display: block;
transition: all .5s ease;
    height: 120px;
    margin: auto;
}

div#preview > div {
float: left;
    width: 17.5%;
    overflow: hidden;
    margin: 2%;
    height: 120px;
    margin-right: 0px;
    border: 1px solid #bbb;
    border-radius: 5px;
    background: #eee;
}
div#preview > div::before{
	height: 0px;
	width: 0px;
	transition: all .2s ease;
    position: absolute;
    z-index: 9999999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    padding: 0px 0;
    border-radius: 50px;
    font-size: 0px;
    border: 0px solid #b7b7b7;
    color: #737373;
    cursor: pointer;
    content: 'x';
    background-color: rgba(255, 255, 255, 0.87);
}
div#preview > div:hover::before{
	
    width: 40px;
    height: 40px;
    padding: 4px 0;
    font-size: 20px;
    border: 1px solid #b7b7b7;
    text-align: center;

}
.cameraIcon{
	padding: 25px 0;
	text-align: center;
}
.cameraIcon i{
	width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    background-color: #1aa3a3;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;    
    -webkit-transition: all .5s ease;
    -ms-transform: scale(1,1); /* IE 9 */
    -webkit-transform: scale(1,1); /* Safari */
    transform: scale(1,1);
}
.cameraIcon i:hover{
-ms-transform: scale(1.1,1.1);
-webkit-transform: scale(1.1,1.1); 
transform: scale(1.1,1.1);    
}

div#preview{
    width: 100%;
    margin-top: 15px;
    height: 158px;
    background-color: #eee;
    clear: both;
    display: none;
}
.comman.full .newtext{
	width: 100% !important;
}
.cusPlaceH{
	width: auto !important;
    text-align: center;
    color: #000 !important;
    font-size: 16px !important;
    padding-bottom: 0px !important;
    float: left;
    position: absolute;
    bottom: 20%;
    z-index: 999999;
    left: 50%;
    margin: auto;
    transform: translateX(-50%);
    display: none;
}
