@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue.eot');
    src: url('HelveticaNeue.eot') format('embedded-opentype'),         
         url('HelveticaNeue.woff') format('woff'),
         url('HelveticaNeue.ttf') format('truetype'),
         url('HelveticaNeue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('HelveticaNeue-Light.eot');
    src: url('HelveticaNeue-Light.eot') format('embedded-opentype'),         
         url('HelveticaNeue-Light.woff') format('woff'),
         url('HelveticaNeue-Light.ttf') format('truetype'),
         url('HelveticaNeue-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('HelveticaNeue-Medium.eot');
    src: url('HelveticaNeue-Medium.eot') format('embedded-opentype'),
         url('HelveticaNeue-Medium.woff2') format('woff2'),
         url('HelveticaNeue-Medium.woff') format('woff'),
         url('HelveticaNeue-Medium.ttf') format('truetype'),
         url('HelveticaNeue-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('HelveticaNeue-Bold.eot');
    src: url('HelveticaNeue-Bold.eot') format('embedded-opentype'),         
         url('HelveticaNeue-Bold.woff') format('woff'),
		 url('HelveticaNeue-Bold.woff2') format('woff2'),
         url('HelveticaNeue-Bold.ttf') format('truetype'),
         url('HelveticaNeue-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}