@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('proximanova-bold-webfont.eot');
    src: url('proximanova-bold-webfont.eot') format('embedded-opentype'),         
         url('proximanova-bold-webfont.woff') format('woff'),
         url('proximanova-bold-webfont.ttf') format('truetype'),
         url('proximanova-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-regular-webfont.eot');
    src: url('proximanova-regular-webfont.eot') format('embedded-opentype'),         
         url('proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('proximanova-semibold-webfont.eot');
    src: url('proximanova-semibold-webfont.eot') format('embedded-opentype'),
         url('proximanova-semibold-webfont.woff2') format('woff2'),
         url('proximanova-semibold-webfont.woff') format('woff'),
         url('proximanova-semibold-webfont.ttf') format('truetype'),
         url('proximanova-semibold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNovaLight';
    src: url('proximanova-light-webfont.eot');
    src: url('proximanova-light-webfont.eot') format('embedded-opentype'),         
         url('proximanova-light-webfont.woff') format('woff'),
         url('proximanova-light-webfont.ttf') format('truetype'),
         url('proximanova-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximaNovaThin';
    src: url('proximanovat-thin-webfont.eot');
    src: url('proximanovat-thin-webfont.eot') format('embedded-opentype'),
         url('proximanovat-thin-webfont.woff2') format('woff2'),
         url('proximanovat-thin-webfont.woff') format('woff'),
         url('proximanovat-thin-webfont.ttf') format('truetype'),
         url('proximanovat-thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
